<!DOCTYPE html>
<html lang="es">
<head>
    <title>Contrato {{ nombre }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .mod-td2 {
            border-bottom: 2px solid black;
        }

        @page {
            size: legal portrait;
            margin-top: 40px;
            margin-bottom: 50px;
            margin-right: 40px;
            margin-left: 40px;

            @bottom-left {
                color: #818181;
                font-size: 11px;
                content: "Página " counter(page) " de " counter(pages);
                margin-bottom: 50px;
                margin-left: 20px;
            }
        }

        .mod-tr {
            line-height: 10px;
            min-height: 10px;
            height: 25px;
            font-size: 15px;
        }

        .mod-1 {
            line-height: 10px;
            min-height: 10px;
            height: 20px;
            font-size: 20px;
        }

        .t-a {
            font-family: Arial, Helvetica, sans-serif;
        }

        .t-b {
            font-size: 12px;
            text-align: justify;
        }

        .mod-border {
            line-height: 10px;
            border-right: 1px solid black;
        }

        .mod-bg2 {
            background-color: #B6E570;
        }

        .mid {
            vertical-align: middle
        }

        .mod-td1 {
            border-right: 2px solid black;
        }

        .mod-td3 {
            border-right: 1px solid gray;
        }

        footer {
            position: fixed;
            width: 100%;
            /*position: running(footer);*/
            /*position: absolute;*/
            bottom: 0;
            /*display: block;*/
        }
    </style>
</head>
<body>

<div class="container">
    <div style="max-width: available;">
        <table class="table table-borderless table-sm t-a">
            <tr class="mod-1">
                <td colspan="20">&nbsp;</td>
            </tr>
            <tr class="mod-1">
                <td colspan="20">&nbsp;</td>
            </tr>
            <tr class="mod-1">
                <td colspan="20">&nbsp;</td>
            </tr>
            <tr class="mod-1">
                <td colspan="20">&nbsp;</td>
            </tr>
            <tr class="mod-1">
                <td colspan="20">&nbsp;</td>
            </tr>
            <tr class="mod-1">
                <td colspan="20">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="20" class="text-end t-b lh-base"> Contrato No. {{ n_contrato }}</td>
            </tr>
            <tr class="mod-1">
                <td colspan="20">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="20" class="t-b lh-base">
                    <p style="padding-bottom: 0">
                        Entre los suscritos a saber <b>RC FINANCIAL GROUP, CORP.</b>, persona jurídica constituida y
                        vigente
                        con las leyes de la República de Panamá y debidamente inscrita en el Registro Público en la
                        Sección Mercantil <b>FOLIO ELECTRÓNICO NO. 155674055</b> y con domicilio en <b>PROVINCIA DE
                        PANAMÁ,
                        DISTRITO DE PANAMÁ, BELLA VISTA, OBARRIO,
                        CALLE 60, EDIFICIO OBARRIO 60, PISO 16, OFICINA 16E</b> por una parte, que en adelante se
                        denominará
                        <b>EL ACREEDOR</b>, y por otra parte <b class="text-uppercase">{{ nombre }}</b> de nacionalidad
                        <b class="text-uppercase">{{ nacionalidad }}</b>,
                        vecino(a) de
                        esta ciudad, portador(a) de <b>DOCUMENTO DE IDENTIFICACIÓN, N° {{ dni }}</b>, con domicilio en
                        <b class="text-uppercase">{{ direccion }}</b>, con correo electrónico
                        <b>{{ correo }}</b>, con número de teléfono <b>{{ celular }}</b>, actuando en
                        su propio
                        nombre y /o en representación de quienes en adelante se denominarán <b>EL (O LOS) DEUDOR(ES)</b>
                        o los
                        <b>CO-DEUDORES</b>, celebran el siguiente contrato mediante el método de <b>INTERÉS AGREGADO</b>.
                        <br><br>

                        <b>PRIMERO:</b> En el presente acto <b>EL ACREEDOR</b> otorgan a <b>EL (O LOS) DEUDOR(ES)</b> un
                        préstamo por la suma
                        de <b class="text-uppercase">{{ monto_word }}</b> a un plazo de <b>{{ plazo }} MESES</b> y una
                        tasa
                        nominal de <b>2%</b>
                        mensual. <b>TASA EFECTIVA DE {{ tir }}%</b>. <br><br>

                        <b>SEGUNDO: EL (O LOS) DEUDOR(ES)</b> pagarán a <b>EL ACREEDOR</b> en concepto de intereses la
                        suma de <b>B/. {{ intereses }}.</b> La devolución de intereses será por cancelación anticipada,
                        mediante el método de <b>SUMA
                        AÑOS DÍGITOS</b> (tabla del 78). Articulo No.31 de la Ley 42 de 2001. <br><br>

                        <b>TERCERO: EL (O LOS) DEUDOR(ES)</b> pagarán por comisión de cierre o manejo equivalente al <b>{{ p_manejo }}</b>
                        por la
                        suma de <b>B/. {{ c_manejo }}</b>; Fondo Especial de Compensación de Intereses (FECI) por la
                        suma de <b>B/.
                        0.00</b>; Gasto de
                        notaria <b>B/. 12.00</b>; Seguros por la suma de <b>B/. {{ seguros }}.</b> Si se cancela
                        anticipadamente
                        la deuda, los
                        seguros son devueltos al cliente por la suma total no utilizada sin descontar suma alguna a
                        favor de la financiera.
                    </p>
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="5">
                    <b>OBLIGACIÓN TOTAL:</b>
                </td>
                <td colspan="8"></td>
                <td colspan="7" style="border-bottom: 1px solid black" class="text-end">
                    B/. {{ monto_p }}
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="2"><b>Menos</b></td>
                <td colspan="3"><b>Notaría:</b></td>
                <td colspan="8"></td>
                <td colspan="7" style="border-bottom: 1px solid black" class="text-end">
                    B/. 12.00
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="2"></td>
                <td colspan="3"><b>FECI:</b></td>
                <td colspan="8"></td>
                <td colspan="7" style="border-bottom: 1px solid black" class="text-end">
                    B/. 0.00
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="2"></td>
                <td colspan="3"><b>Primas de Seguros:</b></td>
                <td colspan="8"></td>
                <td colspan="7" style="border-bottom: 1px solid black" class="text-end">
                    B/. {{ seguros }}
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="20"></td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="5">
                    <b>Monto de la Obligación:</b>
                </td>
                <td colspan="8"></td>
                <td colspan="7" style="border-bottom: 1px solid black" class="text-end">
                    B/. {{ monto_ob }}
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="2"><b>Menos</b></td>
                <td colspan="3"><b>Intereses:</b></td>
                <td colspan="8"></td>
                <td colspan="7" style="border-bottom: 1px solid black" class="text-end">
                    B/. {{ intereses }}
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="2"></td>
                <td colspan="3"><b>Comisión:</b></td>
                <td colspan="8"></td>
                <td colspan="7" style="border-bottom: 1px solid black" class="text-end">
                    B/. {{ c_manejo }}
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="2"></td>
                <td colspan="3">&nbsp;&nbsp; Timbres Fiscales:</td>
                <td colspan="6" class="text-end"> B/. {{ timbres }}</td>
                <td colspan="9">
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="2"></td>
                <td colspan="4">&nbsp;&nbsp; Servicio de Descuento:</td>
                <td colspan="5" class="text-end"> B/. {{ s_descuento }}</td>
                <td colspan="9">
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="2"></td>
                <td colspan="3">&nbsp;&nbsp; Otros Gastos:</td>
                <td colspan="6" class="text-end"> B/. {{ otros }}</td>
                <td colspan="9">
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="2"></td>
                <td colspan="3">&nbsp;&nbsp; Administración:</td>
                <td colspan="6" class="text-end"> B/. {{ admin }}</td>
                <td colspan="9">
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="20"></td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="5">
                    <b>Neto por entregar:</b>
                </td>
                <td colspan="8"></td>
                <td colspan="7" style="border-bottom: 1px solid black" class="text-end">
                    B/. {{ n_entregar }}
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="2"><b>Menos</b></td>
                <td colspan="3">Cancelaciones:</td>
                <td colspan="8" class="fst-italic">{{ c_saldo_1 }}</td>
                <td colspan="7" style="border-bottom: 1px solid black" class="text-end">
                    {% if c_sub_1 %}
                        B/. {{ c_sub_1 }}
                    {% else %}
                        B/. 0.00
                    {% endif %}
                </td>
            </tr>
            {% if c_saldo_2 %}
                <tr class="t-b lh-1">
                    <td colspan="5"></td>
                    <td colspan="8" class="fst-italic">{{ c_saldo_2 }}</td>
                    <td colspan="7" style="border-bottom: 1px solid black" class="text-end">
                        B/. {{ c_sub_2 }}
                    </td>
                </tr>
            {% endif %}
            {% if c_saldo_3 %}
                <tr class="t-b lh-1">
                    <td colspan="5"></td>
                    <td colspan="8" class="fst-italic">{{ c_saldo_3 }}</td>
                    <td colspan="7" style="border-bottom: 1px solid black" class="text-end">
                        B/. {{ c_sub_3 }}
                    </td>
                </tr>
            {% endif %}
            <tr class="t-b lh-1">
                <td colspan="2"></td>
                <td colspan="3">I.T.B.M.S.:</td>
                <td colspan="8"></td>
                <td colspan="7" style="border-bottom: 1px solid black" class="text-end">
                    B/. {{ itbms }}
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="5">
                    <b>NETO DE LOS DEUDORES:</b>
                </td>
                <td colspan="8"></td>
                <td colspan="7" style="border-bottom: 1px solid black" class="text-end">
                    B/. {{ desembolso }}
                </td>
            </tr>
            <tr>
                <td colspan="20" class="t-b lh-base">
                    <p style="padding-bottom: 0">
                        <br>
                        <b>CUARTO: EL (O LOS) DEUDOR(ES)</b> se obligan a pagar a <b>EL ACREEDOR</b>, en sus oficinas la
                        totalidad del
                        monto otorgado en un plazo de <b>{{ plazo }}</b> meses, mediante <b>{{ cuotas_regulares }}</b>
                        pagos quincenales de <b class="text-uppercase">{{ cuota_1 }}</b> cada uno y un último pago de
                        <b class="text-uppercase">{{ cuota_2 }}</b>, debiendo hacerse el primero pago el <b class="text-uppercase">{{ fecha_inicio }}</b>, y de ahí
                        en adelante cada 15 y/o 30 días desde la última fecha de pago. <br><br>

                        <b>QUINTO:</b> Declara <b>EL ACREEDOR</b> que en caso de que sean jubilados se efectuara el 50%
                        de descuento
                        de
                        los gastos y el 15% de descuento de la tasa de interés, según artículo primero de la Ley No. 6
                        de
                        1987. <br><br>

                        <b>SEXTO: EL (O LOS) DEUDOR (ES)</b> aceptan que por razones de cambio de patrono o cualquiera
                        otra
                        circunstancia dejan firmados en blanco los siguientes documentos: cuatro autorizaciones de
                        descuento
                        de empresa privada, dos de contraloría general, dos de jubilados, dos solicitudes de
                        certificación
                        de jubilados, con el único propósito de dar cumplimiento a lo aceptado en este contrato de
                        préstamo.
                        Los cuáles serán entregados y/o destruidos al llegar el término del presente contrato. <br><br>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="20">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="20">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="20" class="t-b lh-base">
                    <p style="padding-bottom: 0">
                        <br>
                        <br>
                        <b>SÉPTIMO: EL (O LOS) DEUDOR(ES)</b> o los <b>CO-DEUDORES</b> acuerdan que, en caso de mora en
                        el pago de
                        cualquier abono, los deudores deberán pagar a <b>EL ACREEDOR</b> un recargo por mora un
                        equivalente de
                        <b>2%</b>
                        mensual sobre los pagos de plazo vencido no capitalizable y en proporción al tiempo de dicho
                        vencimiento. <br><br>

                        <b>OCTAVO:</b> Para garantizar el pago de la suma adeudada de acuerdo a la cláusula primera de
                        este
                        contrato, el pago por mora si lo hubiese y gastos de cobranza, <b>EL (O LOS) DEUDOR(ES)</b> o
                        los
                        <b>CO-DEUDORES</b>, otorgan en este acto un pagaré a la orden del <b>EL ACREEDOR</b> por la suma
                        principal de
                        <b class="text-uppercase">{{ monto_pg }}</b>. <br><br>

                        <b>NOVENO:</b> La falta de pago de tres abonos dará a <b>EL ACREEDOR</b>, derecho a declarar la
                        totalidad la
                        deuda
                        de plazo vencido y proceder a su cobro por la vía judicial. Así mismo <b>EL ACREEDOR</b>, podrá
                        declarar la
                        deuda la totalidad de la deuda plazo vencido por insolvencia, disolución, quiebra o
                        fallecimiento de
                        cualquier <b>DEUDOR (ES)</b>. <br><br>

                        <b>DÉCIMO:</b> Declara <b>EL (O LOS) DEUDOR (ES)</b> que en caso del que préstamo sea cancelado
                        antes de su
                        vencimiento, <b>EL ACREEDOR</b> podrá cobrar hasta una tasa del 3% por ciento sobre el saldo a
                        capital
                        no
                        vencido, siempre que esta cancelación se produzca antes de la mitad del plazo del préstamo. <br><br>

                        <b>DÉCIMO PRIMERO: EL (O LOS) DEUDOR (ES)</b> declaran que aceptan expresamente las condiciones
                        generales, sin espacios en blanco y los términos del contrato. En fe de lo cual se otorga el
                        presente en
                        Panamá, República de Panamá, al {{ fecha_firma }}.
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="20">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="20">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="20">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="20">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="5" style="border-bottom: 1px solid black">
                    &nbsp;
                </td>
                <td colspan="7"></td>
                <td colspan="8" style="border-bottom: 1px solid black"></td>
            </tr>
            <tr>
                <td colspan="5" class="fw-bold text-start" style="font-size: 9px; line-height: 7px">
                    EL ACREEDOR
                </td>
                <td colspan="7" style="font-size: 9px; line-height: 7px"></td>
                <td colspan="8" class="fw-bold text-start text-uppercase" style="font-size: 9px; line-height: 7px">
                    {{ nombre }}
                </td>
            </tr>
            <tr>
                <td colspan="5" class="fw-bold text-start" style="font-size: 9px; line-height: 7px"></td>
                <td colspan="7" style="font-size: 9px; line-height: 7px"></td>
                <td colspan="8" class="fw-bold text-start text-uppercase" style="font-size: 9px; line-height: 7px">
                    {{ tag_doc }} {{ dni }}
                </td>
            </tr>
            <tr>
                <td colspan="5" class="fw-bold text-start" style="font-size: 9px; line-height: 7px"></td>
                <td colspan="7" style="font-size: 9px; line-height: 7px"></td>
                <td colspan="8" class="fw-bold text-start text-uppercase" style="font-size: 9px; line-height: 7px">
                    EL DEUDOR
                </td>
            </tr>
            <tr>
                <td colspan="20">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="20">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="20">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="20">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="12"></td>
                <td colspan="8" style="border-bottom: 1px solid black"></td>
            </tr>
            <tr>
                <td colspan="12" style="font-size: 9px; line-height: 7px"></td>
                <td colspan="8" class="fw-bold text-start text-uppercase" style="font-size: 9px; line-height: 7px">
                    N°.
                </td>
            </tr>
            <tr>
                <td colspan="12" style="font-size: 9px; line-height: 7px"></td>
                <td colspan="8" class="fw-bold text-start text-uppercase" style="font-size: 9px; line-height: 7px">
                    CO-DEUDOR
                </td>
            </tr>

        </table>

    </div>

</div>

</body>
<footer>
    <div class="container">
        <div style="max-width: available;">
            <table class="table table-borderless table-sm">
                <tr class="mod-1">
                    <td style="width: 100%;border-bottom: 1px solid #cccccc">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
</footer>
</html>
