<!DOCTYPE html>
<html lang="es">
<head>
    <title>O.D. {{ nombre }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .mod-td2 {
            border-bottom: 2px solid black;
        }

        @page {
            size: letter portrait;
            margin-top: 30px;
            margin-bottom: 20px;
            margin-right: 40px;
            margin-left: 40px;
        }

        .mod-tr {
            line-height: 10px;
            min-height: 10px;
            height: 25px;
            font-size: 14px;
        }

        .mod-1 {
            line-height: 10px;
            min-height: 10px;
            height: 20px;
            font-size: 20px;
        }

        .t-a {
            font-family: Arial, sans-serif;
        }

        .t-b {
            font-size: 12px;
            text-align: justify;
        }

        .mod-border {
            line-height: 10px;
            border-right: 1px solid black;
        }

        .mod-bg2 {
            background-color: #B6E570;
        }

        .mid {
            vertical-align: middle
        }

        .mod-td1 {
            border-right: 2px solid black;
        }

        .mod-td3 {
            border-right: 1px solid gray;
        }

        footer {
            position: fixed;
            width: 100%;
            /*position: running(footer);*/
            /*position: absolute;*/
            bottom: 0;
            /*display: block;*/
        }
    </style>
</head>
<body>

<div class="container">
    <div style="max-width: available;">
        <table class="table table-borderless table-sm t-a">
            <tr class="mod-1">
                <td style="width: 5%; background-color: #8bc53f"></td>
                <td colspan="20"></td>
            </tr>
            <tr>
                <td colspan="21"></td>
            </tr>
            <tr>
                <td rowspan="3" colspan="4" class="mod-tr align-middle">
                    <a href='https://rapi-cashpanama.com/'>
                        <img alt=''
                             src='https://rapicash.rcfinancialgroup.site/static/img/logo_dark.png'
                             style="width: 100%">
                    </a>
                </td>
                <td colspan="17" class="mod-tr align-bottom text-end text-uppercase fw-bold">RC FINANCIAL GROUP, CORP.
                </td>
            </tr>
            <tr>
                <td colspan="17" class="mod-tr align-bottom text-end text-uppercase fw-bold">RUC:155674055-2-2018 DV 4
                </td>
            </tr>
            <tr>
                <td colspan="17" class="mod-tr"></td>
            </tr>
            <tr>
                <td colspan="21" class="text-center align-top fw-bold" style="font-size: 18px;">AUTORIZACIÓN DE
                    DESCUENTO
                </td>
            </tr>

            <tr>
                <td colspan="21" class="t-b lh-sm text-end">Panamá, {{ fecha_enc }}</td>
            </tr>
            <tr>
                <td class="t-b lh-sm" colspan="21">Señores:</td>
            </tr>
            <tr>
                <td colspan="21" class="t-b lh-sm"><p style="padding-bottom: 0">
                    <b class="text-uppercase">{{ empresa }}</b><br>
                    Departamento de Pago <br> Sección de Planilla <br><br>

                    Estimados Señores: <br><br>

                    Por medio de esta nota yo, <b class="text-uppercase">{{ nombre }}&nbsp;</b> con <b class="text-uppercase">{{ documento }}</b> número <b>{{ dni }}</b>
                    autorizo se sirva descontar de mi sueldo, el total de <b class="text-uppercase">{{ monto_word }}</b>,
                    mediante <b>{{ regular_q }}</b> quincenas de
                    <b class="text-uppercase">{{ cuota_word }}</b> cada uno y un último pago de <b
                        class="text-uppercase">{{ cuota_u_word }}</b>. Este descuento, debe remitirse por cheque a
                    nombre de RC FINANCIAL
                    GROUP, CORP., o realizar trasferencia por ACH a la cuenta corriente de <b>BANCO ALIADO
                    N° 004100000442</b> para que sean aplicadas a la obligación que he contraído con dicha institución.
                    <br><br>

                    Esta autorización no podrá ser modificada o cancelada sin el consentimiento escrito de <b>RC
                    FINANCIAL
                    GROUP, CORP. (RAPICASH, S.A.)</b>, el descuento es a partir de la <b
                        class="text-uppercase">{{ inicio_descuento }}</b>. <br><br>

                    Descuento en Diciembre: <b>No</b> <br><br>

                    Con este préstamo se cancelan los siguientes compromisos:
                </p>


                </td>
            </tr>
            <tr class="fw-bold">
                <td colspan="15" style="background-color: #c8c8c8; font-size: 11px" class="text-center">COMPROMISOS A
                    CANCELAR
                </td>
                <td colspan="6" style="background-color: #c8c8c8; font-size: 11px" class="text-center">MONTO</td>
            </tr>

            <tr style="background-color: #ebebeb; font-size: 11px; line-height: 10px;" class="text-center">
                <td colspan="15">{{ c_saldo_1 }}</td>
                <td colspan="6">{{ c_sub_1 }}</td>
            </tr>
            <tr style="background-color: #ebebeb; font-size: 11px; line-height: 10px;" class="text-center">
                <td colspan="15">{{ c_saldo_2 }}</td>
                <td colspan="6">{{ c_sub_2 }}</td>
            </tr>
            <tr style="background-color: #ebebeb; font-size: 11px; line-height: 10px;" class="text-center">
                <td colspan="15">{{ c_saldo_3 }}</td>
                <td colspan="6">{{ c_sub_3 }}</td>
            </tr>
            <tr>
                <td colspan="21" class="t-b" style="line-height: 10px">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="21" class="t-b text-start">De ustedes atentamente,</td>
            </tr>
            <tr>
                <td colspan="21">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="6" style="height: 10px;line-height: 10px;border-bottom: 1px solid black">&nbsp;</td>
                <td colspan="8" style="height: 10px;line-height: 10px;">&nbsp;</td>
                <td colspan="7" style="height: 10px;line-height: 10px;border-bottom: 1px solid black">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="6" style="height: 8px;line-height: 8px;font-size: 9px;" class="text-uppercase ">
                    <b>{{ nombre }}</b></td>
                <td colspan="9" style="height: 8px;line-height: 8px;">&nbsp;</td>
                <td colspan="6" style="height: 8px;line-height: 8px;font-size: 9px;" class="text-uppercase "><b>Por la
                    empresa</b></td>
            </tr>
            <tr>
                <td colspan="6" style="height: 8px;line-height: 8px;font-size: 9px;" class="text-uppercase ">
                    <b> {% if documento == 'pasaporte' %}PP: {% else %}CIP: {% endif %}{{ dni }}</b></td>
                <td colspan="9" style="height: 8px;line-height: 8px;">&nbsp;</td>
                <td colspan="6" style="height: 8px;line-height: 8px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="12"></td>
                <td colspan="9" style="font-size: 10px;line-height: 10px"><b>Información de la persona que aprueba este
                    descuento:</b></td>
            </tr>
            <tr>
                <td colspan="14" style="line-height: 10px"></td>
                <td colspan="1" class="text-end align-bottom" style="font-size: 9px;line-height: 10px"><b>Nombre:</b>
                </td>
                <td colspan="6" style="font-size: 9px;line-height: 10px;border-bottom: 1px solid black"><b></b></td>
            </tr>
            <tr>
                <td colspan="14" style="line-height: 10px"></td>
                <td colspan="1" class="text-end align-bottom" style="font-size: 9px;line-height: 10px"><b>Teléfono:</b>
                </td>
                <td colspan="6" style="font-size: 9px;line-height: 10px;border-bottom: 1px solid black"><b></b></td>
            </tr>
            <tr>
                <td colspan="14" style="line-height: 10px"></td>
                <td colspan="1" class="text-end align-bottom" style="font-size: 9px;line-height: 10px"><b>Correo:</b>
                </td>
                <td colspan="6" style="font-size: 9px;line-height: 10px;border-bottom: 1px solid black"><b></b></td>
            </tr>
            <tr>
                <td colspan="14" style="line-height: 10px"></td>
                <td colspan="1" class="text-end align-bottom" style="font-size: 9px;line-height: 10px"><b>Fecha de
                    firma:</b></td>
                <td colspan="6" style="font-size: 9px;line-height: 10px;border-bottom: 1px solid black"><b></b></td>
            </tr>
            <tr>
                <td colspan="14" style="line-height: 10px">&nbsp;</td>
                <td colspan="6" style="line-height: 10px;border-bottom: 1px solid black">&nbsp;</td>
                <td colspan="1" style="line-height: 10px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="14" class="mod-border">&nbsp;</td>
                <td colspan="6" class="mod-border">&nbsp;</td>
                <td colspan="1" style="line-height: 10px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="14" class="mod-border">&nbsp;</td>
                <td colspan="6" class="mod-border">&nbsp;</td>
                <td colspan="1" style="line-height: 10px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="14" class="mod-border">&nbsp;</td>
                <td colspan="6" class="mod-border">&nbsp;</td>
                <td colspan="1" style="line-height: 10px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="14" class="mod-border">&nbsp;</td>
                <td colspan="6" class="mod-border">&nbsp;</td>
                <td colspan="1" style="line-height: 10px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="14" class="mod-border">&nbsp;</td>
                <td colspan="6" class="mod-border text-center" style="border-bottom: 1px solid black;font-size: 10px">
                    Sello de la empresa
                </td>
                <td colspan="1" style="line-height: 10px;">&nbsp;</td>
            </tr>


        </table>


    </div>
</div>

<footer>
    <table class="table table-borderless table-sm">
        <tr class="text-center t-a" style="font-size: 9px;color: darkblue;line-height: 7px;">
            <td colspan="2">
                Calle Gatún 6A, PH Obarrio 60 Piso 16 oficina 16E – Teléfonos 397-5152 / 397-3876
            </td>
        </tr>
        <tr class="text-center t-a" style="font-size: 9px;color: darkblue;line-height: 7px;">
            <td colspan="2">
                RC Financial Group, Corp. Institución financiera regulada por el MICI – Res. 006 del 16 de enero del
                2019.
            </td>
        </tr>
        <tr class="mod-1">
            <td style="width: 75%; background-color: #0f1c3f"></td>
            <td style="width: 25%; background-color: #8bc53f"></td>
        </tr>
    </table>
</footer>

</body>
</html>
