<!DOCTYPE html>
<html lang="es">
<head>
    <title>Pagaré {{ nombre }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .mod-td2 {
            border-bottom: 2px solid black;
        }

        @page {
            size: letter portrait;
            margin-top: 40px;
            margin-bottom: 50px;
            margin-right: 40px;
            margin-left: 40px;


        }

        @page :first {
            @bottom-left {
                color: #818181;
                font-size: 10px;
                content: "RapiCash, Panamá. RC Financial Group, Corp. Institucion financiera regulada por el MICI – Resolución 006 del 16 de enero del 2019.";
                text-align: center;
                border-top: 1px solid #cccccc;
                height: 20px;
                width: 100%;
            }
        }

        .mod-1 {
            line-height: 10px;
            min-height: 10px;
            height: 20px;
            font-size: 20px;
        }

        .t-a {
            font-family: Arial, sans-serif;
        }

        .t-b {
            font-size: 11px;
            text-align: justify;
        }

        footer {
            position: fixed;
            width: 100%;
            /*position: running(footer);*/
            /*position: absolute;*/
            bottom: 0;
            /*display: block;*/
        }

        @page Section1 {
            size: letter portrait;
            margin: .5in .4in .5in .4in;
        }

        div.break {
            page-break-before: always;
        }

    </style>
</head>

<body>

<div class="container">
    <div style="max-width: available;">
        <table class="table table-borderless table-sm t-a">
            <tr class="mod-1">
                <td colspan="20">&nbsp;</td>
            </tr>
            <tr class="mod-1">
                <td colspan="20">&nbsp;</td>
            </tr>
            <tr class="mod-1">
                <td colspan="20">&nbsp;</td>
            </tr>
            <tr class="mod-1">
                <td colspan="20">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="20" class="text-center lh-base h5"><b>PAGARÉ DE PRÉSTAMO</b></td>
            </tr>
            <tr class="mod-1">
                <td colspan="20">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="20" class="t-b lh-base">
                    <p style="padding-bottom: 0">
                        De conformidad con lo preceptuado en los artículos 915 a 918 del Código de Comercio de
                        Panamá
                        vigente a la fecha, en mi condición de prestatario(a) principal responsable de la obligación
                        crediticia <b>{{ n_contrato }}</b> del <b class="text-uppercase">{{ fecha_firma }}</b> y de acuerdo a la
                        siguiente
                        información:
                    </p>
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="9">
                    Pagaré N°:
                </td>
                <td colspan="11">
                    <b>{{ n_contrato }}</b>
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="9">
                    Lugar y Fecha de la firma:
                </td>
                <td colspan="11">
                    <b>PANAMÁ, REPÚBLICA DE PANAMÁ</b>
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="9">
                    Valor:
                </td>
                <td colspan="11">
                    <b class="text-uppercase">{{ monto_pg }}</b>
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="9">
                    Plazo:
                </td>
                <td colspan="11">
                    <b>{{ plazo }} MESES</b>
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="9">
                    Intereses corrientes durante el plazo:
                </td>
                <td colspan="11">
                    <b>24% EFECTIVO ANUAL</b>
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="9">
                    Intereses de mora:
                </td>
                <td colspan="11">
                    <b>2% SOBRE EL SALDO ADEUDADO</b>
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="9">
                    Lugar donde se efectuará el pago:
                </td>
                <td colspan="11">
                    <b>PROVINCIA DE PANAMÁ, DISTRITO DE PANAMÁ, BELLA VISTA, OBARRIO, CALLE 60, EDIFICIO OBARRIO 60,
                        PISO 16, OFICINA 16E</b>
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="9">
                    Persona a quien debe hacerse el pago <b>(EL ACREEDOR)</b>:
                </td>
                <td colspan="11">
                    <b>RC FINANCIAL GROUP, CORP.</b>
                </td>
            </tr>
            <tr class="t-b lh-1">
                <td colspan="9">
                    Persona quien deberá realizar el pago <b>(EL DEUDOR)</b>:
                </td>
                <td colspan="11">
                    <b class="text-uppercase">{{ nombre }}</b>
                </td>
            </tr>
            <tr>
                <td colspan="20" class="t-b lh-base">
                    <p style="padding-bottom: 0">
                        <br>
                        Declaro mediante las siguientes clausulas: <br><br>

                        <b>PRIMERA:</b> Que por virtud del presente título valor pagaré incondicionalmente y sin
                        protesto a la
                        orden de <b>RC FINANCIAL GROUP, CORP. (RAPICASH, S.A.)</b>, sociedad anónima, constituida,
                        vigente con
                        las leyes de la República de Panamá y debidamente inscrita en el Registro Público al <b>FOLIO
                        ELECTRÓNICO NO. 155674055 asiento No.1</b>; a quien posteriormente represente sus derechos,
                        en
                        la
                        ciudad y dirección indicados, y en las fechas de amortización por cuotas señaladas en la
                        cláusula tercera de este pagaré, la suma de
                        <b class="text-uppercase">{{ monto_pg }}</b>, más los intereses señalados en la cláusula
                        segunda de este documento. <br><br>

                        <b>SEGUNDA:</b> Que sobre la suma debida se reconocerán intereses corrientes a una tasa
                        efectiva
                        mensual del <b>2%</b>. Sin embargo, en caso de morosidad en el cumplimiento de las cuotas
                        señaladas en
                        la cláusula tercera de este pagaré, cancelaré intereses de mora a una tasa efectiva mensual
                        del
                        <b>2%</b>, sobre el saldo acumulado de capital. <br><br>

                        <b>TERCERA:</b> Que pagaré el capital indicado en la cláusula primera de este pagaré
                        mediante
                        <b>{{ cuotas_regulares }}</b> pagos quincenales de <b
                            class="text-uppercase">{{ cuota_1 }}</b>
                        cada uno y un último pago <b
                            class="text-uppercase">{{ cuota_2 }}</b> debiendo hacerse el primer pago el <b
                            class="text-uppercase">{{ fecha_inicio }}</b> y de allí en adelante cada 15 y/o 30 de
                        cada
                        mes.
                        <br><br>

                        <b>CUARTA:</b> El tenedor del presente pagaré podrá declarar vencidos la totalidad de los
                        plazos
                        de
                        esta obligación o de las cuotas que constituyan el saldo de lo debido y exigir su pago
                        inmediato
                        ya sea judicial o extrajudicialmente, cuando el deudor entre en mora o incumpla cualquiera
                        de
                        las obligaciones derivadas del presente título ejecutivo o del contrato subyacente que está
                        firmado y notariado por las partes. <br><br>

                        QUINTA: Los gastos originados por concepto de impuesto de timbre, gastos legales y cualquier
                        otro gravamen fiscal o judicial que resultare como producto de las acciones de cobro del
                        presente pagaré, correrán a cargo de <b>EL DEUDOR</b>. <br><br>

                        En constancia de lo anterior, se suscribe este pagaré sin protesto en <b>CIUDAD DE PANAMÁ,
                        PROVINCIA DE PANAMÁ</b> el día <b class="text-uppercase">{{ fecha_firma }}</b>.

                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="20">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="8" style="border-bottom: 1px solid black">
                </td>
                <td colspan="11"></td>
            </tr>
            <tr>
                <td style="font-size: 9px; line-height: 7px"></td>
                <td colspan="8" class="fw-bold text-center text-uppercase" style="font-size: 9px; line-height: 7px">
                    {{ nombre }}
                </td>
                <td colspan="11" style="font-size: 9px; line-height: 7px"></td>
            </tr>
            <tr>
                <td style="font-size: 9px; line-height: 7px"></td>
                <td colspan="8" class="fw-bold text-center text-uppercase" style="font-size: 9px; line-height: 7px">
                    {{ dni }}
                </td>
                <td colspan="11" style="font-size: 9px; line-height: 7px"></td>
            </tr>
        </table>
    </div>
</div>

<div class="break">
    <div style="max-width: available;">
    <table class="table table-borderless table-sm">
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-center fw-bold t-a">
            <p>
                -CESIÓN- <br>
                PAGARÉ A LA ORDEN DE <span style="border-bottom: 1px solid black; padding-left: 200px">&nbsp;</span> POR VALOR RECIBIDO <br>
                FECHA <span style="border-bottom: 1px solid black; padding-left: 200px">&nbsp;</span> <br>
                RC FINANCIAL GROUP, CORP. (RAPICASH, S.A.) <span style="border-bottom: 1px solid black; padding-left: 250px">&nbsp;</span>
            </p>

            </td>
        </tr>


    </table>
    </div>
</div>

</body>


</html>
