<!DOCTYPE html>
<html lang="es">
<head>
    <title>Estado de cuenta {{ nombre }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        @page {
            size: legal landscape;
            margin-top: 40px;
            margin-bottom: 50px;
            margin-right: 40px;
            margin-left: 40px;

        }

        .td_mod {
            border: 1px solid black;
            line-height: 16px;
            min-height: 0;
            height: 14px;
            font-size: 11px;
        }

        .th_mod_2 {
            border: 1px solid black;
            font-size: 12px;
        }

        body {
            font-family: 'Helvetica', sans-serif;
        }

        .table-text{
            padding: 0;
            margin: 0;
            font-size: 14px;
        }

        .t-text {
            font-size: 16px;
            font-style: italic;
            padding: 0;
            margin: 0;
            font-weight: bold;
        }

        .mod-row {
            border-bottom: 4px solid white;
            font-size: 14px;
        }

        .mod-tr {
            line-height: 12px;
            min-height: 20px;
            height: 32px;
            font-size: 14px;
        }
    </style>
</head>
<body>

<div class="container">
    <div style="max-width: available;">
        <table class="table table-sm table-borderless" style="color: #002060;">
            <tr>
                <td style="width:75%;" class="t-text">Rapicash</td>
                <td rowspan="4" style="width:20%; vertical-align: middle" class="text-center mid"><a href='https://rapi-cashpanama.com/'>
                    <img alt=''
                         src='https://rapi-cashpanama.com/wp-content/uploads/2018/06/Logo-Verde-OverW.png'
                         class="img-fluid w-75">
                </a>
                </td>
            </tr>
            <tr>
                <td class="t-text">Departamento de cobros</td>
            </tr>
            <tr>
                <td class="t-text">&nbsp;</td>
            </tr>
            <tr>
                <td  class="t-text">Estado de cuenta</td>
            </tr>
            <tr class="text-uppercase">
                <td colspan="2" class="t-text">{{ nombre_cliente }}</td>
            </tr>
            <tr>
                <td colspan="2" class="t-text">Préstamo: No.{{ num_prestamo }}</td>
            </tr>
        </table>

        <table style="width: 100%;">
            <thead>
                <tr class="text-center">
                    <th class="th_mod_2">Fecha pago</th>
                    <th class="th_mod_2"># de pago</th>
                    <th class="th_mod_2">Mes</th>
                    <th class="th_mod_2">Letra</th>
                    <th class="th_mod_2">Desembolso</th>
                    <th class="th_mod_2">Ingreso manejo</th>
                    <th class="th_mod_2">Ingreso Notaría</th>
                    <th class="th_mod_2">Pago</th>
                    <th class="th_mod_2">Abono a mora</th>
                    <th class="th_mod_2">Abono a intereses</th>
                    <th class="th_mod_2">Pago seguros</th>
                    <th class="th_mod_2">Abono a capital</th>
                    <th class="th_mod_2">Abono a notaría</th>
                    <th class="th_mod_2">Abono a comisión</th>
                    <th class="th_mod_2">Saldo capital</th>
                    <th class="th_mod_2">Saldo agregado</th>
                </tr>
            </thead>
            <tbody>
            <tr class="text-center">
                <td class="th_mod_2">{{ fecha_inicial }}</td>
                <th colspan="2">SALDO INICIAL</th>
                <td class="td_mod"></td><td class="td_mod"></td><td class="td_mod"></td><td class="td_mod"></td>
                <td class="th_mod_2">{{ saldo_inicial }}</td>
            </tr>
                {{ tabla|safe }}
            </tbody>
        </table>
    </div>
</div>

</body>

</html>

