{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Clientes al Día</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.0.0-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'lib/adminlte-3.1.0/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/js_pdf/jspdf.umd.min.js' %}"></script>
    <script src="{% static 'lib/js_pdf/jspdf.plugin.autotable.js' %}"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>#}


    <style>
        @page {
            size: legal landscape;
            margin-top: 40px;
            margin-bottom: 50px;
            margin-right: 40px;
            margin-left: 40px;

        }

        .td_mod {
            border: 1px solid black;
            line-height: 16px;
            min-height: 0;
            height: 14px;
            font-size: 11px;
        }

        .th_mod_2 {
        {#border: 1px solid black;#} font-size: 10px;
        }

        body {
            font-family: 'Helvetica', sans-serif;
        }

        .ruc-text {
            font-size: 20px;
            font-style: normal;
            padding: 0;
            margin: 0;
            font-weight: bold;
        }

        .title-text {
            font-size: 22px;
            font-style: normal;
            padding: 0;
            margin: 0;
            font-weight: bold;
        }

        .t-text {
            font-size: 16px;
            font-style: italic;
            padding: 0;
            margin: 0;
            font-weight: bold;
        }

        .mod-row {
            border-bottom: 4px solid white;
            font-size: 14px;
        }

        .mod-tr {
            line-height: 12px;
            min-height: 20px;
            height: 32px;
            font-size: 14px;
        }
    </style>
</head>
<body style="visibility: hidden">

<button onclick="demoFromHTML();">PDF</button>

<div class="container" id="customers">
    <div style="max-width: available;">
        <table id="cabecera" class="table table-sm table-bordered" style="color: #002060;">
            <tbody>
            <tr>
                <td rowspan="3" style="width:20%; vertical-align: top" class="mid"><a
                        href='https://rapi-cashpanama.com/'>
                    <img alt=''
                         src='{{ img }}'
                         class="img-fluid w-100">
                </a>
                </td>
                <td colspan="2" style="width:80%;" class="ruc-text text-end">RC FINANCIAL GROUP, CORP.</td>
            </tr>
            <tr>
                <td colspan="2" class="ruc-text text-end">RUC: 155674055-2-2018 DV 4</td>
            </tr>
            <tr>
                <td class="title-text">CARTERA CLIENTES ACTIVOS</td>
                <td style="width: 20%"></td>
            </tr>
            <tr style="font-size: 14px">
                <td><b style="font-size: 14px">Fecha inicio: </b>{{ fecha_ini }}</td>
                <td class="text-center"><b style="font-size: 14px">Fecha fin: </b>{{ fecha_fin }}</td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <table id="table_test" style="width: 100%;" class="table table-sm table-borderless">
            <thead>
            <tr class="table-dark">
                <td colspan="15" style="font-size: 10px;"><b>CARTERA CLIENTES</b></td>
            </tr>
            <tr class="text-center table-secondary">
                <th class="th_mod_2"># Contrato</th>
                <th class="th_mod_2">Nombre Cliente</th>
                <th class="th_mod_2">F. contrato</th>
                <th class="th_mod_2">Capital</th>
                <th class="th_mod_2">Interés</th>
                <th class="th_mod_2">Promotor</th>
                <th class="th_mod_2">S. descuento</th>
                <th class="th_mod_2">Notaría</th>
                <th class="th_mod_2">Timbres</th>
                <th class="th_mod_2">Administración</th>
                <th class="th_mod_2">Feci</th>
                <th class="th_mod_2">Total seguros</th>
                <th class="th_mod_2">Ob. total.</th>
                <th class="th_mod_2">Pagado</th>
                <th class="th_mod_2">Saldo</th>
            </tr>
            </thead>
            <tbody style="font-size: 10px" class="text-center text-capitalize">
            {{ tabla|safe }}
            </tbody>
        </table>
        <table id="t_foot" style="width: 100%;" class="table table-sm table-borderless">
            <tbody style="font-size: 10px;">
            <tr class="table-dark">
                <td colspan="2"><b>Total clientes: {{ total_clientes }}</b></td>
                <td colspan="4"><b>Capital total: {{ total_capital }}</b></td>
                <td colspan="7"><b>&nbsp;</b></td>
                <td colspan="7"><b>&nbsp;</b>{{ total_pagado }}</td>
                <td colspan="2"><b>Total agregado: {{ total_agregado }}</b></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<button onclick="demoFromHTML();">PDF</button>

</body>

<script>

    function demoFromHTML() {
        const doc = new jspdf.jsPDF({orientation: "landscape", format: 'legal', title: 'test'});
        doc.setFontSize(10);
        let width = doc.internal.pageSize.getWidth();
        console.log(width);
        doc.autoTable({
            html: '#cabecera',
            useCss: true,
            //styles: {
            //    lineColor: [44, 62, 80],
            //    lineWidth: 1,
            //},
            columnStyles: function(data){
                console.log(data);
                if (data.column.index === 0 && data.cell.section === 'body' && data.row.index === 0) {
                    console.log('print_1');
                }if (data.column.index === 2 && data.cell.section === 'body' && data.row.index === 3) {
                    console.log('print_2');
                }
            },


                //{
              //  0: {cellWidth: 0.2*width},
              //  1: {cellWidth: 0.6*width},
              //  2: {cellWidth: 0.2*width},
                // etc
            //},
            didDrawCell: function (data) {
                console.log(data.column.index, 'es el index col');
                console.log(data.row.index, 'es el index row__');
                if (data.column.index === 0 && data.cell.section === 'body' && data.row.index === 0) {
                    data.cell.styles.width = 0.2*width;
                    let td = data.cell.raw;
                    let img = td.getElementsByTagName('img')[0];
                    let dim = data.cell.height - data.cell.padding('vertical');
                    console.log(dim, 'es el dim');
                    let textPos = data.cell.getTextPos();
                    {#console.log(textPos);#}
                    doc.addImage(img.src, textPos.x, textPos.y, 40, 22.73);
                }
                if (data.column.index === 2 && data.cell.section === 'body' && data.row.index === 3) {
                    data.cell.styles.width = width;
                }
            }
        });
        let finalY = doc.lastAutoTable.finalY || 10;
        doc.autoTable({startY: finalY, html: '#table_test', useCss: true});
        finalY = doc.lastAutoTable.finalY;
        doc.autoTable({startY: finalY, html: '#t_foot', useCss: true});
        {#doc.autoTable({html: '#table_test', styles: { cellPadding: 0.5, fontSize: 8 }})#}
        {#doc.save("a4.pdf");#}
        {#doc.output('datauri');#}
        {#window.open(doc.output("dataurl"));#}
        window.open(URL.createObjectURL(doc.output("blob")), '_self');
    }

    (function () {
        demoFromHTML();
    })();

    {#import { jsPDF } from 'jspdf';#}

    function demoFromHTML_2() {
        {#window.jsPDF = window.jspdf.jsPDF;#}
        var generateData = function (amount) {
            var result = [];
            var data = {
                coin: "100",
                game_group: "GameGroup",
                game_name: "XPTO2",
                game_version: "25",
                machine: "20485861",
                vlt: "0"
            };
            for (var i = 0; i < amount; i += 1) {
                data.id = (i + 1).toString();
                result.push(Object.assign({}, data));
            }
            console.log(result);
            return result;
        };

        function createHeaders(keys) {
            var result = [];
            for (var i = 0; i < keys.length; i += 1) {
                result.push({
                    id: keys[i],
                    name: keys[i],
                    prompt: keys[i],
                    width: 65,
                    align: "center",
                    padding: 0
                });
            }
            console.log(result);
            return result;
        }

        var headers = createHeaders([
            "id",
            "coin",
            "game_group",
            "game_name",
            "game_version",
            "machine",
            "vlt"
        ]);

        var doc = new jspdf.jsPDF({putOnlyUsedFonts: true, orientation: "landscape"});
        doc.table(1, 1, generateData(100), headers, {autoSize: true});
        doc.save("a4.pdf");
    }

</script>

</html>

