<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mora > 90 días</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        @page {
            size: legal landscape;
            margin-top: 40px;
            margin-bottom: 50px;
            margin-right: 40px;
            margin-left: 40px;

        }

        .td_mod {
            border: 1px solid black;
            line-height: 16px;
            min-height: 0;
            height: 14px;
            font-size: 11px;
        }

        .th_mod_2 {
            {#border: 1px solid black;#}
            font-size: 10px;
        }

        body {
            font-family: 'Helvetica', sans-serif;
        }

        .ruc-text {
            font-size: 20px;
            font-style: normal;
            padding: 0;
            margin: 0;
            font-weight: bold;
        }

        .title-text {
            font-size: 22px;
            font-style: normal;
            padding: 0;
            margin: 0;
            font-weight: bold;
        }

        .t-text {
            font-size: 16px;
            font-style: italic;
            padding: 0;
            margin: 0;
            font-weight: bold;
        }

        .mod-row {
            border-bottom: 4px solid white;
            font-size: 14px;
        }

        .mod-tr {
            line-height: 12px;
            min-height: 20px;
            height: 32px;
            font-size: 14px;
        }
    </style>
</head>
<body>

<div class="container">
    <div style="max-width: available;">
        <table class="table table-sm table-borderless" style="color: #002060;">
            <tr>
                <td rowspan="3" style="width:20%; vertical-align: top" class="mid"><a
                        href='https://rapi-cashpanama.com/'>
                    <img alt=''
                         src='https://rapi-cashpanama.com/wp-content/uploads/2018/06/Logo-Verde-OverW.png'
                         class="img-fluid w-50">
                </a>
                </td>
                <td colspan="2" style="width:80%;" class="ruc-text text-end">RC FINANCIAL GROUP, CORP.</td>
            </tr>
            <tr>
                <td colspan="2" class="ruc-text text-end">RUC: 155674055-2-2018 DV 4</td>
            </tr>
            <tr>
                <td class="text-center title-text">CARTERA CLIENTES ATRASO > 90 DÍAS</td>
                <td style="width: 20%"></td>
            </tr>
            <tr style="font-size: 14px">
                <td><b style="font-size: 14px">Fecha inicio: </b>{{ fecha_ini }}</td>
                <td class="text-center"><b style="font-size: 14px">Fecha fin: </b>{{ fecha_fin }}</td>
                <td></td>
            </tr>
        </table>

        <table style="width: 100%;" class="table table-sm table-borderless">
            <thead>
            <tr class="table-dark">
                <td colspan="15" style="font-size: 10px;"><b>CARTERA CLIENTES</b></td>
            </tr>
            <tr class="text-center table-secondary">
                <th class="th_mod_2"># Contrato</th>
                <th class="th_mod_2">Nombre Cliente</th>
                <th class="th_mod_2">F. contrato</th>
                <th class="th_mod_2">Capital</th>
                <th class="th_mod_2">Interés</th>
                <th class="th_mod_2">Promotor</th>
                <th class="th_mod_2">S. descuento</th>
                <th class="th_mod_2">Notaría</th>
                <th class="th_mod_2">Timbres</th>
                <th class="th_mod_2">Administración</th>
                <th class="th_mod_2">Feci</th>
                <th class="th_mod_2">Total seguros</th>
                <th class="th_mod_2">Ob. total.</th>
                <th class="th_mod_2">Pagado</th>
                <th class="th_mod_2">Saldo</th>
            </tr>
            </thead>
            <tbody style="font-size: 10px" class="text-center text-capitalize">
            {{ tabla|safe }}
            </tbody>
        </table>
        <table style="width: 100%;" class="table table-sm table-borderless">
            <tbody style="font-size: 10px;">
            <tr class="table-dark">
                <td colspan="2"><b>Total clientes: {{ total_clientes }}</b></td>
                <td colspan="4"><b>Capital total: {{ total_capital }}</b></td>
                <td colspan="7"><b>&nbsp;</b></td>
                <td colspan="2"><b>Total agregado: {{ total_agregado }}</b></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>

