{% extends 'base_1.html' %}
{% load static %}

{% block script_head %}
    <script src="{% static 'lib/js_pdf/jspdf.umd.min.js' %}"></script>
    <script src="{% static 'lib/js_pdf/jspdf.plugin.autotable.js' %}"></script>
{% endblock %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">

            <div class="card">
                <div class="card-header bg-gradient-dark h3">
                    <i class="fas fa-clipboard-list"></i> &nbsp;{{ card_title }}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header bg-gradient-indigo h4">Reporte de cartera</div>
                                <div class="card-body text-dark">
                                    <p class="card-text">Cartera con saldos de clientes a la fecha
                                        ({{ fecha_hoy }}).</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'reportes:generar_pdf' 'cartera_hoy' 'hoy' %}"
                                       target="_blank"
                                       class="btn btn-success"><i class="fas fa-cogs"></i>&nbsp; Generar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header bg-gradient-blue h4">Reporte de Prepagos</div>
                                <div class="card-body text-dark">
                                    <p class="card-text">Clientes con cancelación anticipada a la fecha
                                        ({{ fecha_hoy }}).</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'reportes:generar_pdf' 'prepagos' 'hoy' %}"
                                       target="_blank"
                                       class="btn btn-success"><i class="fas fa-cogs"></i>&nbsp; Generar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header bg-gradient-cyan h4">Reporte de Cancelados</div>
                                <div class="card-body text-dark">
                                    <p class="card-text">Clientes que han cancelado su obligación en el plazo acordado a
                                        la fecha
                                        ({{ fecha_hoy }}).</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'reportes:generar_pdf' 'cancelados' 'hoy' %}"
                                       target="_blank" class="btn btn-success"><i class="fas fa-cogs"></i>&nbsp; Generar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header bg-gradient-secondary h4">Reporte de Desembolsos</div>
                                <div class="card-body text-dark">
                                    <p class="card-text">Clientes desembolsados desde el día cero a la fecha
                                        ({{ fecha_hoy }}).</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'reportes:generar_pdf' 'desembolsos' 'hoy' %}"
                                       target="_blank"
                                       class="btn btn-success"><i class="fas fa-cogs"></i>&nbsp; Generar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header bg-gradient-success h4">Reporte Clientes al día</div>
                                <div class="card-body text-dark">
                                    <p class="card-text">Clientes clientes sin atraso a la fecha
                                        ({{ fecha_hoy }}).</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'reportes:generar_pdf' 'al_dia' 'hoy' %}"
                                       target="_blank" class="btn btn-success"><i class="fas fa-cogs"></i>&nbsp; Generar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header bg-gradient-warning h4">Reporte Clientes mora menor a 90 días
                                </div>
                                <div class="card-body text-dark">
                                    <p class="card-text">Clientes con atraso menor a 90 días
                                        ({{ fecha_hoy }}).</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'reportes:generar_pdf' 'menor_90' 'hoy' %}"
                                       target="_blank" class="btn btn-success"><i class="fas fa-cogs"></i>&nbsp; Generar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header bg-gradient-danger h4">Reporte Clientes mora mayor a 90 días
                                </div>
                                <div class="card-body text-dark">
                                    <p class="card-text">Clientes clientes con atraso mayor a 90 días
                                        ({{ fecha_hoy }}).</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'reportes:generar_pdf' 'mayor_90' 'hoy' %}"
                                       target="_blank" class="btn btn-success"><i class="fas fa-cogs"></i>&nbsp; Generar</a>
                                </div>
                            </div>
                        </div>
{#                        <div class="col-3">#}
{#                            <div class="card border-dark mb-3" style="max-width: 18rem;">#}
{#                                <div class="card-header bg-gradient-danger h4">Reporte test</div>#}
{#                                <div class="card-body text-dark">#}
{#                                    <p class="card-text">Clientes clientes con atraso mayor a 90 días#}
{#                                        ({{ fecha_hoy }}).</p>#}
{#                                </div>#}
{#                                <div class="card-footer">#}
{#                                    <button onclick="tabla_clientes_1()" class="btn btn-success"><i class="fas fa-cogs"></i>&nbsp; Generar#}
{#                                    </button>#}
{#                                    <a class="btn btn-info" href="{% url 'reportes:generar_pdf' 'cartera_hoy' 'test' %}" target="_blank"> test</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <div class="row"></div>
                </div>
            </div>
        </div>
        <form id="token_form">
            {% csrf_token %}
        </form>
    </section>

{% endblock %}

{% block scripts_java %}


{% endblock %}

