{% extends 'index.html' %}

{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Ventas</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="#">Layout</a></li>
                            <li class="breadcrumb-item active">Boxed Layout</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Default box -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Nuevas solicitudes</h3>

                            </div>
                            <div class="card-body">

                                <table class="table" id="tabla_def">

                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 10%;">Nro</th>
                                        <th scope="col" style="width: 30%;">Nombre</th>
                                        <th scope="col" style="width: 20%;">Tipo ingreso</th>
                                        <th scope="col" style="width: 20%;">Ingreso</th>
                                        <th scope="col" style="width: 20%;">Celular</th>
                                        <th scope="col">Opciones</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for object in object_list %}

                                        <tr>
                                            <td>{{ object.id }}</td>
                                            <td>{{ object.nombre_1 }} {{ object.apellido_1 }}</td>
                                            <td>{{ object.tipo_ingreso }}</td>
                                            <td>{{ object.salario }}</td>
                                            <td>{{ object.celular }}</td>
                                            <td>
                                                <button type="button" class="btn btn-warning btn-xs">
                                                    <i class="far fa-eye"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>

                                </table>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                Ingresar solicitud
                            </div>
                            <!-- /.card-footer-->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}