{% extends 'base_1.html' %}
{% load static %}
{% load humanize %}

{% block script_head %}
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>
{% endblock %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-gradient-dark h3">
                    {{ card_title }}
                    <b class="text-warning">
                        {{ info_credito.num_contrato }}
                    </b>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="card" style="background-color: #f6ffec">
                                <div class="card-header bg-secondary text-center h5">
                                    <b class="text-center">Info. del cliente</b>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm table-hover h5">
                                        <tr>
                                            <td class="text-right" style="width: 40%;">
                                                Nombre completo:
                                            </td>
                                            <td>
                                                <b>{{ info_cliente.nombre_1 }}
                                                    {% if info_cliente.nombre_2 %}
                                                        {{ info_cliente.nombre_2 }}
                                                    {% endif %}
                                                    {{ info_cliente.apellido_1 }}
                                                    {% if info_cliente.apellido_2 %}
                                                        {{ info_cliente.apellido_2 }}
                                                    {% endif %}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Tipo de documento:
                                            </td>
                                            <td>
                                                <b>{{ info_cliente.tipo_doc }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                DNI:
                                            </td>
                                            <td>
                                                <b>{{ info_cliente.dni }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Tipo de ingreso:
                                            </td>
                                            <td>
                                                <b>{{ info_cliente.tipo_ingreso }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">Salario:</td>
                                            <td>
                                                <b>{{ info_cliente.salario }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Celular:
                                            </td>
                                            <td>
                                                <a href="https://wa.me/507{{ info_cliente.celular }}"
                                                   target="_blank"
                                                   class="text-success"><b>{{ info_cliente.celular }}</b></a>
                                            </td>
                                        </tr>
                                        <tr></tr>
                                        <tr></tr>
                                    </table>
                                </div>
                            </div>

                            <div class="card" style="background-color: #f6ffec">
                                <div class="card-header bg-secondary text-center h5">
                                    <b class="text-center">Info. del Préstamo</b>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm table-hover h5">
                                        <tr>
                                            <td style="width: 50%">
                                                Monto:
                                                <b>${{ info_credito.monto }}</b>
                                            </td>
                                            <td>
                                                Plazo:
                                                <b>{{ info_credito.plazo }} meses</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Fecha inicio:
                                                <b>{{ fecha_inicio|date:"Y/m/d" }}</b>
                                            </td>
                                            <td>
                                                Meses extra:
                                                <b id="meses_extra"></b><b>&nbsp;meses</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                Obligación total:
                                                <b>${{ info_credito.ob_contrato|intcomma }}</b>
                                            </td>
                                        </tr>
                                    </table>
                                    <hr>
                                    <input type="hidden" id="ob_contrato_db" value="{{ info_credito.ob_contrato }}">
                                    <table class="table table-responsive table-hover h5">
                                        <tbody>
                                        <tr>
                                            <td class="text-right" style="width: 25%">Saldo Cliente:</td>
                                            <td style="width: 25%" class="text-left"><b id="saldo_span"></b></td>
                                            <td class="text-right" style="width: 25%">Morosidad:</td>
                                            <td style="width: 25%" class="text-left"><b id="saldo_morosidad"></b></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" style="width: 25%">Total Pagado:</td>
                                            <td style="width: 25%" class="text-left"><b
                                                    id="total_pagado"></b></td>
                                            <td class="text-right" style="width: 25%">Saldo Total:</td>
                                            <td style="width: 25%" class="text-left"><b
                                                    id="saldo_total"></b></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-responsive table-hover h5">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <a class="btn btn-info"
                                                   href="{% url 'cobros:estado_cuenta' object.id tipo %}"
                                                   target="_blank"><i
                                                        class="fas fa-file-invoice-dollar"></i> Estado de cuenta
                                                </a>
                                            </td>
                                            <td>
                                                <a class="btn btn-info"
                                                   href="{% url 'cobros:desglose_prepago' object.id tipo %}"
                                                   target="_blank"><i
                                                        class="fas fa-file-invoice-dollar"></i> Desglose cliente
                                                </a>
                                            </td>
                                            <td>
                                                <a class="btn btn-success"
                                                   href="{% url 'cobros:aplicar_prepago' object.id tipo %}"
                                                   target="_blank"><i
                                                        class="fas fa-money-check-alt"></i>
                                                    Pago Cancelación
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button class="btn btn-warning" onclick="aplicar_ajuste_cuota()"><i
                                                        class="fas fa-sliders-h"></i> Ajuste cuota
                                                </button>
                                            </td>
                                            <td>
                                                {% if user.get_username in cumplimiento %}
                                                    <button class="btn btn-dark"
                                                            onclick="aplicar_nc('{{ info_credito.num_contrato|safe }}')">
                                                        <i class="far fa-sticky-note"></i> Ajuste N.C.
                                                    </button>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" onclick="borrar_pagos_todos()"><i
                                                        class="fas fa-trash-alt"></i> Borrar pagos
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                    <h5 class="text-center"><b>Pagos registrados</b></h5>
                                    <table id="pagos_cliente" class="table table-hover table-head-fixed"
                                           style="width: 100%;background-color: #ecfbff">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="width: 10%;">#</th>
                                            <th scope="col" style="width: 20%;">Fecha</th>
                                            <th scope="col" style="width: 20%;">Monto</th>
                                            <th scope="col" style="width: 20%;">Saldo</th>
                                            <th scope="col" style="width: 20%;">Opciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="card">
                                <form id="notas_desembolso">
                                    {% csrf_token %}
                                    <input type="hidden" id="flag_notas" value="0">
                                    <div class="card-body">
                                        <h5>Anotaciones</h5>
                                        <hr>
                                        <textarea class="form-control" id="notas_textarea" name="notas_textarea"
                                                  rows="4" placeholder="Ingrese sus notas aquí..."
                                                  onchange="text_change()">{{ object.notas|default_if_none:'' }}</textarea>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-info" type="button" onclick="guardar_notas()"><i
                                                class="far fa-save"></i> Guardar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="card" style="background-color: #f6ffec">
                                <div class="card-header bg-secondary text-center h5">
                                    <b class="text-center">Info. de Empresa</b>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm table-hover h5">
                                        <tr>
                                            <td class="text-right" style="width: 40%;">
                                                Razón Comercial:
                                            </td>
                                            <td>
                                                <b>{{ info_cliente.empresa_2.nombre }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Razón Social:
                                            </td>
                                            <td>
                                                <b>{{ info_cliente.empresa_2.r_social }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                RUC:
                                            </td>
                                            <td>
                                                <b>{{ info_cliente.empresa_2.ruc }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Sector Económico:
                                            </td>
                                            <td>
                                                <b>{{ info_cliente.empresa_2.sector }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Subsector:
                                            </td>
                                            <td>
                                                <b>{{ info_cliente.empresa_2.sub_sector }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Tipo de empresa:
                                            </td>
                                            <td>
                                                <b>{{ info_cliente.empresa_2.tipo }}</b>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom: solid black 2px">
                                            <td class="text-right">
                                                Teléfono:
                                            </td>
                                            <td>
                                                <b>{{ info_cliente.empresa_2.telefono }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Contacto:
                                            </td>
                                            <td>
                                                <b>{{ info_cliente.empresa_2.nombre_contacto }} {{ info_cliente.empresa_2.apellido_contacto }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Email:
                                            </td>
                                            <td>
                                                <b>{{ info_cliente.empresa_2.email }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Celular:
                                            </td>
                                            <td>
                                                <a href="https://wa.me/507{{ info_cliente.empresa_2.celular }}"
                                                   target="_blank"
                                                   class="text-success"><b>{{ info_cliente.empresa_2.celular }}</b></a>
                                            </td>
                                        </tr>
                                        <tr></tr>
                                        <tr></tr>
                                    </table>
                                    <form action="." id="token_form">
                                        {% csrf_token %}
                                    </form>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'ventas:empresas_editar' info_cliente.empresa_2.id %}"
                                       class="btn btn-info" target="_blank"><i class="fas fa-city"></i> Editar
                                        empresa</a>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header bg-secondary text-center h5">
                                    <b class="text-center">Tabla de pagos</b>
                                </div>
                                <div class="card-body">
                                    <div class="row row-cols-2 mb-2">
                                        <div class="col text-center">
                                            <button class="btn btn-info" data-toggle="modal" data-target="#modal_tr"><i
                                                    class="fas fa-cash-register"></i> Agregar transacción
                                            </button>
                                        </div>
                                        <div class="col text-center">
                                            <a href="{% url 'cobros:info_transacciones' object.id tipo %}"
                                               class="btn btn-info" target="_blank"><i
                                                    class="fas fa-file-invoice-dollar"></i> Ver
                                                transacciones
                                            </a>
                                        </div>
                                    </div>
                                    <table id="lista_cuotas" class="table table-hover table-head-fixed"
                                           style="width: 100%">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="width: 10%;">#</th>
                                            <th scope="col" style="width: 20%;">Fecha</th>
                                            <th scope="col" style="width: 20%;">Cuota</th>
                                            <th scope="col" style="width: 20%;">Mora</th>
                                            <th scope="col" style="width: 10%;">Pendiente</th>
                                            <th scope="col" style="width: 20%;">Opciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                </div>
                            </div>

                            <div class="card">
                                <form id="notas_desembolso">
                                    {% csrf_token %}
                                    <input type="hidden" id="flag_notas" value="0">
                                    <div class="card-body">
                                        <h5 class="text-center"><b>Lista de cambios</b></h5>
                                        <hr>
                                        {{ object.lista_cambios|default_if_none:"--Sin cambios--"|linebreaksbr }}
                                    </div>
                                    <div class="card-footer">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {% if user.get_username in cumplimiento %}
                    <div class="card-footer bg-gradient-dark">
                        <a href="{% url 'cobros:reestructurar_2' object.id tipo %}" target="_blank"
                           class="btn btn-danger float-lg-right">Reestructurar 2</a>
                        <a href="#" class="btn btn-warning float-lg-right mr-2">Reestructurar 1</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Modal transacciones -->
    <div class="modal fade" id="modal_tr" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary h5">
                    <b>Agregar transacción</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form action="." id="form_agregar_tr">
                            {% csrf_token %}
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="id_monto_1">Monto transacción:</label>
                                    {{ form.monto_tr }}
                                </div>
                                <div class="col-sm-4">
                                    <label for="id_tipo_pago">Tipo de transacción:</label>
                                    {{ form.tipo_pago }}
                                </div>
                                <div class="col-sm-4">
                                    <label for="id_registro_tr">Registrar a:</label>
                                    <select name="registro_tr" class="form-control form-control-sm" id="id_registro_tr">
                                        <option value="" selected="">---------</option>
                                        <option value="1">Empresa</option>
                                        <option value="2">Cliente</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="id_fecha_pago_1">Fecha de transacción:</label>
                                    {{ form.fecha_tr }}
                                </div>
                                <div class="col-sm-4">
                                    <label for="id_id_tr">ID transacción/CK/DP:</label>
                                    {{ form.id_tr }}
                                </div>
                                <div class="col-sm-4">
                                    <label for="id_banco">Banco:</label>
                                    {{ form.banco }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-8">
                                    <label for="id_id_tr">Info. de transacción:</label>
                                    {{ form.info_tr }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <label for="id_notas">Anotaciones:</label>
                                    {{ form.notas }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-secondary" data-dismiss="modal"><i
                            class="far fa-times-circle"></i> Cerrar
                    </button>
                    <button type="submit" form="form_agregar_tr" class="btn btn-sm btn-primary"><i
                            class="far fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pagos -->
    <div class="modal fade" id="modal_pagos" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary h5">
                    Agregar pago a: &nbsp;<b class="text-warning">{{ info_cliente }}</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <table class="table table-sm table-hover text-center">
                            <tr>
                                <th style="width: 34%;">Cuotas quincenales atrasadas:</th>
                                <th style="width: 33%">Saldo atrasado:</th>
                                <th>Saldo total:</th>
                            </tr>
                            <tr>
                                <td id="cuotas_atr">10</td>
                                <td id="saldo_atr">20</td>
                                <td id="saldo_total">30</td>
                            </tr>
                        </table>
                        <form action="." id="agregar_pago">
                            {% csrf_token %}
                            <input type="hidden" id="action" name="action">
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="id_monto_1">Monto del pago:</label>
                                    {{ form_pagos.monto_1 }}
                                </div>
                                <div class="col-sm-4">
                                    <label for="id_tipo_pago">Tipo de pago:</label>
                                    {{ form_pagos.tipo_pago }}
                                </div>
                                <div class="col-sm-4">
                                    <label for="id_fecha_pago_1">Fecha de registro:</label>
                                    {{ form_pagos.fecha_pago_1 }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="id_id_tr">ID transacción/CK/DP:</label>
                                    {{ form_pagos.id_tr }}
                                </div>
                                <div class="col-sm-4">
                                    <label for="id_banco">Banco:</label>
                                    {{ form_pagos.banco }}
                                </div>
                                <div class="col-sm-4">
                                    <label for="id_info_tr">Fecha de transacción:</label>
                                    {{ form_pagos.fecha_tr }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-8">
                                    <label for="id_id_tr">Info. de transacción:</label>
                                    {{ form_pagos.info_tr }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <label for="id_notas">Anotaciones:</label>
                                    {{ form.notas }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-secondary" data-dismiss="modal"><i
                            class="far fa-times-circle"></i> Cerrar
                    </button>
                    <button type="submit" form="agregar_pago" class="btn btn-sm btn-primary"><i class="far fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal ver/editar pagos -->
    <div class="modal fade" id="modal_editar_pago" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary h5">
                    Editar pago: &nbsp;<b class="text-warning">{{ info_cliente }}</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form action="." id="editar_pago_form">
                            {% csrf_token %}
                            <input type="hidden" id="var_id_pago">
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="ed_monto_1">Monto del pago:</label>
                                    <input type="number" name="monto_1" class="form-control form-control-sm"
                                           placeholder="91.45" step="0.01" id="ed_monto_1">
                                </div>
                                <div class="col-sm-8">
                                    <label for="ed_tr_rel">Transacción relacionada:</label>
                                    <select name="tr_rel" class="form-control form-control-sm" id="ed_tr_rel">
                                        <option value="" selected="">---------</option>
                                        <option value="ach">ACH (transferencia electrónica)</option>
                                        <option value="deposito">Depósito en efectivo</option>
                                        <option value="cheque">Cheque</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="ed_fecha_pago_2">Fecha de registro:</label>
                                    <input type="text" name="fecha_pago_2" class="form-control form-control-sm"
                                           placeholder="Ingrese fecha" aria-describedby="text_help"
                                           id="ed_fecha_pago_2">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <label for="ed_notas">Anotaciones:</label>
                                    <textarea name="notas" cols="150" rows="2" class="form-control form-control-sm"
                                              placeholder="Escriba sus comentarios aquí." autocomplete="off"
                                              maxlength="500" required="" id="ed_notas"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-secondary" data-dismiss="modal"><i
                            class="far fa-times-circle"></i> Cerrar
                    </button>
                    <button type="submit" form="editar_pago_form" class="btn btn-sm btn-primary"><i
                            class="far fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pagos cuotas -->
    <div class="modal fade" id="pagos_cuotas_q" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary h5">
                    Agregar pago a: &nbsp;<b class="text-warning">{{ info_cliente }}</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-sm h5">
                        <tr>
                            <td style="border-right: solid black 1px">Crédito
                                <b>{{ info_cliente.empresa_2.nombre }}:</b></td>
                            <td style="width: 50%">Crédito cliente:</td>
                        </tr>
                        <tr class="text-center">
                            <th style="border-right: solid black 1px">
                                <b id="credito_empresa"></b>
                            </th>
                            <th>
                                <b id="credito_cliente"></b>
                            </th>
                        </tr>
                    </table>
                    <hr>
                    <div class="container-fluid">
                        <span class="h5">Pago a aplicar:</span>
                        <div class="row form-group">
                            <div class="custom-control custom-radio custom-control-inline col-2 mt-3">
                                <input onclick="select_cuota('regular')" type="radio" id="pago_cuota_1"
                                       name="customRadioInline"
                                       class="custom-control-input">
                                <label class="custom-control-label" for="pago_cuota_1">Cuota corriente</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline col-2 mt-3">
                                <input onclick="select_cuota('pendiente')" type="radio" id="pago_cuota_2"
                                       name="customRadioInline"
                                       class="custom-control-input">
                                <label class="custom-control-label" for="pago_cuota_2">Total pendiente</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline col-2 mt-3">
                                <input onclick="select_cuota('otra')" type="radio" id="pago_cuota_3"
                                       name="customRadioInline"
                                       class="custom-control-input">
                                <label class="custom-control-label" for="pago_cuota_3">Otro monto</label>
                            </div>
                            <div class="col-4 text-center">
                                <span class="h1 font-weight-bold" id="monto_a_pagar"></span>
                            </div>
                        </div>
                        <input type="hidden" id="num_contrato_cl" value="{{ info_credito.num_contrato|safe }}">
                        <form action="." id="form_pagos_cuotas">
                            {% csrf_token %}
                            <input type="hidden" id="val_1" name="num_cuota">
                            <input type="hidden" id="val_2" name="fecha_pago">
                            <input type="hidden" id="val_3" name="val_cuota">
                            <input type="hidden" id="val_4" name="val_pendiente">
                            <input type="hidden" id="val_5" name="val_mora">
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="pg_monto_1">Monto del pago:</label>
                                    <input type="number" name="monto_1" class="form-control form-control-sm"
                                           placeholder="91.45" step="0.01" id="pg_monto_1"
                                           onchange="select_cuota('cambio_monto', this.value)">
                                </div>
                                <div class="col-sm-8">
                                    <label for="pg_tr_rel">Transacción relacionada:</label>
                                    <select name="tr_rel" class="form-control form-control-sm" id="pg_tr_rel">
                                        <option value="" selected="">---------</option>
                                        <option value="ach">ACH (transferencia electrónica)</option>
                                        <option value="deposito">Depósito en efectivo</option>
                                        <option value="cheque">Cheque</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="pg_fecha_pago_2">Fecha de registro:</label>
                                    <input type="text" name="fecha_pago_2" class="form-control form-control-sm"
                                           placeholder="Ingrese fecha" aria-describedby="text_help"
                                           id="pg_fecha_pago_2" autocomplete="off">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <label for="pg_notas">Anotaciones:</label>
                                    <textarea name="notas" cols="150" rows="2" class="form-control form-control-sm"
                                              placeholder="Escriba sus comentarios aquí." autocomplete="off"
                                              maxlength="500" required="" id="pg_notas"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-secondary" data-dismiss="modal"><i
                            class="far fa-times-circle"></i> Cerrar
                    </button>
                    <button type="submit" form="form_pagos_cuotas" class="btn btn-sm btn-primary"><i
                            class="far fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal notas pago -->
    <div class="modal fade" id="notas_pago" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary h5">
                    Notas pago: #<b id="numero_pago_span"></b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-cyan">
                    <i id="span_modal_notas">

                    </i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i
                            class="far fa-times-circle"></i> Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal ajuste cuota -->
    <div class="modal fade" id="modal_ajuste_letra" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajuste de letra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_ajuste_letra">
                        {% csrf_token %}
                        <div class="row text-center form-group">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <label for="ajuste_letra">Letra quincenal regular:</label>
                                <input type="number" id="ajuste_letra" name="ajuste_letra" class="form-control">
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" form="form_ajuste_letra" class="btn btn-primary"><i class="fas fa-save"></i>
                        Guardar cambios
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal nota Crédito -->
    <div class="modal fade" id="modal_nota_c" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="exampleModalLongTitle">Aplicar N.C.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_nota_c">
                        {% csrf_token %}
                        <div class="row form-group">
                            <div class="col-6 mt-2">
                                <span>En sesión: </span> <b>{{ user.first_name }} {{ user.last_name }}</b> <br>
                                <span>Fecha: </span> <b>{% now "SHORT_DATE_FORMAT" %}</b>
                            </div>
                            <div class="col-6">
                                <label for="monto_nc">Monto de N.C.:</label>
                                <input type="number" id="monto_nc" name="monto_nc" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12">
                                <label for="motivo_nc">Motivo de N.C.:</label>
                                {#                                <input type="number" id="ajuste_letra" name="ajuste_letra" class="form-control">#}
                                <textarea class="form-control" name="motivo_nc" id="motivo_nc" cols="30" rows="3"
                                          placeholder="Escriba el motivo aquí..."></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" form="form_nota_c" class="btn btn-primary"><i class="fas fa-save"></i>
                        Guardar cambios
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts_java %}
    <script src="{% static 'cobros/js_rtt/aplicar_pagos_rtt.js' %}"></script>

    <script type="application/javascript">
        (function () {
            info_cobro();
        })();

        function cambiar_action(action) {
            document.getElementById('action').value = action;
        }

    </script>

{% endblock %}

