{% extends 'base_datatable.html' %}
{% load static %}

{% block script_head %}
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>

{% endblock %}

{% block table_header %}

    <span class="h4"><b>{{ card_title }}</b></span>

{% endblock %}

{########################}

{% block table_body %}

    <table id="lista_cobros" class="table table-hover table-head-fixed" style="width: 100%">
        {#                            <table class="table" id="tabla_1">#}
        <thead>
        <tr>
            <th scope="col" style="width: 10%;">Contrato</th>
            <th scope="col" style="width: 11%;">Nombre</th>
            <th scope="col" style="width: 11%;">Apellido</th>
            <th scope="col" style="width: 8%;">Atraso</th>
            <th scope="col" style="width: 5%;">Clase</th>
            <th scope="col" style="width: 15%;">Tipo ingreso</th>
            <th scope="col" style="width: 15%;">Capital</th>
            <th scope="col" style="width: 5%;">Plazo</th>
            <th scope="col" style="width: 10%;">Celular</th>
            <th scope="col" style="width: 10%;">Opciones</th>
            {#                                    <th scope="col">Cotizar</th>#}
        </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
        <tr>
            <th scope="col" style="width: 10%;"></th>
            <th scope="col" style="width: 11%;"></th>
            <th scope="col" style="width: 11%;"></th>
            <th scope="col" style="width: 8%;"></th>
            <th scope="col" style="width: 5%;"></th>
            <th scope="col" style="width: 15%;">Tipo ingreso</th>
            <th scope="col" style="width: 15%;"></th>
            <th scope="col" style="width: 5%;"></th>
            <th scope="col" style="width: 10%;"></th>
            <th scope="col" style="width: 10%;"></th>
        </tr>
        </tfoot>
    </table>


{% endblock %}

{########################}

{% block table_footer %}

    <!-- Button trigger modal -->
    <div class="row">
        <div class="col-auto mb-1">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_cliente_modal">
                <i class="fas fa-user-plus"></i> Agregar cliente existente
            </button>
        </div>
        <div class="col-auto">
            <!-- Button formulario completo -->
            <a type="button" class="btn btn-warning" href="{% url 'cobros:agregar_antiguo' %}">
                <i class="fas fa-user-plus"></i> Agregar cliente existente (Formulario completo)
            </a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="add_cliente_modal" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title" id="exampleModalLongTitle"><i style="color: dodgerblue"
                                                                          class="fas fa-user-plus"></i><b> Agregar
                        cliente</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="cliente_antiguo">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="container container-fluid text-dark">
                            <h5 class="text-center"><b>Info. personal:</b></h5>
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <label for="id_nombre_1">Primer nombre <span class="text-danger">*</span>:</label>
                                    {{ form.nombre_1 }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_nombre_2">Segundo nombre:</label>
                                    {{ form.nombre_2 }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_apellido_1">Primer apellido <span
                                            class="text-danger">*</span>:</label>
                                    {{ form.apellido_1 }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_apellido_2">Segundo apellido:</label>
                                    {{ form.apellido_2 }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <label for="id_tipo_doc">Tipo de documento <span
                                            class="text-danger">*</span>:</label>
                                    {{ form.tipo_doc }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_dni">DNI <span class="text-danger">*</span>:</label>
                                    {{ form.dni }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_f_nacimiento">Fecha de nacimiento:<span
                                            class="text-danger">*</span>:</label>
                                    {{ form.f_nacimiento }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_nacionalidad">Nacionalidad:</label>
                                    {{ form.nacionalidad }}
                                </div>
                            </div>
                            <hr>
                            <h5 class="text-center"><b>Info. de contacto:</b></h5>
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <label for="id_celular">Celular <span class="text-danger">*</span>:</label>
                                    {{ form.celular }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_telefono">Teléfono:</label>
                                    {{ form.telefono }}
                                </div>
                                <div class="col-sm-6">
                                    <label for="id_email_1">Email:</label>
                                    {{ form.email_1 }}
                                </div>
                            </div>
                            <hr>
                            <h5 class="text-center"><b>Info. del crédito:</b></h5>
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <label for="id_monto">Monto <span class="text-danger">*</span>:</label>
                                    {{ form.monto }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_plazo_meses">Plazo (meses) <span
                                            class="text-danger">*</span>:</label>
                                    {{ form.plazo }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_f_inicio">F. inicio contrato <span
                                            class="text-danger">*</span>:</label>
                                    {{ form.fecha_ini }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_f_inicio_OD">F. inicio O.D. <span
                                            class="text-danger">*</span>:</label>
                                    {{ form.fecha_ini_OD }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <label for="id_f_contrato">Fecha contrato <span
                                            class="text-danger">*</span>:</label>
                                    {{ form.f_contrato }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_cancelaciones">Cancelaciones:</label>
                                    {{ form.compra_saldo }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_promotor">Promotor:</label>
                                    {{ form.promotor }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_ob_contrato">Obligación contrato <span class="text-danger">*</span>:</label>
                                    {{ form.ob_contrato }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <label for="id_c_cierre">Ajuste de C. cierre:</label>
                                    {{ form.c_cierre }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_id_contrato">ID. Contrato <span class="text-danger">*</span>:</label>
                                    {{ form.num_contrato }}
                                </div>
                            </div>
                            <hr>
                            <h5 class="text-center"><b>Info. laboral:</b></h5>
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="id_empresa_2">Empresa: <span class="text-danger">*</span>:</label>
                                    {{ form.empresa_2 }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_salario">Salario:</label>
                                    {{ form.salario }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="id_tipo_ingreso">Tipo de ingreso: <span
                                            class="text-danger">*</span>:</label>
                                    {{ form.tipo_ingreso }}
                                </div>
                            </div>
                            <hr>
                            <div class="col-sm-12">
                                <label for="id_notas">Notas:</label>
                                {{ form.notas }}
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" form="cliente_antiguo" class="btn btn-primary"><i
                            class="far fa-plus-square"></i> Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_java %}
    <script src="{% static 'cobros/js_rtt/lista_clientes_rtt.js' %}"></script>

{% endblock %}


