{% extends 'base_1.html' %}
{% load static %}

{% block script_head %}
    <style>
        .mod-td2 {
            border-bottom: 2px solid black;
        }
    </style>

    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>
{% endblock %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    <div class="card" style="background-color:#e6ffde;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title|safe }} | <i>{{ estatus_d }}</i><span
                                    style="color: #FF8C33;">{{ num_solicitud }}</span></strong>
                            </h6>
                        </div>
                        <div class="card-body border border-dark">

                            <div class="card">
                                <div class="card-header bg-secondary text-center">
                                    <span class="h4"><strong>Información del cliente:</strong></span>
                                </div>
                                <div class="card-body" style="background-color: #F5F5F5;">
                                    <div class="col-sm-12">
                                        <table class="table table-sm table-hover bg-light">
                                            <tr>
                                                <td style="width: 50%" class="h5">
                                                    Nombre completo:&nbsp;
                                                    <strong>
                                                        {% if info_cliente.cliente.nombre_2 and info_cliente.cliente.apellido_2 %}
                                                            {{ info_cliente.cliente.nombre_1 }}
                                                            {{ info_cliente.cliente.nombre_2 }}
                                                            {{ info_cliente.cliente.apellido_1 }}
                                                            {{ info_cliente.cliente.apellido_2 }}
                                                        {% elif info_cliente.cliente.nombre_2 %}
                                                            {{ info_cliente.cliente.nombre_1 }}
                                                            {{ info_cliente.cliente.nombre_2 }}
                                                            {{ info_cliente.cliente.apellido_1 }}
                                                        {% elif info_cliente.cliente.apellido_2 %}
                                                            {{ info_cliente.cliente.nombre_1 }}
                                                            {{ info_cliente.cliente.apellido_1 }}
                                                            {{ info_cliente.cliente.apellido_2 }}
                                                        {% else %}
                                                            {{ info_cliente.cliente.nombre_1 }}
                                                            {{ info_cliente.cliente.apellido_1 }}
                                                        {% endif %}
                                                    </strong>
                                                </td>

                                                <td class="h5">
                                                    Salario: &nbsp;
                                                    <strong>
                                                        {{ salario }}
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="h5">
                                                    Tipo de documento:&nbsp;
                                                    <strong>
                                                        {{ info_cliente.cliente.tipo_doc }}
                                                    </strong>
                                                </td>
                                                <td class="h5">
                                                    DNI: &nbsp;
                                                    <strong>
                                                        {{ info_cliente.cliente.dni }}
                                                    </strong>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="h5">
                                                    Nacionalidad: &nbsp;
                                                    <strong>
                                                        {{ info_cliente.cliente.nacionalidad }}
                                                    </strong>
                                                </td>
                                                <td class="h5">
                                                    Tipo de ingreso: &nbsp;
                                                    <strong>
                                                        {{ info_cliente.cliente.tipo_ingreso }}
                                                    </strong>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="h5">
                                                    Empresa donde labora:&nbsp;
                                                    <strong>
                                                        {% if info_cliente.cliente.empresa_2 %}
                                                            {{ info_cliente.cliente.empresa_2 }}
                                                        {% else %}
                                                            <span class="text-warning">No registrado</span>
                                                        {% endif %}
                                                    </strong>
                                                </td>
                                                <td class="h5">
                                                    P.E.P.:&nbsp;
                                                    <strong>
                                                        {{ info_cliente.cliente.p_expuesto }}
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="h5" colspan="2">
                                                    Dirección:&nbsp;
                                                    <strong>
                                                        {{ info_cliente.cliente.provincia }}, {{ info_cliente.cliente.distrito }}, {{ info_cliente.cliente.corregimiento }},
                                                        {{ info_cliente.cliente.direccion }}
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="h5">
                                                    Celular:&nbsp;
                                                    <strong>
                                                        <a class="text-success"
                                                           href="https://wa.me/507{{ info_cliente.cliente.celular }}/"
                                                           target="_blank">{{ info_cliente.cliente.celular }}</a>
                                                    </strong>
                                                </td>
                                                <td class="h5">
                                                    Email:&nbsp;
                                                    <strong>
                                                        <a href="mailto:{{ info_cliente.cliente.email_1 }}">{{ info_cliente.cliente.email_1 }}</a>
                                                    </strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header bg-secondary text-center">
                                    <span class="h4"><strong>Documentación del cliente:</strong></span>
                                </div>
                                <div class="card-body" style="background-color: #F5F5F5;">
                                    <div class="form-row">
                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">DNI:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                   {% if info_cliente.cliente.DNI_img == '' %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% else %}
                                                       <a href="/media/{{ info_cliente.cliente.DNI_img }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Ficha</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                    {% if info_cliente.cliente.ficha_img == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ info_cliente.cliente.ficha_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Carta de trabajo:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                   {% if info_cliente.cliente.carta_trabajo_img == '' %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% else %}
                                                       <a href="/media/{{ info_cliente.cliente.carta_trabajo_img }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Talonario 1:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                    {% if info_cliente.cliente.talonario_1_img == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ info_cliente.cliente.talonario_1_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Talonario 2:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                   {% if info_cliente.cliente.talonario_2_img == '' %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% else %}
                                                       <a href="/media/{{ info_cliente.cliente.talonario_2_img }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Recibo público:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                    {% if info_cliente.cliente.recibo_img == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ info_cliente.cliente.recibo_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Carta de saldo:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                    {% if info_cliente.cliente.carta_saldo_img == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ info_cliente.cliente.carta_saldo_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">APC:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if info_cliente.cliente.file_apc == None or info_cliente.cliente.file_apc == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ info_cliente.cliente.file_apc }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}
                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">O.D. aprobada:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if info_cliente.orden_descuento == None or info_cliente.orden_descuento == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ info_cliente.orden_descuento }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}
                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">O.D. en blanco:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">
                                                        <a href="{% url 'prestamos:orden_descuento' object.id %}"
                                                           target="_blank" class="btn btn-primary"><i
                                                                class="fas fa-cogs"></i> Generar</a>
                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Contrato:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">
                                                        <a href="{% url 'prestamos:contrato_cliente' object.id %}"
                                                           target="_blank" class="btn btn-primary"><i
                                                                class="fas fa-cogs"></i> Generar</a>
                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Pagaré:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">
                                                        <a href="{% url 'prestamos:pagare_cliente' object.id %}"
                                                           target="_blank" class="btn btn-primary"><i
                                                                class="fas fa-cogs"></i> Generar</a>
                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header bg-secondary text-center">
                                    <span class="h4"><strong>Info. crediticia del cliente:</strong></span>
                                </div>
                                <div class="card-body" style="background-color: #F5F5F5;">
                                    <div class="row">
                                        {% if info_banco_flag %}

                                            <div class="col-6">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <table class="table table-bordered table-hover">
                                                            <tr class="bg-gradient-secondary">
                                                                <th colspan="2" class="h4 font-weight-bold text-center">
                                                                    Info.
                                                                    Bancaria
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td>Nombre de cuenta: <br><span
                                                                        class="ml-5 h5 font-weight-bold">{{ info_banco.nombre_cuenta }}</span>
                                                                </td>
                                                                <td>Número de cuenta: <br><span
                                                                        class="ml-5 h5 font-weight-bold">{{ info_banco.numero_cuenta }}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Banco: <br><b
                                                                        class="ml-5 h5 font-weight-bold">{{ info_banco.banco }}</b>
                                                                </td>
                                                                <td>Tipo de cuenta: <br><b
                                                                        class="ml-5 h5 font-weight-bold">{{ info_banco.tipo_cuenta }}</b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    Notas: <br>
                                                                    <b>{{ info_banco.notas|linebreaksbr }}</b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <button type="button" class="btn btn-primary"
                                                                            data-toggle="modal"
                                                                            data-target="#modal_info_bancaria"
                                                                            onclick="info_bancaria_cliente('{{ object.id|safe }}')">
                                                                        <i class="fas fa-university"></i>
                                                                        Editar info bancaria
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                    {% if object.operaciones == 'reg_desembolso' %}
                                                        <form id="form_comprobante" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <div class="row mb-2">
                                                                <div class="col-sm-10">
                                                                    <label for="comprobante">Comprobantes ACH:</label>
                                                                    <div class="custom-file">
                                                                        <input type="file" class="custom-file-input"
                                                                               id="comprobante" name="comprobante"
                                                                               lang="es">
                                                                        <label class="custom-file-label"
                                                                               id="comprobante_span"
                                                                               for="comprobante">Seleccionar
                                                                            Archivo</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <label for="f_desembolso">Fecha desembolso:</label>
                                                                    <input id="f_desembolso" name="f_desembolso" class="form-control" type="text" placeholder="Ingrese fecha...">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    {% endif %}
                                                </div>
                                            </div>

                                        {% else %}

                                            <div class="col-6 text-center mt-5">
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#modal_info_bancaria"><i
                                                        class="fas fa-university"></i>
                                                    Agregar info bancaria
                                                </button>
                                            </div>

                                        {% endif %}

                                        <div class="col-6">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <table class="table table-sm table-bordered table-hover">
                                                        <tr class="bg-gradient-secondary">
                                                            <th colspan="2" class="h4 font-weight-bold text-center">
                                                                Detalles
                                                                desembolso
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right" style="width: 40%">Monto
                                                                Solicitado:
                                                            </td>
                                                            <td><br><span
                                                                    class="ml-5 h5 font-weight-bold">{{ monto }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">ITBMS:</td>
                                                            <td><br><span
                                                                    class="ml-5 h5 font-weight-bold">{{ itbms }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr style="border-bottom: solid black 3px">
                                                            <td>Cancelaciones:
                                                                {% if c_saldo_1 %}
                                                                    <br>
                                                                    <span class="ml-5 h5 font-weight-bold">{{ c_saldo_1 }}:</span>
                                                                {% else %}
                                                                    <br><i class="ml-5">--Ninguna--</i>
                                                                {% endif %}
                                                                {% if c_saldo_2 %}
                                                                    <br>
                                                                    <span class="ml-5 h5 font-weight-bold">{{ c_saldo_2 }}:</span>
                                                                {% endif %}
                                                                {% if c_saldo_3 %}
                                                                    <br>
                                                                    <span class="ml-5 h5 font-weight-bold">{{ c_saldo_3 }}:</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {% if c_saldo_1 %}
                                                                    <br>
                                                                    <span class="ml-5 h5 font-weight-bold text-danger"> {{ c_saldo_m_1 }}</span>
                                                                {% else %}

                                                                {% endif %}
                                                                {% if c_saldo_2 %}
                                                                    <br>
                                                                    <span class="ml-5 h5 font-weight-bold text-danger"> {{ c_saldo_m_2 }}</span>
                                                                {% endif %}
                                                                {% if c_saldo_3 %}
                                                                    <br>
                                                                    <span class="ml-5 h5 font-weight-bold text-danger"> {{ c_saldo_m_3 }}</span>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">Neto del deudor:</td>
                                                            <td><span
                                                                    class="ml-5 h4 font-weight-bold text-success">{{ desembolso }}</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <form id="form_email_conf" enctype="multipart/form-data">
                                                    <div class="row">
                                                        {% csrf_token %}
                                                        <div class="col-sm-10">
                                                            <label for="conf_email">Email de confirmación O.D.:</label>
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input"
                                                                       id="email_conf" name="email_conf"
                                                                       lang="es">
                                                                <label class="custom-file-label" id="email_span"
                                                                       for="conf_email">Seleccionar
                                                                    Archivo</label>
                                                            </div>
                                                        </div>
                                                        {% if email_conf_flag %}
                                                            <div class="col-sm-2 text-center mt-auto text-success">
                                                                <i class="far fa-check-circle fa-2x"></i>
                                                            </div>
                                                        {% else %}
                                                            <div class="col-sm-2 text-center mt-auto text-danger">
                                                                <i class="far fa-times-circle fa-2x"></i>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </form>
                                                {% if email_conf_flag %}
                                                    <div class="row mt-2 ml-2">
                                                        <a href="/media/{{ object.email_conf }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                    </div>
                                                {% endif %}
                                                <div class="row mt-2 ml-2">
                                                    <button class="btn btn-info" onclick="cargar_email_conf()"><i
                                                            class="fas fa-cloud-upload-alt"></i> Cargar archivo
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer bg-gradient-secondary">
                                    {% if flag_desembolso %}
                                        <button class="btn btn-success border-light"
                                                onclick="enviar_desembolso('{{ object.num_contrato }}')">
                                            <i class="fas fa-cash-register"></i> Generar Desembolso
                                        </button>
                                    {% else %}
                                        <button class="btn btn-warning border-light"
                                                onclick="enviar_gerencia('{{ info_banco_flag|safe }}', '{{ email_conf_flag }}')">
                                            <i class="fas fa-user-tie"></i> Enviar a Gerencia
                                        </button>
                                    {% endif %}
                                </div>
                                <form id="token_form">
                                    {% csrf_token %}
                                </form>
                            </div>

                            <!-- Modal Info. Bancaria -->
                            <div class="modal fade" id="modal_info_bancaria" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-secondary ">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Info. Bancaria: <b
                                                    class="text-warning">{{ object.cliente.nombre_1 }} {{ object.cliente.apellido_1 }}</b>
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <input type="hidden" id="info_recuperada">
                                                <form id="info_bancaria">
                                                    {% csrf_token %}
                                                    <input type="hidden" id="action_info_banco" name="action"
                                                           value="{{ action_banco|safe }}">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label for="id_nombre_cuenta"
                                                                   class="col-form-label">Nombre de la cuenta:</label>
                                                            {{ form_cuenta.nombre_cuenta }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label for="id_numero_cuenta"
                                                                   class="col-form-label">Número de cuenta:</label>
                                                            {{ form_cuenta.numero_cuenta }}
                                                        </div>
                                                    </div>
                                                    <div class="row row-cols-2">
                                                        <div class="form-group col-md-6">
                                                            <label for="id_banco"
                                                                   class="col-form-label">Banco:</label>
                                                            {{ form_cuenta.banco }}
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="id_tipo_cuenta"
                                                                   class="col-form-label">Tipo de cuenta:</label>
                                                            {{ form_cuenta.tipo_cuenta }}
                                                        </div>
                                                    </div>
                                                    <div class="row row-cols-1">
                                                        <div class="form-group col-md-12">
                                                            <label for="id_notas"
                                                                   class="col-form-label">Notas:</label>
                                                            {{ form_cuenta.notas }}
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                                    class="far fa-window-close"></i>&nbsp;Cerrar
                                            </button>
                                            <button type="submit" form="info_bancaria" class="btn btn-primary"><i
                                                    class="far fa-save"></i>&nbsp;Guardar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'prestamos/js/ver_operaciones.js' %}"></script>
    <script>
        (function () {
            {% if email_conf_flag %}
                let email_span = document.getElementById('email_span');
                email_span.innerHTML = '{{ object.email_conf_name|safe }}';
                email_span.classList.add('text-success');
                document.getElementById('email_conf').value = '';
            {% else %}
                if (document.getElementById('email_conf').value) {
                    document.getElementById('email_conf').value = '';
                }
            {% endif %}
            {% if object.operaciones == 'reg_desembolso' %}
                document.getElementById('comprobante').value = '';
            {% endif %}
        })();

        $('[id="f_desembolso"]')
            .datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
            });

        {% if object.operaciones == 'reg_desembolso' %}
            let comprobante = document.getElementById('comprobante');

            comprobante.onchange = function () {
                load_pdf(comprobante, 'comprobante_span');
            }
        {% endif %}
    </script>

{% endblock %}