{% extends 'base_1.html' %}

{% load static %}

{% block listview %}
    <!-- Datatables -->
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>

    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'lib/DataTables_op/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'lib/DataTables_op/datatables.min.js' %}"></script>
{% endblock %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    {% if request.user.username == 'gerencia.rc' or request.user.username == 'vicente_rc' or 'jeimy.diaz' %}
                        <div class="card" style="background-color:#e6ffde;">
                            <div class="card-header bg-gradient-gray-dark border border-dark">
                                <h6 class="card-title text-lg"><strong>{{ card_title }}</strong>
                                </h6>
                            </div>
                            <div class="card-body border border-dark">
                                <table class="table table-hover table-head-fixed" id="lista_desembolsos_p">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 12%;">Contrato</th>
                                        <th scope="col" style="width: 15%;">Nombre</th>
                                        <th scope="col" style="width: 15%;">Apellido</th>
                                        <th scope="col" style="width: 15%;">Tipo ingreso</th>
                                        <th scope="col" style="width: 10%;">Monto</th>
                                        <th scope="col" style="width: 10%;">Plazo</th>
                                        <th scope="col" style="width: 15%;">Estatus</th>
                                        <th scope="col" style="width: 8%;">Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>

                                </table>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer border border-dark bg-gradient-gray-dark">
                                <button type="button" onclick="lista_desembolsos.ajax.reload();" class="btn btn-info border border-light"><i
                                        class="fas fa-sync-alt"></i> Actualizar
                                </button>
                            </div>
                            <!-- /.card-footer-->
                        </div>
                    {% endif %}
                    <!-- /.card -->

                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'prestamos/js/lista_desembolsos_pendientes.js' %}"></script>

{% endblock %}