{% extends 'base_1.html' %}
{% load static %}
{% load humanize %}

{% block script_head %}
    <style>
        /* Customize the icon's position */
        .fv-plugins-bootstrap .form-group.inputGroupContainer .fv-plugins-icon,
        .fv-plugins-bootstrap .form-group.selectContainer .fv-plugins-icon {
            right: -40px;
        }
    </style>
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>
{% endblock %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    <div class="card" style="background-color:#e6ffde;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title }} <span
                                    style="color: #FF8C33;">{{ object.num_contrato }}</span></strong>
                            </h6>
                        </div>
                        <div class="card-body border border-dark">
                            <div class="row">
                                <div class="col-md-4 order-md-2 mb-4">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-muted">Detalles del desembolso</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h5 class="my-0">Monto solicitado:</h5>
                                                <small class="text-muted">Capital del crédito.</small>
                                            </div>
                                            <span class="h5">{{ monto }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h5 class="my-0">Cancelaciones:</h5>
                                            </div>
                                            {% if not c_saldo_1 %}
                                                <i class="text-muted">-- Ninguna --</i>
                                            {% endif %}
                                        </li>
                                        {% if c_saldo_1 %}
                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                <div>
                                                    <h6 class="my-0">&nbsp;&nbsp;&nbsp;&nbsp;{{ c_saldo_1 }}:</h6>
                                                </div>
                                                <span class="text-danger">{{ c_saldo_m_1 }}</span>
                                            </li>
                                        {% endif %}
                                        {% if c_saldo_2 %}
                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                <div>
                                                    <h6 class="my-0">&nbsp;&nbsp;&nbsp;&nbsp;{{ c_saldo_2 }}:</h6>
                                                </div>
                                                <span class="text-danger">{{ c_saldo_m_2 }}</span>
                                            </li>
                                        {% endif %}
                                        {% if c_saldo_3 %}
                                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                <div>
                                                    <h6 class="my-0">&nbsp;&nbsp;&nbsp;&nbsp;{{ c_saldo_3 }}:</h6>
                                                </div>
                                                <span class="text-danger">{{ c_saldo_m_3 }}</span>
                                            </li>
                                        {% endif %}

                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h5 class="my-0">ITBMS:</h5>
                                                <small class="text-muted">7%.</small>
                                            </div>
                                            <span class="text-muted">{{ itbms }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <h5 class="my-0">Neto del deudor:</h5>
                                                <small class="text-muted">Cantidad a transferir.</small>
                                            </div>
                                            <span class="h3 text-success"><b>{{ desembolso }}</b></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8 order-md-1">
                                    <div class="container-fluid">
                                        <h4 class="mb-3 font-weight-bold">Información del cliente</h4>
                                        <div class="row">
                                            <table class="table table-responsive-lg text-lg table-hover table-striped">
                                                <tbody>
                                                <tr>
                                                    <td>Nombres:</td>
                                                    <th style="border-right: solid black 1px;">{{ nombres }}</th>
                                                    <td>Apellidos:</td>
                                                    <th>{{ apellidos }}</th>
                                                </tr>
                                                <tr>
                                                    <td>Tipo documento:</td>
                                                    <th style="border-right: solid black 1px;">{{ object.cliente.tipo_doc }}</th>
                                                    <td>DNI:</td>
                                                    <th>{{ object.cliente.dni }}</th>
                                                </tr>
                                                <tr>
                                                    <td>Tipo Empresa:</td>
                                                    <th style="border-right: solid black 1px;">{{ object.cliente.tipo_ingreso }}</th>
                                                    <td>Empresa:</td>
                                                    <th>{{ object.cliente.empresa_2|default_if_none:"No registrado" }}</th>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr>
                                        <h4 class="mb-3 font-weight-bold">Información Bancaria</h4>
                                        {% if info_banco %}
                                            <div class="row">
                                                <table class="table table-responsive-lg text-lg table-hover table-striped">
                                                    <tbody>
                                                    <tr>
                                                        <td>Nombre de cuenta:</td>
                                                        <th>{{ info_banco.nombre_cuenta }}</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Número de cuenta:</td>
                                                        <th>{{ info_banco.numero_cuenta }}</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Banco:</td>
                                                        <th>{{ info_banco.banco }}</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Tipo de cuenta:</td>
                                                        <th>{{ info_banco.tipo_cuenta }}</th>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">Notas:
                                                            <b class="ml-5">{{ info_banco.notas|linebreaks }}</b>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        {% else %}
                                            <div class="row">
                                                <h4 class="text-center text-warning">No se registró información
                                                    bancaria.</h4>
                                            </div>
                                        {% endif %}

                                        <hr>
                                        <h4 class="mb-3 font-weight-bold">Documentos de referencia:</h4>
                                        <div class="row">
                                            <div class="col-6 col-sm-4">
                                                <div class="info-box bg-light">
                                                    <div class="info-box-content">
                                                        <span class="info-box-text text-center text-muted">O.D. aprobada:</span>
                                                        <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if object.orden_descuento == None or object.orden_descuento == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ object.orden_descuento }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-primary h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}
                                                </span>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                                <div class="info-box bg-light">
                                                    <div class="info-box-content">
                                                        <span class="info-box-text text-center text-muted">Correo de confirmación O.D.:</span>
                                                        <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if object.email_conf == None or object.email_conf == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ object.email_conf }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-primary h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}
                                                </span>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer bg-gradient-gray-dark">
                            <a href="{% url 'prestamos:lista_desembolsos_p' %}" class="btn btn-info border-light">
                                <i class="fas fa-undo"></i> Regresar
                            </a>
                            <button class="btn btn-success border-light" type="button" onclick="aplicar_desembolso()">
                                <i class="fas fa-dollar-sign"></i> Aplicar desembolso
                            </button>
                            <form id="token_form">
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'prestamos/js/aplicar_desembolso.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
    <script type="application/javascript">
        function label_desembolso() {
            let etiqueta = document.getElementById('id_comprobante');
            document.getElementById('desembolso_label').innerHTML = etiqueta.files.item(0).name;
        }
    </script>

{% endblock %}