{% extends 'base_1.html' %}
{% load static %}

{% block script_head %}

    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>

{% endblock %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    <div class="card" style="background-color:#e6ffde;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title }} <span
                                    style="color: #FF8C33;">{{ num_solicitud }}</span></strong>
                            </h6>
                        </div>
                        <form id="desembolso">
                            {% csrf_token %}
                            <div class="card-body border border-dark">
                                <div class="row mb-2">
                                    <div class="col-6">
                                        <label for="id_cliente">Nombre cliente aprobado</label>
                                        {{ form.cliente }}
                                    </div>
                                    <div class="col-2">
                                        <label for="id_monto">Monto</label>
                                        {{ form.monto }}
                                    </div>
                                    <div class="col-2">
                                        <label for="id_plazo">Plazo</label>
                                        {{ form.plazo }}
                                    </div>
                                    <div class="col-2">
                                        <label for="id_fecha_ini">Fecha inicio</label>
                                        {{ form.fecha_ini }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <label for="id_f_contrato">Fecha contrato</label>
                                        {{ form.f_contrato }}
                                    </div>
                                    <div class="col-3">
                                        <label for="id_f_contrato">Fecha inicio O.D.</label>
                                        {{ form.fecha_ini_OD }}
                                    </div>
                                    <div class="col-3">
                                        <label for="id_ob_contrato">Obligación de contrato</label>
                                        {{ form.ob_contrato }}
                                    </div>
                                    <div class="col-3">
                                        <label for="id_c_cierre">Comision de cierre</label>
                                        {{ form.c_cierre }}
                                    </div>

                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <label for="id_compra_saldo">Compra de saldo</label>
                                        {{ form.compra_saldo }}
                                    </div>
                                    <div class="col-3">
                                        <label for="id_c_promotor">Comision de promotor</label>
                                        {{ form.c_promotor }}
                                    </div>
                                    <div class="col-3">
                                        <label for="id_s_descuento">Servicio de descuento</label>
                                        {{ form.s_descuento }}
                                    </div>
                                    <div class="col-3">
                                        <label for="id_estatus">Estatus aprobación</label>
                                        {{ form.estatus }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <label for="id_num_contrato">Num. de contrato</label>
                                        {{ form.num_contrato }}
                                    </div>
                                    <div class="col-3">
                                        <label for="id_num_contrato">Fecha Aprobación</label>
                                        {{ form.creado_el }}
                                    </div>
                                    {% if registro_empresa %}
                                        <div class="col-3">
                                            <label for="registro_empresa">Registro empresa</label>
                                            <span id="registro_empresa">{{ object.cliente.empresa_2 }}</span>
                                            <i class="fas fa-check fa-7x"></i>
                                        </div>
                                    {% else %}
                                        <div class="col-3">
                                            <label for="registro_empresa">Registro empresa</label>
                                            <i class="fas fa-times fa-2x danger"></i> {{ object.cliente.empresa_1 }}
                                        </div>
                                        <div class="col-3">
                                            <button type="button" class="btn btn-info" data-toggle="modal"
                                                    data-target="#registro_empresa">Registro empresa
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                        <!-- /.card-body -->
                        <div class="card-footer border border-dark bg-gradient-gray-dark">
                            <button form="desembolso" type="submit" class="btn btn-success border border-light">
                                Guardar cambios
                            </button>
                            <a class="btn btn-info" href="{% url 'prestamos:ajustes_aprobaciones' %}"> Regresar
                            </a>
                            {{ error }}
                        </div>
                        <!-- /.card-footer-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Registro Empresa -->
        <div class="modal fade" id="registro_empresa" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-gradient-dark">
                        <h5 class="modal-title" id="exampleModalLongTitle">Registro de empresa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="reg_empresa_2">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label for="id_empresa_2">Registro de empresa</label>
                            {{ form_empresa.empresa_2 }}
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" onclick="registro_empresa()" class="btn btn-primary"><i class="far fa-save"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'prestamos/js/crear_desembolsos.js' %}"></script>

{% endblock %}