{% extends 'base_1.html' %}
{% load static %}

{% block script_head %}

{% endblock %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    <div class="card" style="background-color:#e6ffde;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title }} <span
                                    style="color: #FF8C33;">{{ num_solicitud }}</span></strong>
                            </h6>
                        </div>
                        <div class="card-body border border-dark">
                            {{ form.as_table }}

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer border border-dark bg-gradient-gray-dark">
                            <a type="button" href="{% url 'prestamos:aprobacion_clientes' %}" id="regresar"
                               class="btn btn-warning border border-light"><i
                                    class="fas fa-undo-alt"></i> Regresar
                            </a>
                            <button form="aprobacion" type="submit" onclick="return aprobar()"
                                    class="btn btn-success border border-light"><i
                                    class="fas fa-thumbs-up"></i> Aprobar
                            </button>
                            <button form="aprobacion" type="submit" onclick="return rechazar()"
                                    class="btn btn-danger border border-light"><i
                                    class="fas fa-thumbs-down"></i> Rechazar
                            </button>
                            {{ error }}
                        </div>
                        <!-- /.card-footer-->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_java %}

{% endblock %}