{% extends 'base_1.html' %}
{% load static %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    {% if request.user.username == 'gerencia.rc' or request.user.username == 'vicente_rc' %}
                        <div class="card" style="background-color:#e6ffde;">
                            <div class="card-header bg-gradient-gray-dark border border-dark">
                                <h6 class="card-title text-lg"><strong>{{ card_title_1 }}</strong>
                                </h6>
                            </div>
                            <div class="card-body border border-dark">
                                <table class="table table-hover table-head-fixed" id="tabla_aprobacion_1">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 10%;"># Contrato</th>
                                        <th scope="col" style="width: 15%;">Nombre</th>
                                        <th scope="col" style="width: 15%;">Apellido</th>
                                        <th scope="col" style="width: 15%;">Tipo ingreso</th>
                                        <th scope="col" style="width: 15%;">Ingreso</th>
                                        <th scope="col" style="width: 15%;">Mes Cliente</th>
                                        <th scope="col" style="width: 10%;">Atraso</th>
                                        <th scope="col" style="width: 10%;">Documentos</th>
                                        <th scope="col" style="width: 10%;">Ver</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>

                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer border border-dark bg-gradient-gray-dark">
                                <button type="button" id="update_gerencia" class="btn btn-info border border-light"><i
                                        class="fas fa-sync-alt"></i> Actualizar
                                </button>
                            </div>
                            <!-- /.card-footer-->
                        </div>
                    {% endif %}
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}