{% extends 'base_1.html' %}
{% load static %}
{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card" style="background-color: #e6ffde;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title_1 }}</strong>
                            </h6>
                        </div>
                        <div class="card-body border border-dark">
                            <table class="table table-hover table-head-fixed" id="tabla_pre_1">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 5%;">Nro</th>
                                    <th scope="col" style="width: 15%;">Nombre</th>
                                    <th scope="col" style="width: 15%;">Apellido</th>
                                    <th scope="col" style="width: 12%;">Tipo ingreso</th>
                                    <th scope="col" style="width: 8%;">Ingreso</th>
                                    <th scope="col" style="width: 10%;">Mes S.</th>
                                    <th scope="col" style="width: 10%;">Procesó</th>
                                    <th scope="col" style="width: 10%;">Documentos</th>
                                    <th scope="col" style="width: 5%;">Estatus</th>
                                    <th scope="col" style="width: 10%;">Opciones</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="3"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="card" style="background-color: #FFFAE4;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title_2 }}</strong>
                            </h6>

                        </div>
                        <div class="card-body border border-dark">
                            <table class="table table-hover table-head-fixed" id="tabla_pre_2">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 10%;">Nro</th>
                                    <th scope="col" style="width: 15%;">Nombre</th>
                                    <th scope="col" style="width: 15%;">Apellido</th>
                                    <th scope="col" style="width: 15%;">Tipo ingreso</th>
                                    <th scope="col" style="width: 15%;">Ingreso</th>
                                    <th scope="col" style="width: 10%;">Procesó</th>
                                    <th scope="col" style="width: 10%;">Documentos</th>
                                    <th scope="col" style="width: 10%;">Opciones</th>

                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal_rechazados" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-secondary">
                        <h5 class="modal-title" id="exampleModalLongTitle">Notas: <span id="n_cliente"
                                                                                        class="text-warning"></span>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <h5 class="text-center"><b>Gerencia:</b></h5>
                            <p class="font-italic text-orange" id="n_gerencia"></p>
                            <hr>
                            <h5 class="text-center"><b>Cumplimiento:</b></h5>
                            <p class="font-italic text-orange" id="n_cumplimiento"></p>
                            <hr>
                            <h5 class="text-center"><b>Ventas:</b></h5>
                            <p class="font-italic text-orange" id="n_ventas"></p>
                        </div>
                    </div>
                    <form id="token_form">
                        {% csrf_token %}
                        <input type="hidden" id="id_last_client" name="id_cliente">
                    </form>
                    <div class="modal-footer">
                        {% if user.get_username in permitidos %}
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    onclick="recuperar_cliente()"><i class="fas fa-backward"></i> Recuperar
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'ventas/js/lista_preaprobados.js' %}"></script>

{% endblock %}