{% extends 'base_1.html' %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    <div class="card" style="background-color: #FFFAE4;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title_1 }}</strong>
                            </h6>

                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <table class="table table-hover table-head-fixed" id="empresas">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 10%;">Nro</th>
                                        <th scope="col" style="width: 15%;">Nombre</th>
                                        <th scope="col" style="width: 15%;">RUC</th>
                                        <th scope="col" style="width: 20%;">Negocio</th>
                                        <th scope="col" style="width: 20%;">Tipo de negocio</th>
                                        <th scope="col" style="width: 10%;">Teléfono</th>
                                        <th scope="col" style="width: 10%;">Estatus</th>
                                        <th scope="col" style="width: 10%;">Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <a href="{{ create_url }}" class="btn btn-primary btn_test"><i
                                    class="fas fa-plus"></i>
                                Nuevo registro
                            </a>
                            <a href="{% url 'ventas:empresas_lista' %}" class="btn btn-info"><i
                                    class="fas fa-sync-alt"></i> Actualizar</a>
                        </div>
                        {#                            <div class="card-footer">#}
                        {#                                Footer#}
                        {#                            </div>#}
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}