{% extends 'base_1.html' %}
{% load static %}

{% block script_head %}
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>

    <style>
        .fv-plugins-bootstrap .form-group.url-web .fv-plugins-icon {
             right: 50px;
        }
    </style>

{% endblock %}

{% block content_base %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <form method="post" action="." id="form_empresa">
                        {% csrf_token %}
                        <div class="card" style="background-color: #e6ffde;">
                            <div class="card-header bg-dark h4">
                                <strong>{{ card_title }}</strong>
                                <div class="card-tools"><small><span class="text-danger">*</span>Campo requerido</small>
                                </div>
                            </div>
                            <div class="card-body">
                                <div ¡>
                                    <input type="hidden" id="action" name="action" value="{{ action }}">
                                    <!-- Primera fila -->
                                    <div class="row form-group">
                                        <div class="col-md-3">
                                            <label class="form-label">Razón Comercial<span
                                                    class="text-danger">*</span> :</label>
                                            {{ form.nombre }}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Razón social<span class="text-danger">*</span>
                                                :</label>
                                            {{ form.r_social }}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">RUC<span class="text-danger">*</span> :</label>
                                            {{ form.ruc }}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Sector económico<span class="text-danger">*</span>
                                                :</label>
                                            {{ form.sector }}
                                        </div>

                                    </div>
                                    <!-- Segunda fila -->
                                    <div class="row form-group">
                                        <div class="col-md-3">
                                            <label class="form-label" for="id_sub_sector">Subsector<span
                                                    class="text-danger">*</span>
                                                :</label>
                                            {% if action == 'edit' %}
                                                {{ form.sub_sector }}
                                            {% else %}
                                                <select name="sub_sector" class="form-select form-control"
                                                        id="id_sub_sector">
                                                    <option value="" selected="">---------</option>
                                                </select>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Tipo de empresa<span class="text-danger">*</span>
                                                :</label>
                                            {{ form.tipo }}
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Alcance de empresa</label>
                                            {{ form.alcance }}
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Fecha de constitución<span
                                                    class="text-danger">*</span> :</label>
                                            {{ form.fecha_const }}
                                            <small id="text_help" class="form-text text-muted">Tiempo mayor a 5
                                                años.</small>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Teléfono<span class="text-danger">*</span>
                                                :</label>
                                            {{ form.telefono }}
                                        </div>
                                    </div>
                                    <!-- Tercera fila -->
                                    <div class="row form-group">
                                        <div class="col-md-3">
                                            <label class="form-label">Nombre de contacto<span
                                                    class="text-danger">*</span> :</label>
                                            {{ form.nombre_contacto }}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Apellido de contacto<span
                                                    class="text-danger">*</span> :</label>
                                            {{ form.apellido_contacto }}
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Celular<span class="text-danger">*</span>
                                                :</label>
                                            {{ form.celular }}
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Email<span class="text-danger">*</span> :</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="row form-group url-web">
                                        <div class="col-md-4">
                                            <label class="form-label">Enlace de C.P.E.<span
                                                    class="text-danger">*</span> :</label>
                                            <div class="input-group">
                                                {{ form.certificado_pe }}
                                                <div class="input-group-append">
                                                    <button class="btn btn-info" type="button"
                                                            id="button_pe" onclick="ver_enlace('pe')">Ver
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Enlace de C.P.J.:</label>
                                            <div class="input-group">
                                                {{ form.certificado_pj }}
                                                <div class="input-group-append">
                                                    <button class="btn btn-info" type="button"
                                                            id="button_pj" onclick="ver_enlace('pj')">Ver
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Página Web:</label>
                                            <div class="input-group">
                                                {{ form.pagina_web }}
                                                <div class="input-group-append">
                                                    <button class="btn btn-info" type="button"
                                                            id="button_pw" onclick="ver_enlace('pw')">Ver
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Cuarta fila -->
                                    <hr>
                                    <h4><strong>Dirección:</strong></h4>
                                    <div class="row form-group">
                                        <div class="col-md-2">
                                            <label class="form-label">Provincia<span class="text-danger">*</span>
                                                :</label>
                                            {{ form.provincia }}
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label" for="id_distrito">Distrito<span
                                                    class="text-danger">*</span>
                                                :</label>
                                            {% if action == 'edit' %}
                                                {{ form.distrito }}
                                            {% else %}
                                                <select name="distrito" class="form-select form-control"
                                                        id="id_distrito">
                                                    <option value="" selected="">---------</option>
                                                </select>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label" for="id_corregimiento">Corregimiento<span
                                                    class="text-danger">*</span> :</label>
                                            {% if action == 'edit' %}
                                                {{ form.corregimiento }}
                                            {% else %}
                                                <select name="corregimiento" class="form-select form-control"
                                                        id="id_corregimiento">
                                                    <option value="" selected="">---------</option>
                                                </select>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-5">
                                            <label class="form-label">Descripción</label>
                                            {{ form.direccion }}
                                        </div>
                                    </div>
                                    <!-- Quinta fila -->
                                    <hr class="mb-4">
                                    <div class="row form-group">
                                        <div>
                                            <div class="form-group">
                                                <label for="id_notas">Notas</label>
                                                {{ form.notas }}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Sexta fila -->
                                {% if user.get_username == 'vicente_rc' or user.get_username == 'guillermo.lemos' or user.get_username == 'gerencia.rc' %}
                                    <hr>
                                    <div class="row form-group">
                                        <div class="col-md-3">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                {{ form.verificacion }}
                                                <label class="custom-control-label" for="id_verificacion"><span
                                                        style="color:darkgreen;font-weight:bold">Marcar como empresa verificada.</span></label>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                </div>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button class="w-10 btn btn-success" type="submit" id="sub_empresas">
                                    <i class="fas fa-save"></i> Guardar empresa
                                </button>
                                <a href="{% url 'ventas:empresas_lista' %}" class="w-10 btn btn-danger"
                                   type="cancel"><i class="far fa-times-circle"></i> Cancelar</a>
                            </div>
                            <!-- /.card-footer-->
                        </div>
                        <!-- /.card -->
                    </form>

                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock %}

{% block scripts_java %}
    <script src="{% static 'ventas/js/validations_3.js' %}"></script>

    <script>
        function ver_enlace(sel) {
            let enlace_pe = document.getElementById('id_certificado_pe').value;
            let enlace_pj = document.getElementById('id_certificado_pj').value;
            let enlace_pw = document.getElementById('id_pagina_web').value;
            if (sel === 'pe' && enlace_pe){
                window.open(enlace_pe, '_blank');
            }else if (sel === 'pj' && enlace_pj){
                window.open(enlace_pj, '_blank');
            }else if (sel === 'pw' && enlace_pw){
                window.open(enlace_pw, '_blank');
            }
        }
    </script>

    <script src="{% static 'ventas/js/select_ajax.js' %}"></script>

{% endblock %}
