{% extends 'base_1.html' %}
{% load static %}

{% block script_head %}
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>

    <!-- Select2 -->
    <link href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.1.0-rc.0/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.1.0-rc.0/dist/js/i18n/es.js' %}"></script>

    <style>
        {#//  Customize the icon's position#}
        .fv-plugins-bootstrap .form-group.inputGroupContainer .fv-plugins-icon,
        .fv-plugins-bootstrap .form-group.selectContainer .fv-plugins-icon {
            right: 70px;
        }
    </style>

{% endblock %}

{% block content_base %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card" style="background-color: #e6ffde;">
                        <form id="agregar_antiguo" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-header bg-gradient-gray-dark border border-dark h5">
                                {{ card_title }} <strong class="text-warning">{{ object.num_contrato }}</strong>
                                <div class="card-tools">
                                    <small><span class="text-danger">*</span> Obligatorio</small>
                                </div>
                            </div>
                            <div class="card-body border border-dark">
                                <!-- Primera fila -->
                                <div class="row form-group">
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">Primer nombre: <span
                                                class="text-danger">*</span></label>
                                        {{ form.nombre_1 }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">Segundo nombre:</label>
                                        {{ form.nombre_2 }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">Primer apellido: <span
                                                class="text-danger">*</span></label>
                                        {{ form.apellido_1 }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">Segundo apellido:</label>
                                        {{ form.apellido_2 }}
                                    </div>
                                </div>
                                <!-- Segunda fila -->
                                <div class="row form-group">
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">Tipo de documento: <span
                                                class="text-danger">*</span></label>
                                        {{ form.tipo_doc }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">Núm. de ID: <span
                                                class="text-danger">*</span></label>
                                        {{ form.dni }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">Nacionalidad: <span
                                                class="text-danger">*</span></label>
                                        {{ form.nacionalidad }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">F. de Nacimiento: <span
                                                class="text-danger">*</span></label>
                                        {{ form.f_nacimiento }}
                                    </div>

                                </div>
                                <!-- Tercera fila -->
                                <div class="row form-group">
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">Celular: <span
                                                class="text-danger">*</span></label>
                                        {{ form.celular }}
                                    </div>
                                    <div class="col-md-5 mb-1">
                                        <label class="form-label">Email: <span class="text-danger">*</span></label>
                                        {{ form.email_1 }}
                                    </div>
                                    <div class="col-md-2 mb-1">
                                        <label class="form-label">Estado civil: <span
                                                class="text-danger">*</span></label>
                                        {{ form.e_civil }}
                                    </div>
                                    <div class="col-md-2 mb-1">
                                        <label class="form-label">Género: <span class="text-danger">*</span></label>
                                        {{ form.genero }}
                                    </div>
                                </div>
                                <!-- Cuarta fila -->
                                <div class="row form-group">
                                    <div class="col-md-2 mb-1">
                                        <label class="form-label">Dependientes: <span
                                                class="text-danger">*</span></label>
                                        {{ form.dependientes }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">Tipo de ingreso: <span
                                                class="text-danger">*</span></label>
                                        {{ form.tipo_ingreso }}
                                    </div>
                                    <div class="col-md-2 mb-1">
                                        <label class="form-label">Salario: <span
                                                class="text-danger">*</span></label>
                                        {{ form.salario }}
                                    </div>
                                    <div class="col-md-2 mb-1">
                                        <label class="form-label">Ingresos extra: <span
                                                class="text-danger">*</span></label>
                                        {{ form.in_extras }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">Estudios: <span
                                                class="text-danger">*</span></label>
                                        {{ form.estudios }}
                                    </div>
                                </div>
                                <!-- Quinta fila -->
                                <div class="row form-group">
                                    <div class="col-md-4 mb-1">
                                        <label class="form-label">Empresa: <span
                                                class="text-danger">*</span></label>
                                        {{ form.empresa_1 }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">Registro empresa:</label>
                                        {{ form.empresa_2 }}
                                    </div>
                                    <div class="col-md-2 mb-1">
                                        <label class="form-label">P.E.P.: <span class="text-danger">*</span></label>
                                        {{ form.p_expuesto }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">Promotor: <span class="text-danger">*</span></label>
                                        {{ form.promotor }}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4 mb-1">
                                        <label class="form-label">Motivo del préstamo: <span
                                                class="text-danger">*</span></label>
                                        {{ form.motivo }}
                                    </div>
                                </div>
                                <!-- Sexta fila -->
                                <hr class="mb-2 form-group">
                                <h4><strong>Dirección:</strong></h4>
                                <div class="row form-group">
                                    <div class="col-md-2 mb-1">
                                        <label class="form-label">Provincia: <span
                                                class="text-danger">*</span></label>
                                        {{ form.provincia }}
                                    </div>
                                    <div class="col-md-2 mb-1">
                                        <label class="form-label">Distrito: <span
                                                class="text-danger">*</span></label>
                                        {{ form.distrito }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <label class="form-label">Corregimiento: <span
                                                class="text-danger">*</span></label>
                                        {{ form.corregimiento }}
                                    </div>
                                    <div class="col-md-5 mb-1">
                                        <label class="form-label">Descripción:</label>
                                        {{ form.direccion }}
                                    </div>
                                </div>
                                <hr class="mb-2 form-group">
                                <h4><strong>Parámetros del crédito:</strong></h4>
                                <!-- Séptima fila -->
                                {% if user.get_username in permisos_cobros %}
                                    <div class="row form-group">
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Monto: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.monto }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Plazo (meses): <span
                                                    class="text-danger">*</span></label>
                                            {{ form.plazo }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Fecha de inicio: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.fecha_ini }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Ob. contrato:</label>
                                            {{ form.ob_contrato }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Fecha contrato:</label>
                                            {{ form.f_contrato }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Fecha inicio O.D.:</label>
                                            {{ form.fecha_ini_OD }}
                                        </div>
                                    </div>
                                    <!-- Octava fila -->
                                    <div class="row form-group">
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Ajuste C. cierre: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.c_cierre }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label" for="compra_saldo">Compras de
                                                saldo: <span class="text-danger">*</span></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <input type="hidden" name="compra_saldo" id="compra_saldo"
                                                           value="{{ object.compra_saldo|default_if_none:"" }}">
                                                    <button class="btn btn-primary" type="button"
                                                            id="button-addon"
                                                            onclick="cancelaciones_cliente('compra_saldo', 'cancelaciones_span')">
                                                        Ingresar
                                                    </button>
                                                </div>
                                                <span type="text" class="form-control"
                                                      id="cancelaciones_span"
                                                      aria-describedby="button-addon"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Comisión de promotor: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.c_promotor }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Serv. descuento: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.s_descuento }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">I.D. Contrato: <span class="text-danger">*</span></label>
                                            {{ form.num_contrato }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row form-group">
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">I.D. Contrato: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.num_contrato }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <input type="hidden" name="compra_saldo" id="compra_saldo"
                                                   value="{{ object.compra_saldo|default_if_none:"" }}">
                                            <label class="form-label" for="compra_saldo">Compras de
                                                saldo: <span class="text-danger">*</span></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-primary" type="button"
                                                            id="button-addon"
                                                            onclick="cancelaciones_cliente('cancelaciones', 'cancelaciones_span')">
                                                        Ingresar
                                                    </button>
                                                </div>
                                                <span type="text" class="form-control"
                                                      id="cancelaciones_span"
                                                      aria-describedby="button-addon"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Comisión de promotor: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.c_promotor }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Serv. descuento: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.s_descuento }}
                                        </div>
                                    </div>
                                {% endif %}

                                {% if user.get_username in permisos_documentos %}
                                    <hr class="mb-2 form-group">
                                    <h4><strong>Documentos pre-aprobación:</strong></h4>
                                    <!-- Novena fila -->
                                    <div class="row form-group inputGroupContainer">
                                        <div class="col-md-4">
                                            <label for="id_DNI_img" class="form-label">Cédula:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon1">Cargar <input type="file" name="DNI_img"
                                                                                            id="id_DNI_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>

                                                <span id="dni_span" type="text" class="form-control"
                                                      aria-describedby="button-addon1">Buscar archivo...</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_carta_trabajo_img">Carta de trabajo:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon2">Cargar <input type="file"
                                                                                            name="carta_trabajo_img"
                                                                                            id="id_carta_trabajo_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>
                                                <span id="carta_trabajo_span" type="text" class="form-control"
                                                      aria-describedby="button-addon2">Buscar archivo...</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_talonario_1_img">Copia talonario #1:</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon3">Cargar <input type="file"
                                                                                            name="talonario_1_img"
                                                                                            id="id_talonario_1_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>

                                                <span id="talonario_1_span" type="text" class="form-control"
                                                      aria-describedby="button-addon3">Buscar archivo...</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Décima fila -->
                                    <div class="row form-group inputGroupContainer">
                                        <div class="col-md-4">
                                            <label for="id_talonario_2_img">Copia talonario #2:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon4">Cargar <input type="file"
                                                                                            name="talonario_2_img"
                                                                                            id="id_talonario_2_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>

                                                <span id="talonario_2_span" type="text" class="form-control"
                                                      aria-describedby="button-addon4">Buscar archivo...</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_ficha_img">Ficha CSS:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon5">Cargar <input type="file" name="ficha_img"
                                                                                            id="id_ficha_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>

                                                <span id="ficha_span" type="text" class="form-control"
                                                      aria-describedby="button-addon5">Buscar archivo...</span>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_recibo_img">Recibo de servicio público:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon6">Cargar <input type="file"
                                                                                            name="recibo_img"
                                                                                            id="id_recibo_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>

                                                <span id="recibo_span" type="text" class="form-control"
                                                      aria-describedby="button-addon6">Buscar archivo...</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group inputGroupContainer">
                                        <div class="col-md-4">
                                            <label for="id_carta_saldo_img">Carta de saldo <span
                                                    class="text-primary">(si aplica)</span>:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon7">Cargar <input type="file"
                                                                                            name="carta_saldo_img"
                                                                                            id="id_carta_saldo_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>
                                                <span id="c_saldo_span" type="text" class="form-control"
                                                      aria-describedby="button-addon7">Buscar archivo...</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_file_apc">APC:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon8">Cargar <input type="file" name="file_apc"
                                                                                            id="id_file_apc"
                                                                                            accept="application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>
                                                <span id="apc_file_span" type="text" class="form-control"
                                                      aria-describedby="button-addon8">Buscar archivo...</span>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mb-2 form-group">
                                    <h4><strong>Documentos Aprobación:</strong></h4>
                                    <!-- Novena fila -->
                                    <div class="row form-group inputGroupContainer">
                                        <div class="col-md-4">
                                            <label for="od_f1" class="form-label">Cargar O.D./F1 aprobada:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button" id="button-addon1">Cargar <input
                                                            type="file"
                                                            name="orden_descuento" id="od_f1"
                                                            accept="image/*,application/pdf"
                                                            hidden>
                                                    </label>
                                                </div>

                                                <span id="od_span" type="text"
                                                      class="form-control"
                                                      aria-describedby="button-addon1">Buscar archivo...</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_contrato" class="form-label">Contrato
                                                firmado:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon1">Cargar
                                                        <input type="file" name="contrato"
                                                               id="id_contrato"
                                                               accept="application/pdf"
                                                               hidden>
                                                    </label>
                                                </div>

                                                <span id="contrato_span" type="text"
                                                      class="form-control"
                                                      aria-describedby="button-addon1">Buscar archivo...</span>

                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_pagare" class="form-label">Pagaré
                                                firmado:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-pagare">Cargar
                                                        <input type="file" name="pagare"
                                                               id="id_pagare"
                                                               accept="image/*,application/pdf"
                                                               hidden>
                                                    </label>
                                                </div>

                                                <span id="pagare_span" type="text"
                                                      class="form-control"
                                                      aria-describedby="button-pagare">Buscar archivo...</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Décima fila -->
                                    <div class="row form-group inputGroupContainer">
                                        <div class="col-md-4">
                                            <label for="id_pagare" class="form-label">Conoce tu cliente:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-c_cliente">Cargar
                                                        <input type="file" name="conoce_cliente"
                                                               id="id_conoce_cliente"
                                                               accept="image/*,application/pdf"
                                                               hidden>
                                                    </label>
                                                </div>
                                                <span id="c_cliente_span" type="text"
                                                      class="form-control"
                                                      aria-describedby="button-c_cliente">Buscar archivo...</span>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                                <!-- Undécima fila -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer bg-gradient-gray-dark border border-dark">
                                <button class="w-10 btn-success btn border border-light" type="submit"
                                        form="edit_antiguo">
                                    <i class="far fa-save"></i> Guardar datos
                                </button>
                                <a href="{% url 'cobros:lista_clientes' %}"
                                   class="w-10 btn-info btn border border-light">
                                    <i class="fas fa-undo-alt"></i> Regresar
                                </a>

                            </div>
                            <!-- /.card-footer-->
                        </form>
                        <form id="token_form">
                            {% csrf_token %}
                        </form>
                    </div>

                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'cobros/js/agregar_cliente_ant.js' %}"></script>
    <script src="{% static 'cobros/js/process_img_cliente_2.js' %}"></script>
    <script src="{% static 'cobros/js/select_direccion.js' %}"></script>

    <script>

        (function autorun() {
            $('.select2').select2({
                theme: 'bootstrap4',
                language: 'es',
            });
            cargar_c_saldo("{{ object.compra_saldo|default_if_none:""|safe }}"); // autostart this one
        })();

    </script>

{% endblock %}

