{% extends 'base_1.html' %}
{% load static %}
{% load humanize %}

{% block script_head %}
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>
{% endblock %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-gradient-dark h3">
                    {{ card_title }}
                    <b class="text-warning">
                        {{ info_credito.num_contrato }}
                    </b>
                </div>
                <div class="card-body">

                    <div class="card">
                        <div class="card-header bg-secondary text-center">
                            <span class="h4"><strong>Información del cliente:</strong></span>
                        </div>
                        <div class="card-body" style="background-color: #F5F5F5;">
                            <div class="col-sm-12">
                                <table class="table table-sm table-responsive-sm table-hover table-striped bg-light"
                                       style="table-layout: auto; width: 100%">
                                    <tr>
                                        <td style="width: 50%" class="h5">
                                            Nombre completo:&nbsp;
                                            <strong>
                                                {% if info_cliente.nombre_2 and info_cliente.apellido_2 %}
                                                    {{ info_cliente.nombre_1 }} {{ info_cliente.nombre_2 }}
                                                    {{ info_cliente.apellido_1 }} {{ info_cliente.apellido_2 }}
                                                {% elif info_cliente.nombre_2 %}
                                                    {{ info_cliente.nombre_1 }} {{ info_cliente.nombre_2 }}
                                                    {{ info_cliente.apellido_1 }}
                                                {% elif info_cliente.apellido_2 %}
                                                    {{ info_cliente.nombre_1 }} {{ info_cliente.apellido_1 }}
                                                    {{ info_cliente.apellido_2 }}
                                                {% else %}
                                                    {{ info_cliente.nombre_1 }} {{ info_cliente.apellido_1 }}
                                                {% endif %}
                                            </strong>
                                        </td>

                                        <td class="h5">
                                            Salario: &nbsp;
                                            <strong>
                                                {{ info_cliente.salario }}
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h5">
                                            Tipo de documento:&nbsp;
                                            <strong>
                                                {{ info_cliente.tipo_doc }}
                                            </strong>
                                        </td>
                                        <td class="h5">
                                            DNI: &nbsp;
                                            <strong>
                                                {{ info_cliente.dni }}
                                            </strong>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="h5">
                                            Nacionalidad: &nbsp;
                                            <strong>
                                                {{ info_cliente.nacionalidad }}
                                            </strong>
                                        </td>
                                        <td class="h5">
                                            Tipo de ingreso: &nbsp;
                                            <strong>
                                                {{ info_cliente.tipo_ingreso }}
                                            </strong>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="h5">
                                            Empresa donde labora:&nbsp;
                                            <strong>
                                                {% if info_cliente.empresa_2 %}
                                                    {{ info_cliente.empresa_2 }}
                                                {% else %}
                                                    <span class="text-warning">No registrado</span>
                                                {% endif %}
                                            </strong>
                                        </td>
                                        <td class="h5">
                                            P.E.P.:&nbsp;
                                            <strong>
                                                {{ info_cliente.p_expuesto }}
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h5" colspan="2">
                                            Dirección:&nbsp;
                                            <strong>
                                                {{ info_cliente.provincia }}, {{ info_cliente.distrito }}, {{ info_cliente.corregimiento }},
                                                {{ info_cliente.direccion }}
                                            </strong>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header bg-secondary text-center">
                            <span class="h4"><strong>Información del crédito:</strong></span>
                        </div>
                        <div class="card-body" style="background-color: #F5F5F5;">
                            <table class="table table-sm table-responsive-sm table-hover table-striped bg-light"
                                   style="table-layout: auto; width: 100%">
                                <tr>
                                    <td class="h5" style="width: 33%">
                                        Monto Solicitado:&nbsp;
                                        <strong>
                                            {{ info_credito.monto }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Plazo: &nbsp;
                                        <strong>
                                            {{ info_credito.plazo }} meses
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Meses extra: &nbsp;
                                        <strong>
                                            {{ meses_extra }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5">
                                        Fecha de inicio <span class="text-danger">*</span>: &nbsp;
                                        <strong>
                                            {{ info_credito.fecha_ini_OD }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Firma de contrato: &nbsp;
                                        <strong>
                                            {{ info_credito.f_contrato }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Total intereses:&nbsp;
                                        <strong>
                                            {{ total_intereses }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5">
                                        Total seguros: &nbsp;
                                        <strong>
                                            {{ total_seguros }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Comisión total: &nbsp;
                                        <strong>
                                            {{ comision }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Notaría: &nbsp;
                                        <strong>
                                            {{ notaria }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5">
                                        Obligación total:&nbsp;
                                        <strong>
                                            {{ info_credito.ob_contrato }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Cuota regular: &nbsp;
                                        <strong>
                                            {{ cuota_regular }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Cuota final: &nbsp;
                                        <strong>
                                            {{ cuota_final }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5">
                                        Cuotas pagadas <span class="text-danger">**</span>: &nbsp;
                                        <strong>
                                            {{ cuotas_pagas }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Cuotas faltantes <span class="text-danger">**</span>: &nbsp;
                                        <strong>
                                            {{ cuotas_faltantes }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Total cuotas <span class="text-danger">**</span>:&nbsp;
                                        <strong>
                                            {{ total_cuotas }}
                                        </strong>
                                    </td>
                                </tr>
                            </table>
                            <small class="text-secondary"><small class="text-danger">*</small> Definida por Orden de
                                descuento.</small>
                            <br>
                            <small class="text-secondary"><small class="text-danger">**</small> Cuotas
                                quincenales.</small>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header bg-secondary text-center">
                            <span class="h4"><strong>Detalles de cancelación:</strong></span>
                        </div>
                        <div class="card-body" style="background-color: #F5F5F5;">
                            <div class="row">
                                <table class="table table-sm table-responsive-sm table-hover table-striped bg-light"
                                       style="table-layout: auto; width: 100%">
                                    <tr>
                                        <td class="h5">Crédito de cliente disponible:
                                            <span class="h4"><b id="cred_disp"></b></span>
                                        </td>
                                        <td>
                                            <button class="btn btn-info" onclick="aplicar_prepago()" data-toggle="modal"
                                                    data-target="#modal_tr"><i
                                                    class="fas fa-cash-register"></i> Agregar transacción
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h5">Total pagado por cliente:
                                            <span class="h4"><b id="cred_pago"></b></span>
                                        </td>
                                        <td class="h5">Saldo cliente <span class="text-danger">***</span>:
                                            <span class="h4"><b id="cred_saldo"></b></span>
                                        </td>
                                    </tr>
                                </table>
                                <small class="text-secondary"><small class="text-danger">***</small> Considerando total pagado.</small>
                            </div>
                            <hr>
                            <div class="row mb-1">
                                <span class="h4"> >> <b>Parámetros de la cancelación:</b></span>
                            </div>
                            <form id="form_prepago_manual">
                                {% csrf_token %}
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <label for="id_fecha_pago">Fecha de pago anticipado:</label>
                                        {{ form_pr.fecha_pago }}
                                    </div>
                                    <div class="col-3">
                                        <label for="id_fecha_ret_int">Fecha retorno de intereses:</label>
                                        {{ form_pr.fecha_ret_int }}
                                    </div>
                                    <div class="col-3">
                                        <label for="id_fecha_ret_seg">Fecha retorno de seguros:</label>
                                        {{ form_pr.fecha_ret_seg }}
                                    </div>
                                    <div class="col-3">
                                        <label for="id_ret_int">Monto retornado intereses:</label>
                                        {{ form_pr.ret_int }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <label for="id_fecha_pago">Monto retornado seguros:</label>
                                        {{ form_pr.ret_seg }}
                                    </div>
                                    <div class="col-3">
                                        <label for="id_penalidad">Penalidad aplicada:</label>
                                        {{ form_pr.penalidad }}
                                    </div>
                                    <div class="col-6">
                                        <label for="lista_tr_cliente">Transacción relacionada:</label>
                                        <select name="tr_pagado" class="form-control" id="lista_tr_cliente">
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label for="id_notas">Notas:</label>
                                        {{ form_pr.notas }}
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-auto">
                                    <button class="btn btn-success" type="submit" form="form_prepago_manual">Aplicar pago anticipado</button>
                                </div>
                                <div class="col-auto"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal transacciones -->
        <div class="modal fade" id="modal_tr" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-secondary h5">
                        <b>Agregar transacción</b>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <form action="." id="form_agregar_tr">
                                {% csrf_token %}
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        <label for="id_monto_1">Monto transacción:</label>
                                        {{ form.monto_tr }}
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="id_tipo_pago">Tipo de transacción:</label>
                                        {{ form.tipo_pago }}
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <label for="id_registro_tr">Registrar a:</label><br>
                                        <span class="h5"><b class="text-blue">**Cliente**</b></span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        <label for="id_fecha_pago_1">Fecha de transacción:</label>
                                        {{ form.fecha_tr }}
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="id_id_tr">ID transacción/CK/DP:</label>
                                        {{ form.id_tr }}
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="id_banco">Banco:</label>
                                        {{ form.banco }}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-8">
                                        <label for="id_id_tr">Info. de transacción:</label>
                                        {{ form.info_tr }}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label for="id_notas">Anotaciones:</label>
                                        {{ form.notas }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-secondary" data-dismiss="modal"><i
                                class="far fa-times-circle"></i> Cerrar
                        </button>
                        <button type="submit" form="form_agregar_tr" class="btn btn-sm btn-primary"><i
                                class="far fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <form id="token_form">
            {% csrf_token %}
        </form>
    </section>

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'cobros/js/aplicar_prepago.js' %}"></script>

    <script>
        (function () {
            saldo_cliente_pr();
        })();
    </script>

{% endblock %}

