{% extends 'base_1.html' %}
{% load static %}

{% block script_head %}
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>

    <!-- Select2 -->
    <link href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.1.0-rc.0/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.1.0-rc.0/dist/js/i18n/es.js' %}"></script>

    <style>
        {#//  Customize the icon's position#}
        .fv-plugins-bootstrap .form-group.inputGroupContainer .fv-plugins-icon,
        .fv-plugins-bootstrap .form-group.selectContainer .fv-plugins-icon {
            right: 70px;
        }

    </style>

{% endblock %}

{% block content_base %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card" style="background-color: #e6ffde;">
                        <form id="edit_nuevo" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-header bg-gradient-gray-dark border border-dark h5">
                                {{ card_title }} <strong class="text-warning">{{ object.num_contrato }}</strong>
                                <div class="card-tools">
                                    <small><span class="text-danger">*</span> Obligatorio</small>
                                </div>
                            </div>
                            <div class="card-body border border-dark">
                                <input type="hidden" name="action" value="{{ action }}">
                                <!-- Primera fila -->
                                <h4><strong>Parámetros del crédito:</strong></h4>
                                <!-- Séptima fila -->
                                {% if user.get_username in permisos_cobros %}
                                    <div class="row form-group">
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Monto: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.monto }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Plazo (meses): <span
                                                    class="text-danger">*</span></label>
                                            {{ form.plazo }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Fecha de inicio: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.fecha_ini }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Ob. contrato:</label>
                                            {{ form.ob_contrato }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Fecha contrato:</label>
                                            {{ form.f_contrato }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Fecha inicio O.D.:</label>
                                            {{ form.fecha_ini_OD }}
                                        </div>
                                    </div>
                                    <!-- Octava fila -->
                                    <div class="row form-group">
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Ajuste C. cierre: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.c_cierre }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label" for="compra_saldo">Compras de
                                                saldo: <span class="text-danger">*</span></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <input type="hidden" name="compra_saldo" id="compra_saldo"
                                                           value="{{ object.compra_saldo|default_if_none:"" }}">
                                                    <button class="btn btn-primary" type="button"
                                                            id="button-addon"
                                                            onclick="cancelaciones_cliente('compra_saldo', 'cancelaciones_span')">
                                                        Ingresar
                                                    </button>
                                                </div>
                                                <span type="text" class="form-control"
                                                      id="cancelaciones_span"
                                                      aria-describedby="button-addon"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Comisión de promotor: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.c_promotor }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">Serv. descuento: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.s_descuento }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">I.D. Contrato: <span class="text-danger">*</span></label>
                                            {{ form.num_contrato }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row form-group">
                                        <div class="col-md-2 mb-1">
                                            <label class="form-label">I.D. Contrato: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.num_contrato }}
                                        </div>
                                        <div class="col-md-2 mb-1">
                                            <input type="hidden" name="compra_saldo" id="compra_saldo"
                                                   value="{{ object.compra_saldo|default_if_none:"" }}">
                                            <label class="form-label" for="compra_saldo">Compras de
                                                saldo: <span class="text-danger">*</span></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-primary" type="button"
                                                            id="button-addon"
                                                            onclick="cancelaciones_cliente('cancelaciones', 'cancelaciones_span')">
                                                        Ingresar
                                                    </button>
                                                </div>
                                                <span type="text" class="form-control"
                                                      id="cancelaciones_span"
                                                      aria-describedby="button-addon"></span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if user.get_username in permisos_documentos %}

                                    <hr class="mb-2 form-group">
                                    <h4><strong>Documentos Aprobación:</strong></h4>
                                    <!-- Novena fila -->
                                    <div class="row form-group inputGroupContainer">
                                        <div class="col-md-4">
                                            {% if object.cliente.tipo_ingreso|safe == 'Empresa privada' %}
                                                <label for="od_f1" class="form-label">Cargar O.D. aprobada:</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                               type="button" id="button-addon1">Cargar <input
                                                                type="file"
                                                                name="orden_descuento" id="od_f1"
                                                                accept="image/*,application/pdf"
                                                                hidden>
                                                        </label>
                                                    </div>
                                                    {% if object.orden_descuento.name %}
                                                        <span id="od_span" type="text"
                                                              class="form-control text-orange"
                                                              aria-describedby="button-addon1">{{ object.od_name }}</span>
                                                    {% else %}
                                                        <span id="od_span" type="text"
                                                              class="form-control"
                                                              aria-describedby="button-addon1">Buscar archivo...</span>
                                                    {% endif %}
                                                </div>
                                                {% if object.orden_descuento.name %}
                                                    <div>
                                                        <a href="/media/{{ form.instance.orden_descuento }}"
                                                           class="btn btn-info border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i>
                                                            Ver</a>
                                                    </div>
                                                {% endif %}
                                            {% elif object.cliente.tipo_ingreso|safe == 'Empresa pública' %}
                                                <label for="od_f1"
                                                       class="form-label">Cargar F1:
                                                </label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                               type="button"
                                                               id="button-addon1">Cargar <input
                                                                type="file" name="f_1"
                                                                id="od_f1"
                                                                accept="image/*,application/pdf"
                                                                hidden>
                                                        </label>
                                                    </div>
                                                    {% if object.f_1.name %}
                                                        <span id="od_span" type="text"
                                                              class="form-control text-orange"
                                                              aria-describedby="button-addon1">{{ object.f1_name }}</span>
                                                    {% else %}
                                                        <span id="od_span" type="text"
                                                              class="form-control"
                                                              aria-describedby="button-addon1">Buscar archivo...</span>
                                                    {% endif %}
                                                </div>
                                                {% if object.f_1.name %}
                                                    <div>
                                                        <a href="/media/{{ form.instance.f_1 }}"
                                                           class="btn btn-info border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i>
                                                            Ver</a>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_contrato" class="form-label">Contrato
                                                firmado:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon1">Cargar
                                                        <input type="file" name="contrato"
                                                               id="id_contrato"
                                                               accept="application/pdf"
                                                               hidden>
                                                    </label>
                                                </div>
                                                {% if object.contrato.name %}
                                                    <span id="contrato_span" type="text"
                                                          class="form-control text-orange"
                                                          aria-describedby="button-addon1">{{ object.contrato_name }}</span>
                                                {% else %}
                                                    <span id="contrato_span" type="text"
                                                          class="form-control"
                                                          aria-describedby="button-addon1">Buscar archivo...</span>
                                                {% endif %}
                                            </div>
                                            {% if object.contrato.name %}
                                                <div>
                                                    <a href="/media/{{ form.instance.contrato }}"
                                                       class="btn btn-info border border-light btn-sm"
                                                       target="_blank"><i
                                                            class="fas fa-images"></i>
                                                        Ver</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_pagare" class="form-label">Pagaré
                                                firmado:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-pagare">Cargar
                                                        <input type="file" name="pagare"
                                                               id="id_pagare"
                                                               accept="image/*,application/pdf"
                                                               hidden>
                                                    </label>
                                                </div>
                                                {% if object.pagare.name %}
                                                    <span id="pagare_span" type="text"
                                                          class="form-control text-orange"
                                                          aria-describedby="button-pagare">{{ object.pagare_name }}</span>
                                                {% else %}
                                                    <span id="pagare_span" type="text"
                                                          class="form-control"
                                                          aria-describedby="button-pagare">Buscar archivo...</span>
                                                {% endif %}
                                            </div>
                                            {% if object.pagare.name %}
                                                <div>
                                                    <a href="/media/{{ form.instance.pagare }}"
                                                       class="btn btn-info border border-light btn-sm"
                                                       target="_blank"><i
                                                            class="fas fa-images"></i>
                                                        Ver</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- Décima fila -->
                                    <div class="row form-group inputGroupContainer">
                                        <div class="col-md-4">
                                            <label for="id_pagare" class="form-label">Conoce tu cliente:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-c_cliente">Cargar
                                                        <input type="file" name="conoce_cliente"
                                                               id="id_conoce_cliente"
                                                               accept="image/*,application/pdf"
                                                               hidden>
                                                    </label>
                                                </div>
                                                {% if object.conoce_cliente.name %}
                                                    <span id="c_cliente_span" type="text"
                                                          class="form-control text-orange"
                                                          aria-describedby="button-c_cliente">{{ object.c_cliente_name }}</span>
                                                {% else %}
                                                    <span id="c_cliente_span" type="text"
                                                          class="form-control"
                                                          aria-describedby="button-c_cliente">Buscar archivo...</span>
                                                {% endif %}
                                            </div>
                                            {% if object.conoce_cliente.name %}
                                                <div>
                                                    <a href="/media/{{ form.instance.conoce_cliente }}"
                                                       class="btn btn-info border border-light btn-sm"
                                                       target="_blank"><i
                                                            class="fas fa-images"></i>
                                                        Ver</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                {% endif %}
                                <hr>
                                <div class="row form-group">
                                    <div class="mb-1">
                                        <label class="form-label">Anotaciones: </label>
                                        {{ form.notas_user }}
                                    </div>
                                </div>
                                <!-- Undécima fila -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer bg-gradient-gray-dark border border-dark">
                                <div class="row">
                                    <div class="col-auto">
                                        <button class="w-10 btn-success btn border border-light" type="submit"
                                                form="edit_nuevo">
                                            <i class="far fa-save"></i> Guardar datos
                                        </button>
                                    </div>
                                    {% if user.get_username in permisos_cobros %}
                                        <div class="col-auto text-end">
                                            <a class="w-10 btn-warning btn border border-light"
                                               href="{% url 'cobros:edit_info_cliente_nuevo' object.cliente.id edit_nuevo %}">
                                                <i class="fas fa-user-edit"></i> Editar info personal
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- /.card-footer-->
                        </form>
                    </div>

                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'cobros/js/editar_cliente_nuevo.js' %}"></script>
    <script src="{% static 'cobros/js/process_img_cliente_nuevo.js' %}"></script>
    <script src="{% static 'cobros/js/select_direccion.js' %}"></script>


    <script>

        $('.select2').select2({
            theme: 'bootstrap4',
            language: 'es',
        });

        (function autorun() {
            cargar_c_saldo("{{ object.compra_saldo|safe }}"); // autostart this one
        })();

    </script>

{% endblock %}