{% extends 'base_1.html' %}
{% load static %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="card" style="background-color: #fffae7">
                <div class="card-header bg-gradient-dark h3">
                    {{ card_title }}
                    <b class="text-warning">
                        {{ cliente.num_contrato }}
                    </b>
                </div>
                <div class="card-body">
                    <table id="lista_transacciones" class="table table-hover table-head-fixed" style="width: 100%">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 15%;">ID trans.</th>
                            <th scope="col" style="width: 15%;">Banco</th>
                            <th scope="col" style="width: 15%;">Fecha Trans.</th>
                            <th scope="col" style="width: 15%;">Monto Trans.</th>
                            <th scope="col" style="width: 15%;">Disponible</th>
                            <th scope="col" style="width: 15%;">Fuente Tr.</th>
                            <th scope="col" style="width: 10%;">Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <form id="token_form">
                {% csrf_token %}
            </form>
            <input type="hidden" id="last_tr">
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal_tr" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-gradient-secondary text-center">
                        <span class="modal-title h5 w-100" id="exampleModalLongTitle">Detalles de transacción</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td>ID transacción: <b id="info_1"></b></td>
                                    <td>Banco <b id="info_2"></b></td>
                                </tr>
                                <tr>
                                    <td>Registrado a: <b id="info_3"></b></td>
                                    <td>Tipo pago: <b id="info_4"></b></td>
                                </tr>
                                <tr>
                                    <td>Monto: <b id="info_5"></b></td>
                                    <td>Fecha: <b id="info_6"></b></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Info.: <b id="info_7"></b></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Notas: <b id="info_8"></b></td>
                                </tr>
                                </tbody>
                            </table>
                            Pagos relacionados:
                            <ol id="lista_pg_relacionados">

                            </ol>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block scripts_java %}
    <script src="{% static 'cobros/js/lista_transacciones.js' %}"></script>
{% endblock %}