{% extends 'base_1.html' %}
{% load static %}
{% load humanize %}

{% block script_head %}
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>
{% endblock %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-gradient-dark h3">
                    {{ card_title }}
                    <b class="text-warning">
                        {{ info_credito.num_contrato }}
                    </b>
                </div>
                <div class="card-body">

                    <div class="card">
                        <div class="card-header bg-secondary text-center">
                            <span class="h4"><strong>Información del cliente:</strong></span>
                        </div>
                        <div class="card-body" style="background-color: #F5F5F5;">
                            <div class="col-sm-12">
                                <table class="table table-sm table-responsive-sm table-hover table-striped bg-light"
                                       style="table-layout: auto; width: 100%">
                                    <tr>
                                        <td style="width: 50%" class="h5">
                                            Nombre completo:&nbsp;
                                            <strong>
                                                {% if info_cliente.nombre_2 and info_cliente.apellido_2 %}
                                                    {{ info_cliente.nombre_1 }} {{ info_cliente.nombre_2 }}
                                                    {{ info_cliente.apellido_1 }} {{ info_cliente.apellido_2 }}
                                                {% elif info_cliente.nombre_2 %}
                                                    {{ info_cliente.nombre_1 }} {{ info_cliente.nombre_2 }}
                                                    {{ info_cliente.apellido_1 }}
                                                {% elif info_cliente.apellido_2 %}
                                                    {{ info_cliente.nombre_1 }} {{ info_cliente.apellido_1 }}
                                                    {{ info_cliente.apellido_2 }}
                                                {% else %}
                                                    {{ info_cliente.nombre_1 }} {{ info_cliente.apellido_1 }}
                                                {% endif %}
                                            </strong>
                                        </td>

                                        <td class="h5">
                                            Salario: &nbsp;
                                            <strong>
                                                {{ info_cliente.salario }}
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h5">
                                            Tipo de documento:&nbsp;
                                            <strong>
                                                {{ info_cliente.tipo_doc }}
                                            </strong>
                                        </td>
                                        <td class="h5">
                                            DNI: &nbsp;
                                            <strong>
                                                {{ info_cliente.dni }}
                                            </strong>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="h5">
                                            Nacionalidad: &nbsp;
                                            <strong>
                                                {{ info_cliente.nacionalidad }}
                                            </strong>
                                        </td>
                                        <td class="h5">
                                            Tipo de ingreso: &nbsp;
                                            <strong>
                                                {{ info_cliente.tipo_ingreso }}
                                            </strong>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="h5">
                                            Empresa donde labora:&nbsp;
                                            <strong>
                                                {% if info_cliente.empresa_2 %}
                                                    {{ info_cliente.empresa_2 }}
                                                {% else %}
                                                    <span class="text-warning">No registrado</span>
                                                {% endif %}
                                            </strong>
                                        </td>
                                        <td class="h5">
                                            P.E.P.:&nbsp;
                                            <strong>
                                                {{ info_cliente.p_expuesto }}
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h5" colspan="2">
                                            Dirección:&nbsp;
                                            <strong>
                                                {{ info_cliente.provincia }}, {{ info_cliente.distrito }}, {{ info_cliente.corregimiento }},
                                                {{ info_cliente.direccion }}
                                            </strong>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header bg-secondary text-center">
                            <span class="h4"><strong>Información del crédito:</strong></span>
                        </div>
                        <div class="card-body" style="background-color: #F5F5F5;">
                            <table class="table table-sm table-responsive-sm table-hover table-striped bg-light"
                                   style="table-layout: auto; width: 100%">
                                <tr>
                                    <td class="h5" style="width: 33%">
                                        Monto Solicitado:&nbsp;
                                        <strong>
                                            {{ info_credito.monto }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Plazo: &nbsp;
                                        <strong>
                                            {{ info_credito.plazo }} meses
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Meses extra: &nbsp;
                                        <strong>
                                            {{ meses_extra }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5">
                                        Fecha de inicio <span class="text-danger">*</span>: &nbsp;
                                        <strong>
                                            {{ info_credito.fecha_ini_OD }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Firma de contrato: &nbsp;
                                        <strong>
                                            {{ info_credito.f_contrato }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Total intereses:&nbsp;
                                        <strong>
                                            {{ total_intereses }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5">
                                        Total seguros: &nbsp;
                                        <strong>
                                            {{ total_seguros }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Comisión total: &nbsp;
                                        <strong>
                                            {{ comision }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Notaría: &nbsp;
                                        <strong>
                                            {{ notaria }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5">
                                        Obligación total:&nbsp;
                                        <strong>
                                            {{ info_credito.ob_contrato }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Cuota regular: &nbsp;
                                        <strong>
                                            {{ cuota_regular }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Cuota final: &nbsp;
                                        <strong>
                                            {{ cuota_final }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5">
                                        Cuotas pagadas <span class="text-danger">**</span>: &nbsp;
                                        <strong>
                                            {{ cuotas_pagas }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Cuotas faltantes <span class="text-danger">**</span>: &nbsp;
                                        <strong>
                                            {{ cuotas_faltantes }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Total cuotas <span class="text-danger">**</span>:&nbsp;
                                        <strong>
                                            {{ total_cuotas }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5">
                                        Pagado cliente <span class="text-danger">**</span>: &nbsp;
                                        <strong>
                                            {{ pagado_cliente }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Saldo agregado <span class="text-danger">**</span>: &nbsp;
                                        <strong>
                                            {{ saldo_agregado }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Fecha últ. pago <span class="text-danger">**</span>:&nbsp;
                                        <strong>
                                            {{ fecha_ult_pago }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="h5">
                                        Tiempo de mora <span class="text-danger">**</span>: &nbsp;
                                        <strong>
                                            {{ tiempo_mora }}
                                        </strong>
                                    </td>
                                </tr>
                            </table>
                            <small class="text-secondary"><small class="text-danger">*</small> Definida por Orden de
                                descuento.</small>
                            <br>
                            <small class="text-secondary"><small class="text-danger">**</small> Cuotas
                                quincenales.</small>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header bg-secondary text-center">
                            <span class="h4"><strong>Detalles de reestructuración:</strong></span>
                        </div>
                        <div class="card-body" style="background-color: #F5F5F5;">
                            <form id="form_reestructurar">
                                {% csrf_token %}
                                <div class="row form-group mb-0">
                                    <div class="col-md-3 mb-1">
                                        {{ form.int_global.label_tag }}
                                        {{ form.int_global }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        {{ form.s_colectivo.label_tag }}
                                        {{ form.s_colectivo }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        {{ form.s_desempleo.label_tag }}
                                        {{ form.s_desempleo }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        {{ form.s_dental.label_tag }}
                                        {{ form.s_dental }}
                                    </div>
                                </div>
                                <div class="row form-group mb-0">
                                    <div class="col-md-3 mb-1">
                                        {{ form.c_cierre.label_tag }}
                                        {{ form.c_cierre }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        {{ form.monto_r.label_tag }}
                                        {{ form.monto_r }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        {{ form.plazo_r.label_tag }}
                                        {{ form.plazo_r }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        {{ form.cargos_extra.label_tag }}
                                        {{ form.cargos_extra }}
                                    </div>
                                </div>
                                <div class="row form-group mb-0">
                                    <div class="col-md-3 mb-1">
                                        {{ form.ob_contrato.label_tag }}
                                        {{ form.ob_contrato }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        {{ form.fecha_ini.label_tag }}
                                        {{ form.fecha_ini }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        {{ form.f_contrato.label_tag }}
                                        {{ form.f_contrato }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        {{ form.fecha_ini_OD.label_tag }}
                                        {{ form.fecha_ini_OD }}
                                    </div>
                                </div>
                                <div class="row form-group mb-0">
                                    <div class="col-md-3 mb-1">
                                        {{ form.diciembres.label_tag }}
                                        {{ form.diciembres }}
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        {{ form.num_contrato.label_tag }}
                                        {{ form.num_contrato }}
                                    </div>
                                </div>
                                <div class="row form-group mb-0">
                                    <div class="col-md-12 mb-1">
                                        {{ form.notas.label_tag }}
                                        {{ form.notas }}
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer bg-secondary">
                            <div class="row">
                                <div class="col-auto">
                                    <button class="btn btn-warning border-light" type="submit" form="form_reestructurar"><i class="fas fa-cogs"></i> Reestructurar crédito
                                    </button>
                                </div>
                                <div class="col-auto"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form id="token_form">
            {% csrf_token %}
        </form>
    </section>

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'cobros/js/reestructurar_directo.js' %}"></script>

    <script>
        (function () {
        })();
    </script>

{% endblock %}

