{% extends 'base_1.html' %}
{% load static %}

{% block content_base %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card" style="background-color: #e6ffde;">
                        <div class="card-header bg-gradient-gray-dark border border-dark h5">
                            {{ card_title }} <strong class="text-warning">{{ object.num_contrato }}</strong>
                        </div>
                        <div class="card-body border border-dark">
                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Nombre del cliente</span>
                                            <h5><span class="info-box-number text-center mb-0 ">
                                                {{ cliente.nombre_1 }} {{ cliente.nombre_2|default_if_none:"" }}
                                                {{ cliente.apellido_1 }} {{ cliente.apellido_2|default_if_none:"" }}
                                            </span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">F. firma contrato</span>
                                            <h6>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ f_contrato }}
                                                </span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Monto aprobado</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    $ {{ aprobado.monto }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Plazo aprobado</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ aprobado.plazo }} meses
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Propósito del crédito</span>
                                            <h5><span class="info-box-number text-center mb-0">
                                                    {{ cliente.motivo|default_if_none:'<span class="text-sm">Campo vacío</span>' }}
                                            </span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Tipo de documento</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.tipo_doc }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">DNI</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.dni }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Fecha de nacimiento</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.f_nacimiento }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Email</span>
                                            <h6><span class="info-box-number text-center mb-0">
                                                    {{ cliente.email_1|default_if_none:'<span class="text-sm">Campo vacío</span>' }}
                                            </span></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Celular</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    <a href="https://wa.me/507{{ cliente.celular }}"
                                                       target="_blank" class="text-success"><i
                                                            class="fab fa-whatsapp"></i> {{ cliente.celular }}</a>
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Estado civil</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.e_civil|default_if_none:'<span class="text-sm">Campo vacío</span>' }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Género</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.genero|default_if_none:'<span class="text-sm">Campo vacío</span>' }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Dependientes</span>
                                            <h5><span class="info-box-number text-center mb-0">
                                                    {{ cliente.dependientes|default_if_none:'<span class="text-sm">Campo vacío</span>' }}
                                            </span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Tipo de ingreso</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.tipo_ingreso }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Salario</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    $ {{ cliente.salario }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Empresa</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.empresa_1|default_if_none:'<span class="text-sm">Campo vacío</span>' }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Ingresos Extra</span>
                                            <h5><span class="info-box-number text-center mb-0">
                                                    {{ cliente.in_extras|default_if_none:'<span class="text-sm">Campo vacío</span>' }}
                                            </span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Estudios</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.estudios|default_if_none:'<span class="text-sm">Campo vacío</span>' }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">P.E.P.</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.p_expuesto|default_if_none:'<span class="text-sm">Campo vacío</span>' }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Registro empresa</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.empresa_2|default_if_none:'<span class="text-danger">Pendiente</span>' }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <h5 class="mb-3"><strong>Dirección:</strong></h5>
                            <div class="form-row">
                                <div class="col-12 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Provincia</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.provincia|default_if_none:'<span class="text-sm">Campo vacío</span>' }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Distrito</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.distrito|default_if_none:'<span class="text-sm">Campo vacío</span>' }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Corregimiento</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.corregimiento|default_if_none:'<span class="text-sm">Campo vacío</span>' }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-5">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Descripción</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ cliente.direccion|default_if_none:'<span class="text-sm">Campo vacío</span>' }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <h5 class="mb-3"><strong>Documentos Pre-aprobación:</strong></h5>
                            <div class="form-row">
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">DNI:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                   {% if cliente.DNI_img %}
                                                       <a href="/media/{{ cliente.DNI_img }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% else %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% endif %}

                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Ficha:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if cliente.ficha_img %}
                                                        <a href="/media/{{ cliente.ficha_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% else %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% endif %}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Carta de trabajo:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                   {% if cliente.carta_trabajo_img %}
                                                       <a href="/media/{{ cliente.carta_trabajo_img }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% else %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% endif %}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Talonario 1:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if cliente.talonario_1_img %}
                                                        <a href="/media/{{ cliente.talonario_1_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% else %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% endif %}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Talonario 2:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">

                                                   {% if cliente.talonario_2_img %}
                                                       <a href="/media/{{ cliente.talonario_2_img }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% else %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% endif %}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Recibo público:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if cliente.recibo_img %}
                                                        <a href="/media/{{ cliente.recibo_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% else %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% endif %}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Carta de saldo:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if cliente.carta_saldo_img %}
                                                        <a href="/media/{{ cliente.carta_saldo_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% else %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-times"></i></span>
                                                    {% endif %}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">APC:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if cliente.file_apc %}
                                                        <a href="/media/{{ cliente.file_apc }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% else %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-times"></i></span>
                                                    {% endif %}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h5 class="mb-3"><strong>Documentos Aprobación:</strong></h5>
                            <div class="form-row">
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">O.D./F1:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                   {% if aprobado.orden_descuento %}
                                                       <a href="/media/{{ aprobado.orden_descuento }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% elif aprobado.f_1 %}
                                                       <a href="/media/{{ aprobado.f_1 }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% else %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% endif %}

                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Contrato:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if aprobado.contrato %}
                                                        <a href="/media/{{ aprobado.contrato }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% else %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% endif %}

                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Pagaré:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                   {% if aprobado.pagare %}
                                                       <a href="/media/{{ aprobado.pagare }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% else %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% endif %}

                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Conoce cliente:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if aprobado.conoce_cliente %}
                                                        <a href="/media/{{ aprobado.conoce_cliente }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% else %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% endif %}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <h5><strong><label for="notas_textarea"></label>Notas:</strong></h5>
                            <form id="token_form">
                                {% csrf_token %}
                            </form>
                            <div class="row">
                                <input type="hidden" id="flag_notas">
                                <div class="col-12 col-sm-12">
                                    <textarea class="form-control mb-2" id="notas_textarea" name="notas_textarea"
                                              rows="4" placeholder="Ingrese sus notas aquí..."
                                              onchange="text_change()">{{ aprobado.notas_user|default_if_none:'' }}</textarea>
                                </div>
                                <br>
                                <div class="col-12 col-sm-2">
                                    <button class="btn btn-success" type="button" onclick="guardar_notas()"><i
                                            class="far fa-save"></i> Guardar notas
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_java %}
    <script>
        function text_change() {
            document.getElementById('flag_notas').value = '1';
        }
    </script>

    <script src="{% static 'cobros/js/ver_cliente.js' %}"></script>

{% endblock %}