{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.83.1">
    <title>Pre-aprobación · Rapicash</title>

    <!-- add icon link -->
    <link rel="icon" href="{% static 'icon/favicon-32x32.png' %}"
          type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'lib/bootstrap-5.0.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Sweetalert2 App -->
    <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/form-validation.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap5.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Tachyons.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>

    <!-- Fengyuan Chen's Datepicker -->
    {#    <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}"#}
    {#          integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous"/>#}
    {#    <script src="{% static 'js/datepicker.min.js' %}"#}
    {#            integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>#}
    <!-- Datepicker -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <!-- Recaptcha -->
    {#    <script src="https://www.google.com/recaptcha/api.js" async defer></script>#}

    <!-- Functions JS -->

    {% block scripts_campos %}

    {% endblock %}

    <link rel="stylesheet" href="{% static 'formulario/css/style_collapse.css' %}">

</head>
<body class="bg-light">

{% block header %}

{% endblock %}

<br>
<div class="container">

    {% block main %}

    {% endblock %}

    {% include 'footer_f.html' %}

</div>

<script>
    function myFunction() {
        var x = document.getElementById("entrada_1").value;
        document.getElementById("salida_1").innerHTML = "$ " + x;
        {#document.getElementById("salida_3").value = x;#}
        var y = document.getElementById("entrada_2").value;
        document.getElementById("salida_2").innerHTML = y + " meses";
        {#document.getElementById("salida_4").value = y;#}
        var z = (parseInt(x) + parseInt(x) * 0.5 + parseInt(x) * 0.02 * parseInt(y) + parseInt(x) * 0.06 * (parseInt(y) / 12) + 1.25 * parseInt(y) + 12) / (parseInt(y) * 2);
        document.getElementById("mensualidad").innerHTML = "$" + z.toFixed(2);
        {#document.getElementById("entrada_1").value = parseInt(x);#}
        {#document.getElementById("entrada_2").value = parseInt(y);#}
    }
</script>

<script src="{% static 'lib/bootstrap-5.0.0-dist/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/form-validation.js' %}"></script>

<script>

    {% if form.errors %}
        var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error',
            })
        {% endfor %}
    {% endif %}
</script>

<script src="{% static 'formulario/js/process_img.js' %}"></script>
<script src="{% static 'formulario/js/select_ajax.js' %}"></script>

</body>
</html>
