{% extends 'cotizador.html' %}
{% load static %}

{% block scripts_campos %}

    <script src="{% static 'formulario/js/validations.js' %}"></script>

{% endblock %}

{% block campos %}

    <div class="col-md-8">
        <h3>Formulario de Pre-aprobación</h3>
        <small>Los campos marcados con <span style="color:red;font-weight:bold">*</span> son obligatorios</small>
        <div class="row g-3">
            <div class="col-sm-6">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">Primer nombre </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.nombre_1 }}
            </div>

            <div class="col-sm-6">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">Segundo nombre</span></label>
                {{ form.nombre_2 }}
            </div>

            <div class="col-sm-6">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">Primer apellido </span> <span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.apellido_1 }}
            </div>

            <div class="col-sm-6">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">Segundo apellido</span></label>
                {{ form.apellido_2 }}
            </div>

            <div class="col-md-6">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">Tipo de documento </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.tipo_doc }}
            </div>

            <div class="col-sm-6">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">Núm. de ID </span> <span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.dni }}
            </div>

            <div class="col-sm-8">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">Propósito del préstamo </span> <span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.motivo }}
            </div>

            <div class="col-sm-4">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">Fecha de nacimiento </span> <span
                        style="color:red;font-weight:bold">*</span>
                </label>
                {{ form.f_nacimiento }}
                <small id="fechaHelp" class="form-text text-muted">Debes ser mayor de 22 años.</small>
            </div>

            <div class="col-sm-6">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">E-mail </span> <span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.email_1 }}
            </div>

            <div class="col-sm-6">
                <label class="form-label" for="confirmEmail"><span
                        style="color:black;font-weight:bold">Confirmar e-mail </span> <span
                        style="color:red;font-weight:bold">*</span></label>
                <input type="text" name="confirmEmail" class="form-control" placeholder="micorreo@mail.com"
                       autocomplete="off" maxlength="254" id="confirmEmail">
            </div>

            <div class="col-sm-4">
                <label for="phone" class="form-label"><span
                        style="color:black;font-weight:bold">Celular </span> <span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.celular }}
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">Estado civil </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.e_civil }}
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">Género </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.genero }}
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">Personas a cargo </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.dependientes }}
            </div>

            <div class="col-md-5">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">Tipo de ingreso </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.tipo_ingreso }}
            </div>

            <div class="col-sm-3">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">Ingreso mensual </span> <span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.salario }}
            </div>

            <div class="col-sm-8">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">Nombre de empresa </span></label>
                {{ form.empresa_1 }}
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">Ingresos extra </span></label>
                {{ form.in_extras }}
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">Nivel de estudios </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.estudios }}
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">Persona expuesta políticamente </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.p_expuesto }}
            </div>
            <hr class="mb-1">
            <h5><strong>Dirección:</strong></h5>
            <div class="col-md-3">
                <label for="address" class="form-label"><span
                        style="color:black;font-weight:bold">Provincia</span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.provincia }}
            </div>
            <div class="col-md-4">
                <label for="id_distrito" class="form-label"><span
                        style="color:black;font-weight:bold">Distrito</span><span
                        style="color:red;font-weight:bold">*</span></label>
                <select name="distrito" class="form-select" required="" id="id_distrito">
                    <option value="" selected="">---------</option>
                </select>
            </div>

            <div class="col-md-5">
                <label for="id_corregimiento" class="form-label"><span
                        style="color:black;font-weight:bold">Corregimiento</span><span
                        style="color:red;font-weight:bold">*</span></label>
                <select name="corregimiento" class="form-select" required="" id="id_corregimiento">
                    <option value="">---------------</option>
                </select>
            </div>
            <div class="col-md-10">
                <label for="address" class="form-label"><span
                        style="color:black;font-weight:bold">Descripción</span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.direccion }}
            </div>

            <hr class="mb-1">


            <div class="col-md-10 form-group">
                <div class="checkbox_collapse" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title fw-bold">
                                ¿Deseas que prioricen tu solicitud? >>
                                <input type="checkbox" id="cb_files" class=" form-check-input" data-bs-toggle="collapse"
                                       data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1"></h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <h5 class="text-success"><strong>!Entonces envíanos lo siguiente!</strong></h5>
                                <div>
                                    <label class="form-label" for="DNI_img"><strong>Foto de cédula:</strong></label><br>
                                    <label class="btn btn-default btn-secondary" id="label_arc_1">
                                        Examinar <input type="file" id="id_DNI_i" accept="image/*" hidden>
                                    </label> &nbsp; <span id="archivo_1" class="fst-italic">
                                    No se ha seleccionado ningún archivo.</span>

                                    <div class="invalid-feedback">
                                        Archivo seleccionado no es válido. Tamaño o formato no permitidos.
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <label class="form-label" for="ficha_img"><strong>Foto de ficha de
                                        CSS:</strong></label><br>

                                    <label class="btn btn-default btn-secondary" id="label_arc_2">
                                        Examinar <input type="file" id="id_ficha_i" accept="image/*" hidden>
                                    </label> &nbsp; <span id="archivo_2" class="fst-italic">
                                    No se ha seleccionado ningún archivo.</span>

                                    <div class="invalid-feedback">
                                        Archivo seleccionado no es válido. Tamaño o formato no permitidos.
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <button class="btn btn-outline-warning" type="button" id="file-reset">Limpiar
                                        archivos
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <label for="address2" class="form-label"><span
                        style="color:black;font-weight:bold">Ingrese nombre de referido </span><span
                        class="text-muted">(Opcional)</span></label>
                {{ form.ref }}
            </div>

        </div>

        <hr class="my-4">

        <div class="form-check">
            {{ form.terms }}
            <label class="form-check-label" for="same-address"><span style="color:black;font-weight:bold">He leído y acepto los  </span><a
                    href="https://rapi-cashpanama.com/index.php/politica-de-privacidad/" target="_blank">Términos
                y Condiciones.</a> <span
                    style="color:red;font-weight:bold">*</span></label>
            <div class="invalid-feedback">
                Debe leer y aceptar los términos y condiciones para continuar.
            </div>
        </div>

        <div class="form-check">
            {{ form.apc }}
            <label class="form-check-label" for="save-info"><span style="color:black;font-weight:bold">He leído y acepto la</span>
                <a href="https://rapi-cashpanama.com/index.php/autorizacion-apc" target="_blank">Verificación
                    APC</a><span
                        style="color:black;font-weight:bold"> (requisito no excluyente). </span><span
                        style="color:red;font-weight:bold">*</span></label>
            <div class="invalid-feedback">
                Debe aceptar la verificación de la APC para continuar (requisito no excluyente).
            </div>
        </div>

        <hr class="my-4">

        <div class="form-group">
            {{ form.captcha }}
            {#                <div class="g-recaptcha" id="g-captcha" data-sitekey="6LdB08gaAAAAAMZmG-jcL-3_QFvffJS3Wpac7VLW"></div>#}
        </div>

        {#        <div class="g-recaptcha" id="g-captcha" data-sitekey="6LdB08gaAAAAAMZmG-jcL-3_QFvffJS3Wpac7VLW"></div>#}


        {#                <div class="fl w-25 pa2">Captcha</div>#}
        {#                <div class="fl w-50">#}
        {#                    <!-- The captcha container -->#}
        {#                    <div id="g-captcha"></div>#}
        {#                </div>#}


        <br/>

        <button class="w-100 btn-success btn-lg" type="submit" id="btn-ok">Enviar datos</button>
        {#        </form>#}
    </div>
    <script>
        document.getElementById('cb_files').checked = false;
    </script>
{% endblock %}