{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.83.1">
    <title>Correo Rapicash</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/offcanvas-navbar/">


    <!-- Bootstrap core CSS -->
    {#    <link href="{% static 'lib/bootstrap-5.0.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/offcanvas-navbar/offcanvas.css" rel="stylesheet">
</head>
<body class="bg-light">

<main class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-dark rounded shadow-sm">
        <img class="me-3" src="{% static 'img/logo_light.png' %}" alt="" width="48">
        <div class="lh-1">
            <h2 class="h6 mb-0 text-white lh-1">Ha ingresado la siguiente solicitud de préstamo al sistema:</h2>

        </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">

        <ul class="list-group list-group-horizontal flex-fill">
            <li class="list-group-item ">

                <ul class="list-group list-group-flush flex-fill">
                    <li class="list-group-item flex-fill"><strong>Nombre:</strong></li>
                    <li class="list-group-item flex-fill"><strong>Tipo de documento:</strong></li>
                    <li class="list-group-item flex-fill"><strong>Número de ID:</strong></li>
                    <li class="list-group-item flex-fill"><strong>Tipo de ingreso:</strong></li>
                    <li class="list-group-item flex-fill"><strong>Salario:</strong></li>
                    <li class="list-group-item flex-fill"><strong>Fecha de nacimiento:</strong></li>
                    <li class="list-group-item flex-fill"><strong>Celular:</strong></li>
                    <li class="list-group-item flex-fill"><strong>Correo:</strong></li>
                    <li class="list-group-item flex-fill"><strong>P.E.P.:</strong></li>
                    <li class="list-group-item flex-fill"><strong>Lugar de residencia:</strong></li>
                    <li class="list-group-item flex-fill"><strong>Términos y condiciones:</strong></li>
                    <li class="list-group-item flex-fill"><strong>Consentimiento APC:</strong></li>
                    <li class="list-group-item flex-fill"><strong>Referencias:</strong></li>

                </ul>
            </li>
            <li class="list-group-item flex-fill">
                <ul class="list-group list-group-flush flex-fill">
                    <li class="list-group-item flex-fill">{{ nombre }} {{ apellido }}</li>
                    <li class="list-group-item flex-fill">{{ t_doc }}</li>
                    <li class="list-group-item flex-fill">{{ dni }}m</li>
                    <li class="list-group-item flex-fill">{{ t_ingreso }}</li>
                    <li class="list-group-item flex-fill">{{ salario }}</li>
                    <li class="list-group-item flex-fill">{{ f_nac }}</li>
                    <li class="list-group-item flex-fill">{{ celular }}</li>
                    <li class="list-group-item flex-fill">{{ correo }}</li>
                    <li class="list-group-item flex-fill">{{ p_exp }}</li>
                    <li class="list-group-item flex-fill">{{ sector }}, {{ ciudad }}</li>
                    <li class="list-group-item flex-fill">{{ terms }}</li>
                    <li class="list-group-item flex-fill">{{ apc }}</li>
                    <li class="list-group-item flex-fill">{{ refer }}</li>

                </ul>
            </li>

        </ul>
        <br>
        <small class="text-black-50">® 2019-2021 RC Financial Group, Corp. Derechos Reservados.</small>
    </div>

</main>

{#<script src="{% static 'lib/bootstrap-5.0.0-dist/js/bootstrap.bundle.min.js' %}"></script>#}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<script src="https://getbootstrap.com/docs/5.0/examples/offcanvas-navbar/offcanvas.js"></script>
</body>
</html>
