<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <title>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table, td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        p {
            display: block;
            margin: 13px 0;
        }
    </style>
    <!--[if !mso]><!-->
    <style type="text/css">
        @media only screen and (max-width: 480px) {
            @-ms-viewport {
                width: 320px;
            }
            @viewport {
                width: 320px;
            }
        }
    </style>
    <!--<![endif]-->
    <!--[if mso]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <!--[if lte mso 11]>
    <style type="text/css">
        .outlook-group-fix {
            width: 100% !important;
        }
    </style>
    <![endif]-->
    <style type="text/css">
        @media only screen and (min-width: 480px) {
            .dys-column-per-100 {
                width: 100.000000% !important;
                max-width: 100.000000%;
            }
        }

        @media only screen and (min-width: 480px) {
            .dys-column-per-50 {
                width: 50.000000% !important;
                max-width: 50.000000%;
            }

            .dys-column-per-100 {
                width: 100.000000% !important;
                max-width: 100.000000%;
            }

            .dys-column-per-90 {
                width: 90% !important;
                max-width: 90%;
            }
        }

        @media only screen and (min-width: 480px) {
            .dys-column-per-100 {
                width: 100.000000% !important;
                max-width: 100.000000%;
            }
        }
    </style>
</head>
<body>
<div>

    <div style='background:#F3FFF5; background-color:#F3FFF5;margin:0px auto;max-width:600px;'>
        <table align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;'>
            <tbody>

            <div class='dys-column-per-100 outlook-group-fix'
                 style='direction:ltr;display:inline-block;font-size:13px;text-align:left;vertical-align:top;width:100%;'>

                <table style="width:100%">
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width:100%">
                                <tr>
                                    <th style="width:10%"></th>
                                    <td style='color: #002060; text-align: left; '>
                                        {{ fecha_encabezado }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td rowspan="2">
                            <table style="width:100%">
                                <tr>
                                    <th align="right">
                                        <a href='https://rapi-cashpanama.com/'>
                                            <img alt='' height='50px'
                                                 src='https://rapi-cashpanama.com/wp-content/uploads/2018/06/Logo-Verde-OverW.png'
                                                 width='100px'>
                                        </a>
                                    </th>
                                    <td style="width:15%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <table style="width:100%">
                                <tr>
                                    <th style="width:10%"></th>
                                    <td style='color: #002060; text-align: left; '>
                                        ¡{{ saludo }} {{ nombre }} {{ apellido }}!
                                    </td>
                                </tr>
                            </table>
                        </th>
                    </tr>
                </table>


                <table style='vertical-align:top;' width='100%'>
                    <tr>
                        <td style="width: 6.5%">

                        </td>
                        <td style='color: #002060; text-align: left;'>
                            Te enviamos este correo debido a que nos contactaste vía web.
                        </td>
                        <td style="width: 6.5%">

                        </td>
                    </tr>
                    <tr>
                        <td style="width: 6.5%">

                        </td>
                        <td style='color: #002060; text-align: left;'>
                        </td>
                        <td style="width: 6.5%">

                        </td>
                    </tr>
                    <tr>
                        <td style="width: 6.5%">

                        </td>
                        <td style='color: #002060; text-align: justify;'>
                            Los detalles de la cotización de tu préstamo los puedes ver a continuación:
                        </td>
                        <td style="width: 6.5%">

                        </td>
                    </tr>
                </table>
            </div>
            </tbody>
        </table>

    </div>

    <div style='background:#F3FFF5;background-color:#F3FFF5;margin:0px auto;max-width:600px;'>
        <table align='center' border='0' cellpadding='0' cellspacing='0' role='presentation'
               style='background:#F3FFF5; background-color:#F3FFF5; width:100%;'>
            <tbody>
            <div class='dys-column-per-100 outlook-group-fix'
                 style='direction:ltr;display:inline-block;font-size:13px;text-align:left;vertical-align:top;width:100%;'>
                <table border='0' cellpadding='0' cellspacing='0' role='presentation'
                       style='vertical-align:top;' width='100%'>
                    <tr>
                        <td align='left' style='font-size:0px;padding:10px 50px;word-break:break-word;'>
                            <table border='0' cellpadding='3' cellspacing='0'
                                   style='cellpadding:0;cellspacing:0;color:#000000;font-family:Helvetica, Arial, sans-serif;font-size:16px;line-height:20px;table-layout:auto;width:100%;'
                                   width='100%'>
                                <tbody>
                                <tr align='center'>
                                    <th align='left' style='color: #000000; width: 6.5%;'>
                                    </th>
                                    <th align='left' style='background-color: #85ca3a; color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='background-color: #85ca3a; color: #10245f;'>
                                        Monto a aprobar:
                                    </th>
                                    <th align='center' style='background-color: #85ca3a; color: #10245f;'>
                                        $
                                    </th>
                                    <th align='center' style='background-color: #85ca3a; color: #10245f;'>
                                        {{ monto }}
                                    </th>
                                    <th align='left' style='background-color: #85ca3a; color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='color: #000000; width: 6.5%'>
                                    </th>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th align='left' style='color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='background-color: #002060; color: #000000; width: 6.5%'>
                                    </th>
                                    <th style='background-color: #002060; color: #FFFFFF; text-align: left;'>
                                        Plazo:
                                    </th>
                                    <th style='background-color: #002060; color: #FFFFFF; text-align: center;'>

                                    </th>
                                    <th style='background-color: #002060; color: #FFFFFF; text-align: center;'>
                                        {{ meses }} meses
                                    </th>
                                    <th align='left' style='background-color: #002060; color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='color: #000000; width: 6.5%'>
                                    </th>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th align='left' style='color: #000000; width: 6.5%;'>
                                    </th>
                                    <th align='left' style='background-color: #85ca3a; color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='background-color: #85ca3a; color: #10245f;'>
                                        Método de cálculo:
                                    </th>
                                    <th align='center' style='background-color: #85ca3a; color: #10245f;'>

                                    </th>
                                    <th align='center' style='background-color: #85ca3a; color: #10245f;'>
                                        Agregado
                                    </th>
                                    <th align='left' style='background-color: #85ca3a; color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='color: #000000; width: 6.5%'>
                                    </th>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr align='center'>
                                    <th align='left' style='color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='background-color: #002060; color: #000000; width: 6.5%'>
                                    </th>
                                    <th style='background-color: #002060; color: #FFFFFF; text-align: left;'>
                                        Tasa de interés mensual:
                                    </th>
                                    <th style='background-color: #002060; color: #FFFFFF; text-align: center;'>

                                    </th>
                                    <th style='background-color: #002060; color: #FFFFFF; text-align: center;'>
                                        2 %
                                    </th>
                                    <th align='left' style='background-color: #002060; color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='color: #000000; width: 6.5%'>
                                    </th>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th align='left' style='color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='background-color: #d6dce4; color: #000000; width: 6.5%'>
                                    </th>
                                    <td style='background-color: #d6dce4; color: #10245f; text-align: left;'>
                                        ITBMS:
                                    </td>
                                    <td style='background-color: #d6dce4; color: #10245f; text-align: center;'>
                                        $
                                    </td>
                                    <td style='background-color: #d6dce4; color: #10245f; text-align: center;'>
                                        {{ itbms }}
                                    </td>
                                    <th align='left' style='background-color: #d6dce4; color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='color: #000000; width: 6.5%'>
                                    </th>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th align='left' style='color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='background-color: #002060; color: #000000; width: 6.5%'>
                                    </th>
                                    <th style='background-color: #002060; color: #FFFFFF; text-align: left;'>
                                        Compra de saldo:
                                    </th>
                                    <th style='background-color: #002060; color: #FFFFFF; text-align: center;'>

                                    </th>
                                    <th style='background-color: #002060; color: #FFFFFF; text-align: center;'>
                                        0
                                    </th>
                                    <th align='left' style='background-color: #002060; color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='color: #000000; width: 6.5%'>
                                    </th>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr align='center'>
                                    <th align='left' style='color: #000000; width: 6.5%;'>
                                    </th>
                                    <th align='left' style='background-color: #85ca3a; color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='background-color: #85ca3a; color: #10245f;'>
                                        Letra quincenal:
                                    </th>
                                    <th align='center' style='background-color: #85ca3a; color: #10245f;'>
                                        $
                                    </th>
                                    <th align='center' style='background-color: #85ca3a; color: #10245f;'>
                                        {{ letra_quincenal }}
                                    </th>
                                    <th align='left' style='background-color: #85ca3a; color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='color: #000000; width: 6.5%'>
                                    </th>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th align='left' style='color: #000000; width: 6.5%;'>
                                    </th>
                                    <th align='left' style='background-color: #002060; color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='background-color: #002060; color: #FFFFFF;'>
                                        Neto para desembolso:
                                    </th>
                                    <th align='center' style='background-color: #002060; color: #FFFFFF;'>
                                        $
                                    </th>
                                    <th align='center' style='background-color: #002060; color: #FFFFFF;'>
                                        <big>{{ desembolso }}</big>
                                    </th>
                                    <th align='left' style='background-color: #002060; color: #000000; width: 6.5%'>
                                    </th>
                                    <th align='left' style='color: #000000; width: 6.5%'>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            </tbody>
        </table>
    </div>

    <div style='background:#F3FFF5; background-color:#F3FFF5;margin:0px auto;max-width:600px;'>
        <table align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;'>
            <tbody>

            <div class='dys-column-per-100 outlook-group-fix'
                 style='direction:ltr;display:inline-block;font-size:13px;text-align:left;vertical-align:top;width:100%;'>

                <table style="width:100%">

                    <tr>
                        <td>
                        <th style="width:10%"></th>
                        <td style='color: #002060; text-align: justify; '>
                            <p>Esta cotización se creó tomando el día {{ fecha_inicio }} como fecha de inicio de los
                                pagos.
                                Cualquier cambio en los parámetros del crédito puede hacer variar los montos calculados.
                                <br> <br> Para continuar el proceso es necesario que nos comparta vía WhatsApp al <a
                                        href="https://wa.me/50762755096">6275-5096</a> / <a
                                        href="https://wa.me/50762919819">6291-9819</a> o a los correos
                                ventas@rapi-cashpanama.com / callcenter@rapi-cashpanama.com los
                                siguientes documentos:
                            <ul>
                                <li>Cédula o Pasaporte</li>
                                <li>Ficha de CSS</li>
                                <li>Carta de Trabajo o proforma (s. público)</li>
                                <li>Talonario de últimas dos quincenas</li>
                                <li>Recibo de luz, agua o telefono</li>
                                <li>Cartas de saldo actualizadas (si aplica).</li>
                            </ul>
                            Esta información es dada exclusivamente a requerimiento del cliente, por lo
                            tanto,
                            no conlleva responsabilidad alguna para nuestra institución financiera o alguno de
                            nuestro personal.
                            <br><br>
                            </p>
                        </td>
                        <th style="width:10%"></th>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>

                </table>


            </div>
            </tbody>
        </table>

    </div>

    <div style='background:#414141;background-color:#414141;margin:0px auto;max-width:600px;'>
        <table align='center' border='0' cellpadding='0' cellspacing='0' role='presentation'
               style='background:#414141;background-color:#414141;width:100%;'>
            <tbody>

            <div class='dys-column-per-100 outlook-group-fix'
                 style='direction:ltr;display:inline-block;font-size:13px;text-align:left;vertical-align:top;width:100%;'>
                <table border='0' cellpadding='0' cellspacing='0' role='presentation'
                       style='vertical-align:top;' width='100%'>
                    <tr>
                        <td align='center' style='font-size:0px;padding:10px 25px;word-break:break-word;'>
                            <div style="color:#BBBBBB;font-family:'Droid Sans', 'Helvetica Neue', Arial, sans-serif;font-size:12px;line-height:1;text-align:center;">
                                ® 2019-2021 RC Financial Group, Corp. Derechos Reservados.
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            </tbody>
        </table>
    </div>

</div>
</body>
</html>