{% extends 'cotizador.html' %}

{% block campos %}

    <div class="col-md-7 col-lg-8">
                <h3 class="mb-3">Ingresa tus datos</h3>
                <p>Los campos marcados con <span style="color:red;font-weight:bold">*</span> son obligatorios</p>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label"><span
                                    style="color:black;font-weight:bold">Primer nombre </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label"><span
                                    style="color:black;font-weight:bold">Segundo nombre</span></label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="firstName" class="form-label"><span
                                    style="color:black;font-weight:bold">Primer apellido</span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label"><span
                                    style="color:black;font-weight:bold">Segundo apellido</span></label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Tipo de documento</span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Cédula</option>
                                <option>Pasaporte</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="firstName" class="form-label"><span
                                    style="color:black;font-weight:bold">Núm. de identificación </span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="phone" class="form-label"><span
                                    style="color:black;font-weight:bold">Fecha de Nacimiento </span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="date" class="form-control" id="lastName" placeholder="1234-5678" value=""
                                   required>
                            <div class="invalid-feedback">
                                Ingrese un número válido.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="email" class="form-label"><span
                                    style="color:black;font-weight:bold">E-mail </span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="email" class="form-control" id="email" placeholder="fulano@ejemplo.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="email" class="form-label"><span
                                    style="color:black;font-weight:bold">Confirmación de e-mail </span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="email" class="form-control" id="email" placeholder="fulano@ejemplo.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="phone" class="form-label"><span
                                    style="color:black;font-weight:bold">Celular </span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="tel" class="form-control" id="lastName" placeholder="1234-5678" value=""
                                   required>
                            <div class="invalid-feedback">
                                Ingrese un número válido.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Estado civil </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Soltero</option>
                                <option>Casado</option>
                                <option>Divorciado</option>
                                <option>Viudo</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Género </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Masculino</option>
                                <option>Femenino</option>
                                <option>Prefiero no decirlo</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Personas a cargo </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5+</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Tipo de ingreso </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Empresa Privada</option>
                                <option>Gobierno</option>
                                <option>Independiente</option>
                                <option>Jubilado/Pensionado</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="phone" class="form-label"><span
                                    style="color:black;font-weight:bold">Ingreso mensual </span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="number" min="0" step="5" class="form-control" id="lastName" placeholder="500"
                                   value=""
                                   required>
                            <div class="invalid-feedback">
                                Ingrese un número válido.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Ingresos extra </span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Comisiones</option>
                                <option>Bonificaciones</option>
                                <option>Ninguno</option>
                                <option>Ambos</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Nivel de estudios </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Primaria</option>
                                <option>Secundaria</option>
                                <option>Universidad</option>
                                <option>Ninguno</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Persona políticamente expuesta </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Si</option>
                                <option>No</option>
                                <option>No lo sé</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="address" class="form-label"><span
                                    style="color:black;font-weight:bold">Ciudad donde reside </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="text" class="form-control" id="address" placeholder="Panamá" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="address" class="form-label"><span
                                    style="color:black;font-weight:bold">Sector </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="text" class="form-control" id="address" placeholder="Obarrio" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address2" class="form-label"><span
                                    style="color:black;font-weight:bold">Referido por </span><span
                                    class="text-muted">(Opcional)</span></label>
                            <input type="text" class="form-control" id="address2" placeholder="">
                        </div>

                    </div>

                    <hr class="my-4">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="same-address" required>
                        <label class="form-check-label" for="same-address"><span style="color:black;font-weight:bold">He leído y acepto los  </span><a
                                href="https://rapi-cashpanama.com/index.php/politica-de-privacidad/" target="_blank">Términos
                            y Condiciones.</a> <span
                                style="color:red;font-weight:bold">*</span></label>
                        <div class="invalid-feedback">
                            Debe leer los términos y condiciones para continuar.
                        </div>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="save-info" required>
                        <label class="form-check-label" for="save-info"><span style="color:black;font-weight:bold">He leído y acepto la</span>
                            <a href="https://rapi-cashpanama.com/index.php/autorizacion-apc" target="_blank">Verificación
                                APC</a><span
                                    style="color:black;font-weight:bold"> (requisito no excluyente). </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                        <div class="invalid-feedback">
                            Debe aceptar la verificación de la APC para continuar (requisito no excluyente).
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="my-3">
                        <div class="form-check">
                            <form action="?" method="POST">
                                <div class="g-recaptcha" data-sitekey="6LdB08gaAAAAAMZmG-jcL-3_QFvffJS3Wpac7VLW"></div>
                                <br/>

                                <button class="w-100 btn-success btn-lg" type="submit">
                                    Enviar datos
                                </button>
                            </form>
                        </div>
                    </div>

                </form>
            </div>

{% endblock %}