{% extends 'header_f.html' %}

{% block main %}

    <main>
        <form method="post" action="." id="formulario" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            <div class="row">

                {% block cotizador %}

                {% endblock %}

                <!-- Campos de usuario -->
                {% block campos %}

                {% endblock %}
            </div>
        </form>

        <!-- Form para llamadas asíncronas -->
        <form id="token_form">
            {% csrf_token %}
        </form>

    </main>

{% endblock %}