{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.83.1">
    <title>Checkout example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">


    <!-- Bootstrap core CSS -->
    <link href="{% static 'lib/bootstrap-5.0.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/form-validation.css' %}" rel="stylesheet">
</head>
<body class="bg-light">

<header>
    <div class="collapse" style="background-color:rgb(24,28,60);" id="navbarHeader">
        <div class="container">
            <br>
            <div class="row">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <button type="button" class="btn "
                                style="color:white; background-color:rgb(24,28,60); border-color: #90c43c ">Inicio
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary"
                                style="color:white; background-color:rgb(24,28,60); border-color: #90c43c">Requisitos
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary"
                                style="color:white; background-color:rgb(24,28,60); border-color: #90c43c">Términos y
                            condiciones
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark shadow-sm py-4" style="background-color:rgb(24,28,60);">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img src="{% static 'img/cropped-logo-verde.png' %}" alt="" width="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>
<br>
<div class="container">
    <main>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-dark">Cotizador</span>
                </h4>
                <ul class="list-group mb-3">
                    <form method="post">
                    <li class="list-group d-flex justify-content-between lh-sm">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label for="customRange3" class="form-label">Monto del préstamo</label>
                                <input type="range" class="form-range" min="300" max="3500" step="10" id="entrada_1"
                                       value="1500" oninput="myFunction()">
                            </li>
                            <li class="list-group-item justify-content-between">
                                <strong id="salida_1" style="font-size: x-large; font-weight:bold">$1,500</strong>

                            </li>

                        </ul>

                    </li>
                    <li class="list-group d-flex justify-content-between lh-sm">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label for="customRange3" class="form-label">Plazo para pagar</label>
                                <input type="range" class="form-range" min="6" max="36" step="1" id="entrada_2"
                                       value="20" oninput="myFunction()">
                            </li>
                            <li class="list-group-item justify-content-between">
                                <strong id="salida_2" style="font-size: x-large">20 meses</strong>
                            </li>
                        </ul>

                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-success">
                        <div class="text-light">
                            <h5 class="my-0">Cuota <br> mensual </h5>
                        </div>
                        <span id="mensualidad" class="text-light" style="font-size: xx-large">$151.85</span>
                    </li>
                    </form>
                </ul>


            </div>

            <div class="col-md-7 col-lg-8">
                <h3 class="mb-3">Ingresa tus datos</h3>
                <p>Los campos marcados con <span style="color:red;font-weight:bold">*</span> son obligatorios</p>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label"><span
                                    style="color:black;font-weight:bold">Primer nombre </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label"><span
                                    style="color:black;font-weight:bold">Segundo nombre</span></label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="firstName" class="form-label"><span
                                    style="color:black;font-weight:bold">Primer apellido</span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label"><span
                                    style="color:black;font-weight:bold">Segundo apellido</span></label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Tipo de documento</span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Cédula</option>
                                <option>Pasaporte</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="firstName" class="form-label"><span
                                    style="color:black;font-weight:bold">Núm. de identificación </span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="phone" class="form-label"><span
                                    style="color:black;font-weight:bold">Fecha de Nacimiento </span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="date" class="form-control" id="lastName" placeholder="1234-5678" value=""
                                   required>
                            <div class="invalid-feedback">
                                Ingrese un número válido.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="email" class="form-label"><span
                                    style="color:black;font-weight:bold">E-mail </span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="email" class="form-control" id="email" placeholder="fulano@ejemplo.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="email" class="form-label"><span
                                    style="color:black;font-weight:bold">Confirmación de e-mail </span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="email" class="form-control" id="email" placeholder="fulano@ejemplo.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="phone" class="form-label"><span
                                    style="color:black;font-weight:bold">Celular </span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="tel" class="form-control" id="lastName" placeholder="1234-5678" value=""
                                   required>
                            <div class="invalid-feedback">
                                Ingrese un número válido.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Estado civil </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Soltero</option>
                                <option>Casado</option>
                                <option>Divorciado</option>
                                <option>Viudo</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Género </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Masculino</option>
                                <option>Femenino</option>
                                <option>Prefiero no decirlo</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Personas a cargo </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5+</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Tipo de ingreso </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Empresa Privada</option>
                                <option>Gobierno</option>
                                <option>Independiente</option>
                                <option>Jubilado/Pensionado</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="phone" class="form-label"><span
                                    style="color:black;font-weight:bold">Ingreso mensual </span> <span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="number" min="0" step="5" class="form-control" id="lastName" placeholder="500"
                                   value=""
                                   required>
                            <div class="invalid-feedback">
                                Ingrese un número válido.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Ingresos extra </span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Comisiones</option>
                                <option>Bonificaciones</option>
                                <option>Ninguno</option>
                                <option>Ambos</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Nivel de estudios </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Primaria</option>
                                <option>Secundaria</option>
                                <option>Universidad</option>
                                <option>Ninguno</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label"><span
                                    style="color:black;font-weight:bold">Persona políticamente expuesta </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <select class="form-select" id="country" required>
                                <option value="">Seleccione...</option>
                                <option>Si</option>
                                <option>No</option>
                                <option>No lo sé</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="address" class="form-label"><span
                                    style="color:black;font-weight:bold">Ciudad donde reside </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="text" class="form-control" id="address" placeholder="Panamá" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="address" class="form-label"><span
                                    style="color:black;font-weight:bold">Sector </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                            <input type="text" class="form-control" id="address" placeholder="Obarrio" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address2" class="form-label"><span
                                    style="color:black;font-weight:bold">Referido por </span><span
                                    class="text-muted">(Opcional)</span></label>
                            <input type="text" class="form-control" id="address2" placeholder="">
                        </div>

                    </div>

                    <hr class="my-4">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="same-address" required>
                        <label class="form-check-label" for="same-address"><span style="color:black;font-weight:bold">He leído y acepto los  </span><a
                                href="https://rapi-cashpanama.com/index.php/politica-de-privacidad/" target="_blank">Términos
                            y Condiciones.</a> <span
                                style="color:red;font-weight:bold">*</span></label>
                        <div class="invalid-feedback">
                            Debe leer los términos y condiciones para continuar.
                        </div>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="save-info" required>
                        <label class="form-check-label" for="save-info"><span style="color:black;font-weight:bold">He leído y acepto la</span>
                            <a href="https://rapi-cashpanama.com/index.php/autorizacion-apc" target="_blank">Verificación
                                APC</a><span
                                    style="color:black;font-weight:bold"> (requisito no excluyente). </span><span
                                    style="color:red;font-weight:bold">*</span></label>
                        <div class="invalid-feedback">
                            Debe aceptar la verificación de la APC para continuar (requisito no excluyente).
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="my-3">
                        <div class="form-check">
                            <form action="?" method="POST">
                                <div class="g-recaptcha" data-sitekey="6LdB08gaAAAAAMZmG-jcL-3_QFvffJS3Wpac7VLW"></div>
                                <br/>

                                <button class="w-100 btn-success btn-lg" type="submit">
                                    Enviar datos
                                </button>
                            </form>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&reg; 2019–2021 RC Financial Group, Corp.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Política de privacidad</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("entrada_1").value;
        document.getElementById("salida_1").innerHTML = "$ " + x;
        var y = document.getElementById("entrada_2").value;
        document.getElementById("salida_2").innerHTML = y + " meses";
        var z = (parseInt(x) + parseInt(x) * 0.5 + parseInt(x) * 0.02 * parseInt(y) + parseInt(x) * 0.06 * (parseInt(y) / 12) + 1.25 * parseInt(y) + 12) / parseInt(y);
        document.getElementById("mensualidad").innerHTML = "$" + z.toFixed(2);
    }
</script>

<script src="{% static 'lib/bootstrap-5.0.0-dist/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/form-validation.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

</body>
</html>
