{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.83.1">
    <title>Pre-aprobación · Rapicash</title>

    <!-- add icon link -->
    <link rel="icon" href="{% static 'icon/favicon-32x32.png' %}"
          type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'lib/bootstrap-5.0.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
        </symbol>
    </svg>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Sweetalert2 App -->
    <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/form-validation.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.6.0.js' %}" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    {#    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"#}
    {#            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
    {#            crossorigin="anonymous"></script>#}

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}"
          integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous"/>
    <script src="{% static 'js/datepicker.min.js' %}"
            integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <title>reCAPTCHA demo: Simple page</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Functions JS -->
    <script src="{% static 'js/functions.js' %}"></script>
</head>
<body class="bg-light">

{% block header %}

{% endblock %}

<br>
<div class="container">

    {% block main %}

    {% endblock %}

    {% include 'footer_f.html' %}

</div>

<script>
    function myFunction() {
        var x = document.getElementById("entrada_1").value;
        document.getElementById("salida_1").innerHTML = "$ " + x;
        {#document.getElementById("salida_3").value = x;#}
        var y = document.getElementById("entrada_2").value;
        document.getElementById("salida_2").innerHTML = y + " meses";
        {#document.getElementById("salida_4").value = y;#}
        var z = (parseInt(x) + parseInt(x) * 0.5 + parseInt(x) * 0.02 * parseInt(y) + parseInt(x) * 0.06 * (parseInt(y) / 12) + 1.25 * parseInt(y) + 12) / (parseInt(y) * 2);
        document.getElementById("mensualidad").innerHTML = "$" + z.toFixed(2);
        {#document.getElementById("entrada_1").value = parseInt(x);#}
        {#document.getElementById("entrada_2").value = parseInt(y);#}
    }
</script>


<script src="{% static 'lib/bootstrap-5.0.0-dist/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/form-validation.js' %}"></script>

</body>
</html>
