{% extends 'cotizador.html' %}

{% block campos %}

    <div class="col-md-7 col-lg-8">
        <h3 class="mb-3">Ingresa tus datos</h3>
        <p>Los campos marcados con <span style="color:red;font-weight:bold">*</span> son obligatorios</p>
        {#        <form method="post" action=".">#}
        {#            {% csrf_token %}#}
        <div class="row g-3">
            <div class="col-sm-6">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.nombre_1.label }} </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.nombre_1 }}
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>

            <div class="col-sm-6">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.nombre_2.label }}</span></label>
                {{ form.nombre_2 }}
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>

            <div class="col-sm-6">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.apellido_1.label }} </span> <span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.apellido_1 }}
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>

            <div class="col-sm-6">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.apellido_2.label }}</span></label>
                {{ form.apellido_2 }}
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>

            <div class="col-md-4">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.tipo_doc.label }} </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.tipo_doc }}
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
            </div>

            <div class="col-sm-4">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.dni.label }} </span> <span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.dni }}
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>

            <div class="col-sm-4">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.f_nacimiento.label }} </span> <span
                        style="color:red;font-weight:bold">*</span>
                </label>
                {{ form.f_nacimiento }}

                <script>
                    $(function () {
                        $("#datepicker").datepicker({
                            format: 'dd/mm/yyyy',
                            autoHide: true,
                        });
                    });

                </script>

            </div>

            <div class="col-sm-6">
                <label for="email" class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.email_1.label }} </span> <span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.email_1 }}
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>

{#            <div class="col-sm-6">#}
{#                <label for="email" class="form-label"><span#}
{#                        style="color:black;font-weight:bold">{{ form.email_2.label }} </span> <span#}
{#                        style="color:red;font-weight:bold">*</span></label>#}
{#                {{ form.email_2 }}#}
{#                <div class="invalid-feedback">#}
{#                    Please enter a valid email address for shipping updates.#}
{#                </div>#}
{#            </div>#}

            <div class="col-sm-6">
                <label for="phone" class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.celular.label }} </span> <span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.celular }}
                <div class="invalid-feedback">
                    Ingrese un número válido.
                </div>
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.e_civil.label }} </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.e_civil }}
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.genero.label }} </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.genero }}
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.dependientes.label }} </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.dependientes }}
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.tipo_ingreso.label }} </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.tipo_ingreso }}
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
            </div>

            <div class="col-sm-4">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.salario.label }} </span> <span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.salario }}
                <div class="invalid-feedback">
                    Ingrese un número válido.
                </div>
            </div>

            <div class="col-sm-4">
                <label class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.empresa.label }} </span> <span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.empresa }}
                <div class="invalid-feedback">
                    Ingrese un número válido.
                </div>
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.ex_ingresos.label }} </span></label>
                {{ form.ex_ingresos }}
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.estudios.label }} </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.estudios }}
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.p_expuesto.label }} </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.p_expuesto }}
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
            </div>

            <div class="col-6">
                <label for="address" class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.ciudad.label }} </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.ciudad }}
                <div class="invalid-feedback">
                    Please enter your shipping address.
                </div>
            </div>

            <div class="col-6">
                <label for="address" class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.sector.label }} </span><span
                        style="color:red;font-weight:bold">*</span></label>
                {{ form.sector }}
                <div class="invalid-feedback">
                    Please enter your shipping address.
                </div>
            </div>

            <div class="col-12">
                <label for="address2" class="form-label"><span
                        style="color:black;font-weight:bold">{{ form.ref.label }} </span><span
                        class="text-muted">(Opcional)</span></label>
                {{ form.ref }}
            </div>

        </div>

        <hr class="my-4">

        <div class="form-check">
            {{ form.terms }}
            <label class="form-check-label" for="same-address"><span style="color:black;font-weight:bold">He leído y acepto los  </span><a
                    href="https://rapi-cashpanama.com/index.php/politica-de-privacidad/" target="_blank">Términos
                y Condiciones.</a> <span
                    style="color:red;font-weight:bold">*</span></label>
            <div class="invalid-feedback">
                Debe leer los términos y condiciones para continuar.
            </div>
        </div>

        <div class="form-check">
            {{ form.apc }}
            <label class="form-check-label" for="save-info"><span style="color:black;font-weight:bold">He leído y acepto la</span>
                <a href="https://rapi-cashpanama.com/index.php/autorizacion-apc" target="_blank">Verificación
                    APC</a><span
                        style="color:black;font-weight:bold"> (requisito no excluyente). </span><span
                        style="color:red;font-weight:bold">*</span></label>
            <div class="invalid-feedback">
                Debe aceptar la verificación de la APC para continuar (requisito no excluyente).
            </div>
        </div>

        <hr class="my-4">

        <div class="g-recaptcha" data-sitekey="6LdB08gaAAAAAMZmG-jcL-3_QFvffJS3Wpac7VLW"></div>
        <br/>

        <button class="w-100 btn-success btn-lg" type="submit" id="btn-ok">Enviar datos</button>
        {#        </form>#}
    </div>

{% endblock %}