{% extends 'main.html' %}

{% block cotizador %}

    <div class="col-md-5 col-lg-4 order-md-last">
        <h3 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-dark">Cotizador</span>
        </h3>

        <ul class="list-group mb-3">

            <li class="list-group d-flex justify-content-between lh-sm">
                <ul class="list-group">
                    <li class="list-group-item">
                        <label for="customRange3" class="form-label">{{ form.monto.label }}</label>
                        {{ form.monto }}
                    </li>
                    <li class="list-group-item justify-content-between">
                        <strong id="salida_1" style="font-size: x-large; font-weight:bold">$1000</strong>
                    </li>
                </ul>
            </li>
            <li class="list-group d-flex justify-content-between lh-sm">
                <ul class="list-group">

                    <li class="list-group-item">
                        <label for="customRange3" class="form-label">{{ form.plazo_meses.label }}</label>
                        {#                            <input type="range" class="form-range" min="6" max="36" step="1" id="entrada_2"#}
                        {#                                       value="20" oninput="myFunction()">#}
                        {{ form.plazo_meses }}
                    </li>
                    <li class="list-group-item justify-content-between">
                        <strong id="salida_2" style="font-size: x-large">24 meses</strong>
                    </li>

                </ul>

            </li>
            <li class="list-group-item d-flex justify-content-between bg-success">
                <div class="text-light">
                    <h5 class="my-0">Cuota <br> quincenal<span style="color:white;font-weight:bold">*</span></h5>
                </div>
                <span id="mensualidad" class="text-light" style="font-size: xx-large">$44.63</span>
            </li>
            <p><span style="color:green;font-weight:bold">*</span>La cuota calculada es aproximada. </p>
        </ul>
    </div>

{#    {% if form.errors %}#}
{##}
{#        <div class="alert alert-warning alert-dismissible fade show" role="alert">#}
{##}
{#            <svg class="bi flex-shrink-0 me-2" width="24" height="24">#}
{#                <use xlink:href="#exclamation-triangle-fill"/>#}
{#            </svg>#}
{#            <strong>Verifique lo siguiente antes de continuar: </strong>#}
{#            <ul>#}
{#                {% for field in form %}#}
{#                    {% for error in field.errors %}#}
{##}
{#                        <li>{{ error }}</li>#}
{#                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
{##}
{#                    {% endfor %}#}
{##}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    {% endif %}#}


    {#    {{ form.errors }}#}
{% endblock %}
