<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&reg; 2019–2021 RC Financial Group, Corp.</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="https://rapi-cashpanama.com/index.php/politica-de-privacidad-2/">Política de privacidad</a></li>
        <li class="list-inline-item"><a href="https://rapi-cashpanama.com/index.php/politica-de-privacidad/">Términos y condiciones</a></li>
    </ul>
</footer>