{% extends 'body_f.html' %}

{% load static %}

{% block header %}

    <header>
        <div class="collapse" style="background-color:rgb(24,28,60);" id="navbarHeader">
            <div class="container">
                <br>
                <div class="row">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a href="https://rapi-cashpanama.com/" type="button" class="btn btn-primary"
                                    style="color:white; background-color:rgb(24,28,60); border-color: #90c43c ">
                                Inicio</a>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://rapi-cashpanama.com/index.php/requisitos/" type="button" class="btn btn-primary"
                                    style="color:white; background-color:rgb(24,28,60); border-color: #90c43c">
                                Requisitos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://rapi-cashpanama.com/index.php/politica-de-privacidad/" type="button" class="btn btn-primary"
                                    style="color:white; background-color:rgb(24,28,60); border-color: #90c43c">Términos y condiciones
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark shadow-sm py-4" style="background-color:rgb(24,28,60);">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img src="{% static 'img/logo_light.png' %}" alt="" width="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

{% endblock %}

