{% extends 'base_1.html' %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    <div class="card" style="background-color:#e6ffde;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            {% block table_header %}
                            
                                
                            {% endblock %}
                        </div>
                        <div class="card-body border border-dark">
                            {% block table_body %}
                            
                                
                            {% endblock %}
                        </div>

                        <div class="card-footer border border-dark bg-gradient-gray-dark">
                            {% block table_footer %}
                            
                            {% endblock %}
                        </div>

                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}