{% extends 'base_1.html' %}
{% load static %}

{% block content_base %}

    <section class="content">

        <div class="container-fluid">

            <div class="card">
                <div class="card-header"><h2 class="card-title text-xl"
                                             style="text-align: left; padding-left: 20px">{{ titulo_p }} <b>{{ request.user.first_name }} {{ request.user.last_name }}</b> </h2>
                    <div class="card-tools">
                        <small>
                            Último acceso: {{ request.user.last_login }}
                        </small>
                    </div>
                </div>

                <div class="card-body">

                    {% if user.get_username in lista_resumen %}

                        {% if user.get_username == 'guillermo.lemos' or user.get_username == 'vicente_rc' %}
                            {% include 'dashboard_comp/cumplimiento.html' %} <br>
                            {% include 'dashboard_comp/admin_jeison.html' %}
                        {% elif user.get_username == 'gerencia.rc' %}
                            {% include 'dashboard_comp/gerencia.html' %}
                        {% endif %}
                        <hr>

                    {% endif %}

                    {% if user.get_username in lista_ventas %}
                        {% include 'dashboard_comp/callcenter_ventas.html' %}
                    {% endif %}

                    {% if user.get_username == 'carlos.gomez' %}
                        {% include 'dashboard_comp/sr_carlos.html' %}
                    {% endif %}

                    {% if user.get_username == 'jeison.gonzalez' %}
                        {% include 'dashboard_comp/admin_jeison.html' %}
                    {% endif %}

                    <form id="token_form">
                        {% csrf_token %}
                        <input type="hidden" id="info_user" name="info_user" value="{{ user.get_username|safe }}">
                    </form>

                    <div class="container-fluid">
                        <h3>Resumen de solicitudes</h3>
                        <table class="table table-responsive-lg table-hover table-bordered h5">
                            <tbody>
                            <tr>
                                <td colspan="2" style="width: 50%;">Total de solicitudes recibidas</td>
                                <th colspan="2">{{ solicitudes }} </th>
                            </tr>
                            <tr>
                                <td colspan="2">Solicitudes nuevas</td>
                                <th colspan="2">{{ solicitudes_nuevas }} </th>
                            </tr>
                            <tr>
                                <td colspan="2">Solicitudes revisadas</td>
                                <th colspan="2">{{ solicitudes_vistas }} </th>
                            </tr>
                            <tr>
                                <td colspan="2">Solicitudes descartadas</td>
                                <th colspan="2">{{ solicitudes_descartadas }} </th>
                            </tr>
                            <tr>
                                <td colspan="2">Solicitudes procesadas descartadas</td>
                                <th colspan="2">{{ solicitudes_procesadas_descartadas }} </th>
                            </tr>
                            <tr>
                                <td colspan="2">Total solicitudes descartadas</td>
                                <th colspan="2">{{ total_descartadas }} </th>
                            </tr>
                            <tr class="text-center">
                                <th colspan="2" style="border-right: solid black 2px">Solicitudes mes anterior</th>
                                <th colspan="2">Solicitudes mes actual</th>
                            </tr>
                            <tr class="text-center">
                                <td>Recibidas</td>
                                <th style="border-right: solid black 2px">{{ solicitudes_mes_anterior }}</th>
                                <td>Recibidas</td>
                                <th>{{ solicitudes_mes_actual }}</th>
                            </tr>
                            <tr class="text-center">
                                <td>Total solicitado</td>
                                <th style="border-right: solid black 2px">{{ suma_anterior }}</th>
                                <td>Total solicitado</td>
                                <th>{{ suma_actual }}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer"></div>
            </div>
        </div>

    </section>



{% endblock %}

{% block scripts_java %}

    {% if user.get_username in lista_resumen %}
        <script src="{% static 'ventas/js_dashboard/dashboard.js' %}"></script>
        <script>
            (function () {
                info_dashboard();
            })();
        </script>

    {% elif user.get_username in lista_ventas %}
        <script src="{% static 'ventas/js_dashboard/dashboard_ventas.js' %}"></script>
        <script>
            (function () {
                info_dashboard();
            })();
        </script>

    {% elif user.get_username == 'carlos.gomez' %}
        <script src="{% static 'ventas/js_dashboard/inversionista.js' %}"></script>
        <script>
            (function () {
                info_dashboard_carlos();
            })();
        </script>

    {% elif user.get_username == 'jeison.gonzalez' %}
        <script src="{% static 'ventas/js_dashboard/admin_dashboard.js' %}"></script>
        <script>
            (function () {
                info_dashboard();
            })();
        </script>

    {% endif %}

{% endblock %}