<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0b9
    </div>
    <strong>Copyright &copy; 2019-2022 <a href="https://rapi-cashpanama.com/">RC Financial Group, Corp.</a></strong> Derechos reservados.
</footer>