{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RC | Platform</title>

    <!-- add icon link -->
    <link rel="icon" href="{% static 'icon/favicon-32x32.png' %}"
          type="image/x-icon">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/fontawesome-free/css/all.min.css' %}">

    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/css/adminlte.min.css' %}">

    <!-- JQuery -->
    <script src="{% static 'lib/adminlte-3.1.0/plugins/jquery/jquery.min.js' %}"></script>
{#    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>#}

    <!-- Datatables -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}"/>
    <script type="text/javascript" src="{% static 'lib/adminlte-3.1.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>

{#    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>#}
{#    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>#}
{#    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>#}

    {#    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>#}
{#    <link rel="stylesheet"#}
{#          href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>#}
{#    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>#}
{##}
{#    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>#}
{#    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>#}
{#    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>#}
{##}
{#    <link rel="stylesheet" type="text/css" href="{% static 'lib/datatables-1.10.20/datatables.min.css' %}"/>#}
{##}
{#    <script type="text/javascript" src="{% static 'lib/datatables-1.10.20/datatables.min.js' %}"></script>#}

    <!-- Fengyuan Chen's Datepicker -->
    {#    <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}"#}
    {#          integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous"/>#}
    {#    <script src="{% static 'js/datepicker.min.js' %}"#}
    {#            integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>#}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">

    <!-- Sweetalert2 App -->
    <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>

    <!-- Bootstrap Core -->
    {#    <link rel="stylesheet" href="{% static 'lib/bootstrap-4.6.0-dist/css/bootstrap.min.css' %}">#}

    <!-- Mis funciones -->
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/update_table.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/mystyles.css' %}"/>

    <!-- iCheck for checkboxes and radio inputs -->

    {% block script_head %}

    {% endblock %}

</head>

{% block body %}

{% endblock %}

{% block scripts_java %}

{% endblock %}

</html>
