{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'dashboard' %}" class="brand-link">
        <img src="{% static 'img/logo_light_icon.png' %}" alt="Rapicash Logo" class="brand-image elevation-3"
             style="opacity: .8">
        <h3 class="brand-text font-weight-bold"> RC Platform</h3>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/user_1.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.first_name }} {{ request.user.last_name }}</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Buscar"
                       aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" class="nav-link {{ active_prestamos }}">
                        <i class="fas fa-wallet"></i>
                        <p>
                            Préstamos
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'prestamos:lista_clientes' %}"
                               class="nav-link {{ active_prestamos_clientes }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lista de clientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'prestamos:aprobacion_clientes' %}"
                               class="nav-link {{ active_prestamos_aprobacion }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Aprobación</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'prestamos:lista_aprobados' %}"
                               class="nav-link {{ active_prestamos_lista_aprobados }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lista de aprobados</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'prestamos:cartas_saldo' %}"
                               class="nav-link {{ active_prestamos_cartasaldo }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Cartas de saldo</p>
                            </a>
                        </li>
                        {% if user.get_username == 'gerencia.rc' or user.get_username == 'vicente_rc' %}
                            <li class="nav-item">
                                <a href="{% url 'prestamos:lista_desembolsos_p' %}"
                                   class="nav-link {{ active_lista_desembolsos }}">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Desembolsos pendientes</p>
                                </a>
                            </li>
                        {% endif %}
                        {% if user.get_username == 'vicente_rc' or user.get_username == 'jeison.gonzalez' or user.get_username == 'guillermo.lemos' %}
                            <li class="nav-item">
                                <a href="{% url 'prestamos:lista_operaciones' %}"
                                   class="nav-link {{ active_lista_operaciones }}">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Operaciones</p>
                                </a>
                            </li>
                        {% endif %}
                        {% if user.get_username == 'vicente_rc' %}
                            <li class="nav-item">
                                <a href="{% url 'prestamos:ajustes_aprobaciones' %}"
                                   class="nav-link {{ active_ajuste_aprobaciones }}">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p class="text-danger">Ajustes aprobaciones</p>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>

                <li class="nav-item">
                    {#                        <a href="#" class="nav-link active">#}
                    <a href="#" class="nav-link {{ active_ventas }}">
                        <i class="fas fa-briefcase"></i>
                        <p>
                            Ventas
                            <i class="fas fa-angle-left right"></i>
                            {#                                <span class="badge badge-info right">6</span>#}
                            <span class="badge badge-info right"></span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'ventas:solicitudes_nuevas' %}" class="nav-link {{ active_ventas_nuevas }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Nuevas solicitudes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'ventas:solicitudes_ligeras' %}"
                               class="nav-link {{ active_ventas_ligeras }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Solicitudes rápidas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {#                                <a href="../layout/top-nav-sidebar.html" class="nav-link active">#}
                            <a href="{% url 'ventas:solicitudes_proceso' %}"
                               class="nav-link {{ active_ventas_proceso }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>En proceso</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'ventas:solicitudes_preaprobadas' %}"
                               class="nav-link {{ active_ventas_prea }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Pre-aprobadas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'ventas:solicitudes_descartadas' %}"
                               class="nav-link {{ active_ventas_descartadas }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Descartadas</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link {{ active_cobros }}">
                        <i class="fas fa-hand-holding-usd"></i>
                        <p>
                            Cobros
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'cobros:lista_clientes' %}" class="nav-link {{ active_cobros_pagos }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lista de clientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'cobros:clientes_rtt' %}"
                               class="nav-link {{ active_cobros_rtt }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Reestructuraciones</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="{% url 'reportes:reportes' %}" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Reportes
                            {#                            <i class="fas fa-angle-left right"></i>#}
                        </p>
                    </a>
                    {#                    <ul class="nav nav-treeview">#}
                    {#                        <li class="nav-item">#}
                    {#                            <a href="../forms/general.html" class="nav-link">#}
                    {#                                <i class="far fa-circle nav-icon"></i>#}
                    {#                                <p>Reporte de Seguros</p>#}
                    {#                            </a>#}
                    {#                        </li>#}
                    {#                        <li class="nav-item">#}
                    {#                            <a href="../forms/advanced.html" class="nav-link">#}
                    {#                                <i class="far fa-circle nav-icon"></i>#}
                    {#                                <p>Reporte de timbres</p>#}
                    {#                            </a>#}
                    {#                        </li>#}
                    {#                        <li class="nav-item">#}
                    {#                            <a href="../forms/editors.html" class="nav-link">#}
                    {#                                <i class="far fa-circle nav-icon"></i>#}
                    {#                                <p>Reporte de cartera</p>#}
                    {#                            </a>#}
                    {#                        </li>#}
                    {#                        <li class="nav-item">#}
                    {#                            <a href="../forms/validation.html" class="nav-link">#}
                    {#                                <i class="far fa-circle nav-icon"></i>#}
                    {#                                <p>Reporte personalizado</p>#}
                    {#                            </a>#}
                    {#                        </li>#}
                    {#                    </ul>#}
                </li>

                <li class="nav-item">
                    <a href="{% url 'ventas:empresas_lista' %}" class="nav-link {{ active_empresas }}">
                        <i class="fas fa-city"></i>
                        <p>
                            Lista de empresas
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../calendar.html" class="nav-link">
                        <i class="fas fa-sliders-h"></i>
                        <p>
                            Ajustes avanzados
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>