
<div class="container-fluid">
    <h3>Resumen de Operaciones Pendientes</h3>
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_op_registro" class="small-box">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="num_op_registro"></span> <br>
                    <small>Registros de Desembolsos.</small>
                </div>
                <div class="icon">
                    <i class="fas fa-file-invoice-dollar"></i>
                </div>
                <a href="{% url 'prestamos:lista_operaciones' %}" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_op_revision" class="small-box">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="num_op_revision"></span> <br>
                    <small>Op. Pendientes de revisión.</small>
                </div>
                <div class="icon">
                    <i class="fas fa-user-edit"></i>
                </div>
                <a href="{% url 'prestamos:lista_operaciones' %}" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_op_enviadas" class="small-box">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="num_op_enviadas"></span> <br>
                    <small>Op. Enviadas a Gerencia.</small>
                </div>
                <div class="icon">
                    <i class="fas fa-user-tie"></i>
                </div>
                <a href="{% url 'prestamos:lista_operaciones' %}" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_pend_empresas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-secondary">
                <h5 class="modal-title" id="exampleModalLongTitle">Pendientes de registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="li_emp_pend">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
