<div class="container-fluid">
    <h3>Resumen de Pendientes</h3>
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_empresas_faltantes" class="small-box bg-secondary">
                <div class="inner">
                    <h3 id="num_emp_pendientes">65</h3>
                    <p>Registros de empresas pendientes</p>
                    <button class="btn btn-outline-light" data-toggle="modal" data-target="#modal_pend_empresas">
                        Detalles
                    </button>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{% url 'ventas:empresas_lista' %}" class="small-box-footer">Más info<i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_pend_empresas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-secondary">
                <h5 class="modal-title" id="exampleModalLongTitle">Pendientes de registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="li_emp_pend">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
