<div class="container-fluid">
    <h3>Resumen de Pendientes</h3>
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_aprobaciones" class="small-box">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="num_aprobaciones"></span> <br>
                    <small>Desembolsos pendientes</small>
                </div>
                <div class="icon">
                    <i class="fas fa-money-check-alt"></i>
                </div>
                <a href="{% url 'prestamos:lista_desembolsos_p' %}" class="small-box-footer">Más
                    info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_preaprobaciones" class="small-box">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="num_preaprobaciones"></span> <br>
                    <small>Aprobaciones pendientes</small>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <a href="{% url 'prestamos:aprobacion_clientes' %}" class="small-box-footer">Más
                    info <i
                            class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_OD" class="small-box">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="num_enOD"></span> <br>
                    <small>Aprobaciones en OD</small>
                </div>
                <div class="icon">
                    <i class="fas fa-user-clock"></i>
                </div>
                <a href="{% url 'prestamos:lista_aprobados' %}" class="small-box-footer">Más
                    info <i
                            class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_empresas" class="small-box">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="num_empresas"></span> <br>
                    <small>Empresas por verificar</small>
                </div>
                <div class="icon">
                    <i class="fas fa-city"></i>
                </div>
                <a href="{% url 'ventas:empresas_lista' %}" class="small-box-footer">Más info
                    <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
</div>

<!-- Info de Rapicash Gerencia -->
<div class="container-fluid">
    <h3>Rapicash en cifras</h3>
    <!-- Aprobaciones -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_aprobados" class="small-box bg-primary">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="num_aprobados"></span> / <b id="num_ap_ant" class="text-warning"></b> <br>
                    <small>Aprobaciones. Mes en curso</small>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <a href="{% url 'prestamos:lista_aprobados' %}" class="small-box-footer">Más
                    info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_preaprobaciones" class="small-box bg-success">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="monto_aprobaciones"></span> / <b id="monto_ap_ant"
                                                                                           class="text-warning"></b>
                    <br>
                    <small>Suma de montos aprobados. Mes en curso</small>
                </div>
                <div class="icon">
                    <i class="fas fa-file-invoice-dollar"></i>
                </div>
                <a href="{% url 'prestamos:lista_aprobados' %}" class="small-box-footer">Más
                    info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_OD" class="small-box bg-indigo">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="aprobados_m_pr"></span> / <b id="ap_m_pr_ant"
                                                                                       class="text-warning"></b> <br>
                    <small>Monto promedio aprobaciones. Mes en curso</small>
                </div>
                <div class="icon">
                    <i class="fas fa-funnel-dollar"></i>
                </div>
                <a href="{% url 'prestamos:lista_aprobados' %}" class="small-box-footer">Más
                    info <i
                            class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_empresas" class="small-box bg-info">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="aprobados_p_pr"></span><span class="h4"> meses</span> / <b
                        id="ap_p_pr_ant" class="text-warning"></b> <br>
                    <small>Plazo promedio aprobaciones. Mes en curso</small>
                </div>
                <div class="icon">
                    <i class="fas fa-calendar"></i>
                </div>
                <a href="{% url 'prestamos:lista_aprobados' %}" class="small-box-footer">Más info
                    <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- Contratos -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_contratos" class="small-box bg-primary">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="num_contratos">150</span> / <b id="num_ct_ant"
                                                                                         class="text-warning"></b> <br>
                    <small>Contratos generados. Mes actual <span class="text-danger">**</span></small>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <a href="{% url 'prestamos:lista_aprobados' %}" class="small-box-footer">Más
                    info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_m_contratos" class="small-box bg-success">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="monto_contratos"></span> / <b id="monto_ct_ant"
                                                                                        class="text-warning"></b> <br>
                    <small>Acumulado de capital contratos. Mes actual <span class="text-danger">**</span></small>
                </div>
                <div class="icon">
                    <i class="fas fa-file-invoice-dollar"></i>
                </div>
                <a href="{% url 'prestamos:lista_aprobados' %}" class="small-box-footer">Más
                    info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_ct_m_pr" class="small-box bg-indigo">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="contratos_m_pr">44</span> / <b id="ct_m_pr_ant"
                                                                                         class="text-warning"></b> <br>
                    <small>Promedio de capital contratos. Mes actual <span class="text-danger">**</span></small>
                </div>
                <div class="icon">
                    <i class="fas fa-funnel-dollar"></i>
                </div>
                <a href="{% url 'prestamos:lista_aprobados' %}" class="small-box-footer">Más
                    info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div id="box_ct_p_pr" class="small-box bg-info">
                <div class="inner">
                    <span class="h3 font-weight-bold" id="contratos_p_pr"></span><span class="h4"> meses</span> / <b
                        id="ct_p_pr_ant" class="text-warning"></b> <br>
                    <small>Plazo promedio contratos. Mes actual <span class="text-danger">**</span></small>
                </div>
                <div class="icon">
                    <i class="fas fa-calendar"></i>
                </div>
                <a href="{% url 'prestamos:lista_aprobados' %}" class="small-box-footer">Más info
                    <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <small><span class="text-danger">**</span> Pendiente de ajuste.</small>
</div>
