{% extends 'base_1.html' %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    <div class="card" style="background-color: #FFFAE4;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title_1 }}</strong>
                            </h6>

                        </div>
                        <div class="card-body border border-dark">
                            <table id="tabla_1" class="table table-hover table-head-fixed" style="width: 100%">
                                {#                            <table class="table" id="tabla_1">#}
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 5%;">Nro</th>
                                    <th scope="col" style="width: 5%;">Estado</th>
                                    <th scope="col" style="width: 11%;">Nombre</th>
                                    <th scope="col" style="width: 11%;">Apellido</th>
                                    <th scope="col" style="width: 10%;">Mes S.</th>
                                    <th scope="col" style="width: 13%;">Tipo ingreso</th>
                                    <th scope="col" style="width: 10%;">Ingreso</th>
                                    <th scope="col" style="width: 10%;">Celular</th>
                                    <th scope="col" style="width: 10%;">Documentos</th>
                                    <th scope="col" style="width: 10%;">Opciones</th>
                                    {#                                    <th scope="col">Cotizar</th>#}
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                    <tr>
                                    <td colspan="4"></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="4"></td>
                                    {# e                                    <th scope="col">Cotizar</th>#}
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="card-footer border border-dark bg-gradient-gray-dark">
                            <a href="{{ create_url }}" class="btn btn-primary btn_test border border-light"><i
                                    class="fas fa-plus"></i>
                                Nuevo registro
                            </a>
                            <button type="button" id="updateTable" class="btn btn-info border border-light"><i
                                    class="fas fa-sync-alt"></i> Actualizar
                            </button>
                        </div>

                    </div>
                    <!-- /.card -->
                    <!-- Default box 2 -->
                    {% if user.id in lista_ventas %}
                        <div class="card" style="background-color:#e6ffde;">
                            <div class="card-header bg-gradient-gray-dark border border-dark">
                                <h6 class="card-title text-lg"><strong>{{ card_title_2 }}</strong>
                                </h6>
                            </div>
                            <div class="card-body border border-dark">
                                <table class="table table-hover table-head-fixed" id="tabla_2">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 10%;">Nro</th>
                                        <th scope="col" style="width: 15%;">Nombre</th>
                                        <th scope="col" style="width: 15%;">Apellido</th>
                                        <th scope="col" style="width: 15%;">Tipo ingreso</th>
                                        <th scope="col" style="width: 15%;">Ingreso</th>
                                        <th scope="col" style="width: 10%;">Celular</th>
                                        <th scope="col" style="width: 10%;">Documentos</th>
                                        <th scope="col" style="width: 10%;">Opciones</th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>

                                </table>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer bg-gradient-gray-dark border border-dark">

                            </div>
                            <!-- /.card-footer-->
                        </div>
                    {% endif %}

                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}