{% extends 'base_1.html' %}
{% load static %}

{% block script_head %}
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>

{% endblock %}

{% block content_base %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card" style="background-color: #f3f4ff;">
                        <form method="post" action="." id="form_nueva">
                            {% csrf_token %}
                            <div class="card-header bg-gradient-gray-dark border border-dark">
                                <h6 class="card-title text-lg"><strong>{{ card_title }}</strong>
                                </h6>
                                <div class="card-tools">
                                    <small><span class="text-danger">*</span> Obligatorio</small>
                                </div>
                            </div>
                            <div class="card-body border border-dark">
                                <input type="hidden" name="action" value="{{ action }}">
                                <!-- Primera fila -->
                                <div class="row form-group">
                                    <div class="col-md-3 mb-3 ">
                                        <label class="form-label">Primer nombre: <span
                                                class="text-danger">*</span></label>
                                        {{ form.nombre_1 }}
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Segundo nombre:</label>
                                        {{ form.nombre_2 }}
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Primer apellido: <span
                                                class="text-danger">*</span></label>
                                        {{ form.apellido_1 }}
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Segundo apellido:</label>
                                        {{ form.apellido_2 }}
                                    </div>
                                </div>
                                <!-- Segunda fila -->
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="form-label">Tipo de documento: <span class="text-danger">*</span></label>
                                        {{ form.tipo_doc }}
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Núm. de ID: <span class="text-danger">*</span></label>
                                        {{ form.dni }}
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Propósito del crédito: <span
                                                class="text-danger">*</span></label>
                                        {{ form.motivo }}
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label">Fecha de nacimiento: <span
                                                class="text-danger">*</span></label>
                                        {{ form.f_nacimiento }}
                                    </div>
                                </div>
                                <!-- Tercera fila -->
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="form-label">Celular: <span class="text-danger">*</span></label>
                                        {{ form.celular }}
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Email: <span class="text-danger">*</span></label>
                                        {{ form.email_1 }}
                                    </div>
                                    <div class="col-md-2">
                                        <label for="lastName">Estado civil: <span class="text-danger">*</span></label>
                                        {{ form.e_civil }}
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Género: <span class="text-danger">*</span></label>
                                        {{ form.genero }}
                                    </div>

                                </div>
                                <!-- Cuarta fila -->
                                <div class="row form-group">
                                    <div class="col-md-2">
                                        <label class="form-label">Dependientes: <span
                                                class="text-danger">*</span></label>
                                        {{ form.dependientes }}
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Tipo de ingreso: <span
                                                class="text-danger">*</span></label>
                                        {{ form.tipo_ingreso }}
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label">Ingreso mensual: <span
                                                class="text-danger">*</span></label>
                                        {{ form.salario }}
                                    </div>
                                    <div class="col-md-5">
                                        <label class="form-label">Empresa: <span class="text-danger">*</span></label>
                                        {{ form.empresa_1 }}
                                    </div>

                                </div>
                                <!-- Quinta fila -->
                                <div class="row form-group">
                                    <div class="col-md-2">
                                        <label class="form-label">Ingresos extra: <span
                                                class="text-danger">*</span></label>
                                        {{ form.in_extras }}
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Estudios: <span class="text-danger">*</span></label>
                                        {{ form.estudios }}
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">P.E.P.: <span class="text-danger">*</span></label>
                                        {{ form.p_expuesto }}
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label">Monto solicitado: <span
                                                class="text-danger">*</span></label>
                                        {{ form.monto }}
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label">Plazo (meses): <span
                                                class="text-danger">*</span></label>
                                        {{ form.plazo_meses }}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="form-label">Referido (si aplica): </label>
                                        {{ form.ref }}
                                    </div>
                                </div>
                                <!-- Sexta fila -->
                                <hr class="mb-4">
                                <h4><strong>Dirección:</strong></h4>
                                <div class="row form-group">
                                    <div class="col-md-2">
                                        <label class="form-label">Provincia: <span class="text-danger">*</span></label>
                                        {{ form.provincia }}
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label" for="id_distrito">Distrito: <span class="text-danger">*</span></label>
                                        <select name="distrito" class="form-select form-control" required=""
                                                id="id_distrito">
                                            <option value="" selected="">---------</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label" for="id_corregimiento">Corregimiento: <span
                                                class="text-danger">*</span></label>
                                        <select name="corregimiento" class="form-select form-control" required=""
                                                id="id_corregimiento">
                                            <option value="" selected="">---------</option>
                                        </select>
                                    </div>
                                    <div class="col-md-5">
                                        <label class="form-label">Descripción: <span
                                                class="text-danger">*</span></label>
                                        {{ form.direccion }}
                                    </div>
                                </div>
                                <!-- Séptima fila -->
                                <hr class="mb-4">
                                <div class="row form-group">
                                    <div class="custom-control custom-checkbox mr-sm-2 col-md-4 mb-3">
                                        {{ form.apc }}
                                        <label class="custom-control-label" for="id_apc"><span
                                                style="color:darkgreen;font-weight:bold">Revisión de la APC. <span
                                                class="text-danger">*</span></span></label>
                                    </div>
                                    <div class="custom-control custom-checkbox mr-sm-2 col-md-4 mb-3">
                                        {{ form.terms }}
                                        <label class="custom-control-label" for="id_terms"><span
                                                style="color:darkgreen;font-weight:bold">Términos y condiciones. <span
                                                class="text-danger">*</span></span></label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer border border-dark bg-gradient-gray-dark">
                                <button class="w-10 btn-success btn border border-light" type="submit" id="btn-ok_2"><i
                                        class="far fa-save"></i> Guardar datos
                                </button>
                                <a href="{% url 'ventas:solicitudes_nuevas' %}"
                                   class="w-10 btn-danger btn border border-light"><i
                                        class="far fa-times-circle"></i> Cancelar</a>
                            </div>
                        </form>
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" value="{{ info_recuperada }}" id="info_r">
    <!-- /.content -->


{% endblock %}

{% block scripts_java %}
    <script src="{% static 'ventas/js/validations_1.js' %}"></script>
    <script src="{% static 'ventas/js/select_ajax.js' %}"></script>

    {% if ampliar_solicitud %}
        <script type="application/javascript">

            (function () {
                let val = document.getElementById('info_r').value;
                recuperar_info(val);
            })();

        </script>
    {% endif %}

{% endblock %}