{% extends 'base_1.html' %}
{% load static %}


{% block script_head %}
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>

{% endblock %}

{% block content_base %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card" style="background-color: #e6ffde;">
                        <form method="post" action="." id="form_edit">
                            <div class="card-header bg-gradient-gray-dark border border-dark">
                                <h6 class="card-title text-lg"><strong>{{ card_title }}</strong>
                                </h6>
                                <div class="card-tools">
                                    <small><span class="text-danger">*</span> Obligatorio</small>
                                </div>
                            </div>

                            <div class="card-body border border-dark">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="{{ action }}">
                                <input type="hidden" value="{{ id_form }}" id="id_modelo">
                                <!-- Primera fila -->
                                <div class="row form-group">
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Primer nombre: <span
                                                class="text-danger">*</span></label>
                                        {{ form.nombre_1 }}
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Segundo nombre:</label>
                                        {{ form.nombre_2 }}
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Primer apellido: <span
                                                class="text-danger">*</span></label>
                                        {{ form.apellido_1 }}
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Segundo apellido:</label>
                                        {{ form.apellido_2 }}
                                    </div>
                                </div>
                                <!-- Segunda fila -->
                                <div class="row form-group">

                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Tipo de documento: <span
                                                class="text-danger">*</span></label>
                                        {{ form.tipo_doc }}
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Núm. de ID: <span class="text-danger">*</span></label>
                                        {{ form.dni }}
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Propósito del crédito: <span
                                                class="text-danger">*</span></label>
                                        {{ form.motivo }}
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="form-label">F. de Nacimiento: <span
                                                class="text-danger">*</span></label>
                                        {{ form.f_nacimiento }}
                                    </div>
                                    
                                </div>
                                <!-- Tercera fila -->
                                <div class="row form-group">
                                    <div class="col-md-2 mb-3">
                                        <label class="form-label">Celular: <span class="text-danger">*</span></label>
                                        {{ form.celular }}
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Email: <span class="text-danger">*</span></label>
                                        {{ form.email_1 }}
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="form-label">Estado civil: <span
                                                class="text-danger">*</span></label>
                                        {{ form.e_civil }}
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="form-label">Género: <span class="text-danger">*</span></label>
                                        {{ form.genero }}
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="form-label">Dependientes: <span
                                                class="text-danger">*</span></label>
                                        {{ form.dependientes }}
                                    </div>
                                </div>
                                <!-- Cuarta fila -->
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="form-label">Tipo de ingreso: <span
                                                class="text-danger">*</span></label>
                                        {{ form.tipo_ingreso }}
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label">Salario: <span class="text-danger">*</span></label>
                                        {{ form.salario }}
                                    </div>
                                    <div class="col-md-5">
                                        <label class="form-label">Empresa: <span class="text-danger">*</span></label>
                                        {{ form.empresa_1 }}
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label">Ingresos extra: <span
                                                class="text-danger">*</span></label>
                                        {{ form.in_extras }}
                                    </div>
                                </div>
                                <!-- Quinta fila -->
                                <div class="row form-group">

                                    <div class="col-md-3">
                                        <label class="form-label">Estudios: <span class="text-danger">*</span></label>
                                        {{ form.estudios }}
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">P.E.P.: <span class="text-danger">*</span></label>
                                        {{ form.p_expuesto }}
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label">Monto: <span class="text-danger">*</span></label>
                                        {{ form.monto }}
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Plazo (meses): <span
                                                class="text-danger">*</span></label>
                                        {{ form.plazo_meses }}
                                    </div>
                                </div>
                                <!-- Sexta fila -->
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            {{ form.apc }}
                                            <label class="custom-control-label" for="id_apc"><span
                                                    style="color:darkgreen;font-weight:bold">Revisión de la APC. <span
                                                    class="text-danger">*</span></span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            {{ form.terms }}
                                            <label class="custom-control-label" for="id_terms"><span
                                                    style="color:darkgreen;font-weight:bold">Términos y condiciones. <span
                                                    class="text-danger">*</span></span></label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Séptima fila -->
                                <hr class="mb-4 form-group">
                                <h4><strong>Dirección:</strong></h4>
                                <div class="row form-group">
                                    <div class="col-md-2">
                                        <label class="form-label" for="id_provincia">Provincia: <span class="text-danger">*</span></label>
                                        {{ form.provincia }}
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label">Distrito: <span class="text-danger">*</span></label>
                                        {{ form.distrito }}
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Corregimiento: <span
                                                class="text-danger">*</span></label>
                                        {{ form.corregimiento }}
                                    </div>
                                    <div class="col-md-5">
                                        <label class="form-label">Descripción:</label>
                                        {{ form.direccion }}
                                    </div>
                                </div>
                                <!-- Octava fila -->
                                <hr class="mb-4">
                                <div class="row form-group">
                                    <div class="form-check col-md-7 mb-3">
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type='hidden' value='False' name='check_2'>
                                            {{ form.check_2 }}
                                            <label class="custom-control-label" for="id_check_2"><span
                                                    style="color:darkgreen;font-weight:bold">Procesar solicitud.</span></label>
                                        </div>
                                    </div>
                                    <div class="form-check col-md-7 mb-3">
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type='hidden' value='False' name='check_3'>
                                            {{ form.check_3 }}
                                            <label class="custom-control-label" for="id_check_3"><span
                                                    class="text-danger"
                                                    style="font-weight:bold;">Descartar Solicitud.</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer bg-gradient-gray-dark border border-dark">
                                <button class="w-10 btn-success btn border border-light" type="submit" id="btn-edit"><i
                                        class="far fa-save"></i> Guardar datos
                                </button>
                                <a href="{% url 'ventas:solicitudes_nuevas' %}"
                                   class="w-10 btn-danger border border-light btn"><i
                                        class="far fa-times-circle"></i> Cancelar</a>
                            </div>
                            <!-- /.card-footer-->
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'ventas/js/validations_2.js' %}"></script>
    <script src="{% static 'ventas/js/select_ajax.js' %}"></script>

    <script>

        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error',
                })
            {% endfor %}
        {% endif %}

    </script>
{% endblock %}
