{% extends 'base_1.html' %}
{% load static %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    <div class="card" style="background-color: #FFFAE4;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title }}</strong>
                            </h6>
                            <div class="card-tools">
                                <a href="{% url 'ventas:solicitudes_proceso' %}"
                                   class="btn btn-success border "><i class="fas fa-chevron-circle-left"></i>
                                    Regresar</a>
                            </div>

                        </div>

                        <div class="card-body border border-dark">

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Nombre del cliente</span>
                                            <h5><span class="info-box-number text-center mb-0 ">
                                                {% if form.nombre_2.value == None and form.apellido_2.value == None %}
                                                    {{ form.nombre_1.value }} {{ form.apellido_1.value }}
                                                {% elif form.nombre_2.value == None %}
                                                    {{ form.nombre_1.value }} {{ form.apellido_1.value }}
                                                    {{ form.apellido_2.value }}
                                                {% elif form.apellido_2.value == None %}
                                                    {{ form.nombre_1.value }} {{ form.nombre_2.value }}
                                                    {{ form.apellido_1.value }}
                                                {% else %}
                                                    {{ form.nombre_1.value }} {{ form.nombre_2.value }}
                                                    {{ form.apellido_1.value }} {{ form.apellido_2.value }}
                                                {% endif %}
                                            </span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Fecha de solicitud</span>
                                            <h6>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.creado_el.value }}
                                                </span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Monto solicitado</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    ${{ form.monto.value }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Plazo solicitado</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.plazo_meses.value }} meses
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Propósito del crédito</span>
                                            <h5><span class="info-box-number text-center mb-0">
                                                    {% if form.motivo.value == None %}
                                                        <span class="text-sm">Campo vacío</span>
                                                    {% else %}
                                                        {{ form.instance.motivo }}
                                                    {% endif %}
                                            </span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Tipo de documento</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.tipo_doc }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">DNI</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.dni.value }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Fecha de nacimiento</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.f_nacimiento.value }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Email</span>
                                            <h6><span class="info-box-number text-center mb-0">
                                                    {{ form.email_1.value }}
                                            </span></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Celular</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    <a href="https://wa.me/507{{ form.celular.value }}"
                                                       target="_blank" class="text-success"><i
                                                            class="fab fa-whatsapp"></i> {{ form.celular.value }}</a>
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Estado civil</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.e_civil }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Género</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.genero }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Dependientes</span>
                                            <h5><span class="info-box-number text-center mb-0">
                                                    {{ form.instance.dependientes }}
                                            </span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Tipo de ingreso</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.tipo_ingreso }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Salario</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    ${{ form.salario.value }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Empresa</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.empresa_1.value }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Ingresos Extra</span>
                                            <h5><span class="info-box-number text-center mb-0">
                                                    {{ form.instance.in_extras }}
                                            </span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Estudios</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.estudios }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">P.E.P.</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.p_expuesto }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Registro empresa</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if form.instance.empresa_2 == None %}
                                                        <span class="text-danger">Pendiente</span>
                                                    {% else %}
                                                        {{ form.instance.empresa_2 }}
                                                    {% endif %}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <h5><strong>Documentos:</strong></h5>
                            <div class="form-row">
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">DNI:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">

                                                   {% if form.instance.DNI_img == '' %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% else %}
                                                       <a href="/media/{{ form.instance.DNI_img }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% endif %}

                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Ficha</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">

                                                    {% if form.instance.ficha_img == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ form.instance.ficha_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}

                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Carta de trabajo:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">

                                                   {% if form.instance.carta_trabajo_img == '' %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% else %}
                                                       <a href="/media/{{ form.instance.carta_trabajo_img }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% endif %}

                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Talonario 1:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">

                                                    {% if form.instance.talonario_1_img == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ form.instance.talonario_1_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}

                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Talonario 2:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">

                                                   {% if form.instance.talonario_2_img == '' %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% else %}
                                                       <a href="/media/{{ form.instance.talonario_2_img }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% endif %}

                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Recibo público:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">

                                                    {% if form.instance.recibo_img == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ form.instance.recibo_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}

                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Carta de saldo:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">

                                                    {% if form.instance.carta_saldo_img == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ form.instance.carta_saldo_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}

                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">APC:</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if form.instance.file_apc == None or form.instance.file_apc == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ form.instance.file_apc }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h5><strong>Dirección:</strong></h5>

                            <div class="form-row">
                                <div class="col-12 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Provincia</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.provincia }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Distrito</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.distrito }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Corregimiento</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.corregimiento }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-5">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Descripción</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.direccion.value }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h5><strong>Notas:</strong></h5>
                            <div class="row">
                                <div class="col-12 col-sm-12 textarea ">
                                    {{ form.notas }}
                                </div>
                                <br>
                                <div class="col-12 col-sm-2">
                                    <button class="w-10 btn btn-success " type="submit"
                                            id="sub_empresas" name="notas_bt">
                                        Guardar notas
                                    </button>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <div class="row form-group">
                                {% if user.id in pre_aprobacion %}
                                    <div class="form-check col-md-7 mb-3">
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type='hidden' value='False' name='check_1'>
                                            {{ form.check_1 }}
                                            <label class="custom-control-label" for="id_check_1"><span
                                                    style="color:darkgreen;font-weight:bold">Pre-aprobar <span
                                                    class="text-primary">(ventas)</span>.</span></label>
                                        </div>
                                    </div>

                                    {% if request.user.username == 'guillermo.lemos' or request.user.username == 'vicente_rc' %}
                                        <div class="form-check col-md-7 mb-3">

                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type='hidden' value='False' name='check_3'>
                                                {{ form.check_3 }}
                                                <label class="custom-control-label" for="id_check_3"><span
                                                        style="color:darkgreen;font-weight:bold">Pre-aprobar <span
                                                        class="text-primary">(cumplimiento)</span>.</span></label>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="form-check col-md-7 mb-3">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type='hidden' value='False' name='check_2'>
                                        {{ form.check_2 }}
                                        <label class="custom-control-label" for="id_check_2"><span
                                                style="font-weight:bold"
                                                class="text-danger">Descartar </span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border border-dark bg-gradient-gray-dark">
                            <a href="{% url 'ventas:solicitudes_proceso' %}"
                               class="btn btn-success btn_test border border-light"><i
                                    class="fas fa-chevron-circle-left"></i>
                                Regresar
                            </a>
                            <a href="{{ editar }}" class="btn btn-info border border-light"><i
                                    class="fas fa-edit"></i> Editar</a>
                            <!-- Button trigger modal -->
                            {% if user.get_username == 'guillermo.lemos' or user.get_username == 'vicente_rc' %}
                                <button type="button" class="btn btn-warning border-light" data-toggle="modal"
                                    data-target="#modal_delete">
                                <i class="fas fa-exclamation-triangle"></i> Acciones adicionales
                            </button>
                            {% endif %}
                            <a href="{{ cotizar }}" class="btn btn-warning border border-light float-lg-right"><i
                                    class="fas fa-calculator"></i> Cotizar</a>
                        </div>
                        {% if user.get_username == 'guillermo.lemos' or user.get_username == 'vicente_rc' %}
                            <!-- Modal -->
                            <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-dark">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Acciones
                                                adicionales:</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h6 class="text-dark text-center"><b>Borrar documentos</b></h6>
                                            <hr>
                                            <div class="row row-cols-3 container-fluid">
                                                <div class="col-sm-4 text-center">
                                                    <button type="button" class="btn btn-outline-danger btn-block"
                                                            onclick="borrar_archivo('dni')">
                                                        DNI
                                                    </button>
                                                </div>
                                                <div class="col-sm-4 text-center">
                                                    <button type="button" class="btn btn-outline-danger btn-block"
                                                            onclick="borrar_archivo('c_trabajo')">
                                                        Carta de trabajo
                                                    </button>
                                                </div>
                                                <div class="col-sm-4 text-center">
                                                    <button type="button" class="btn btn-outline-danger btn-block"
                                                            onclick="borrar_archivo('talonario_1')">
                                                        Talonario #1
                                                    </button>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row row-cols-3 container-fluid">
                                                <div class="col-sm-4 text-center">
                                                    <button type="button" class="btn btn-outline-danger btn-block"
                                                            onclick="borrar_archivo('talonario_2')">
                                                        Talonario #2
                                                    </button>
                                                </div>
                                                <div class="col-sm-4 text-center">
                                                    <button type="button" class="btn btn-outline-danger btn-block"
                                                            onclick="borrar_archivo('ficha')">
                                                        Ficha
                                                    </button>
                                                </div>
                                                <div class="col-sm-4 text-center">
                                                    <button type="button" class="btn btn-outline-danger btn-block"
                                                            onclick="borrar_archivo('recibo')">
                                                        Recibo
                                                    </button>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row row-cols-3 container-fluid">
                                                <div class="col-sm-4 text-center">
                                                    <button type="button" class="btn btn-outline-danger btn-block"
                                                            onclick="borrar_archivo('c_saldo')">
                                                        Carta de saldo
                                                    </button>
                                                </div>
                                                <div class="col-sm-4 text-center">
                                                    <button type="button" class="btn btn-outline-danger btn-block"
                                                            onclick="borrar_archivo('apc')">
                                                        APC
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                    data-dismiss="modal"><i class="far fa-times-circle"></i> Cerrar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'ventas/js/scripts_ver.js' %}"></script>

    <script type="application/javascript">

        $(function () {
            $('button[name="notas_bt"]').on('click', function () {
                var notas = $('textarea[name="notas"]').val();
                console.log(notas);
                $.ajax({
                    url: window.location.pathname, //window.location.pathname
                    type: 'POST',
                    data: {
                        'action': 'comentar',
                        'nota': notas
                    },
                    dataType: 'json',
                }).done(function (data) {
                    console.log(data);
                    $.each(data[0], function (key, data) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: data,
                            showConfirmButton: false,
                            timer: 1200
                        })
                    })
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
            })
        });

    </script>

    <script type="application/javascript">
        function cumplimiento() {
            var action;
            if (document.getElementsByName('check_3')[1].checked) {
                action = 'cumplimiento';
            } else if (!document.getElementsByName('check_3')[1].checked) {
                action = 'cumplimiento_rt';
            }
            console.log(action)
            $.ajax({
                url: window.location.pathname, //window.location.pathname
                type: 'POST',
                data: {
                    'action': action,
                },
                dataType: 'json',
            }).done(function (data) {
                console.log(data);
                if (data.hasOwnProperty('completo')) {
                    document.getElementsByName('check_1')[1].checked = true;
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: data['completo'],
                        showConfirmButton: false,
                        timer: 1200
                    })
                } else if (data.hasOwnProperty('advertencia')) {
                    document.getElementsByName('check_1')[1].checked = true;
                    Swal.fire('Documentos incompletos. ' + data['advertencia']);
                } else if (data.hasOwnProperty('rt')) {
                    document.getElementsByName('check_1')[1].checked = false;
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        }

        function ventas() {
            var action;
            if (document.getElementsByName('check_1')[1].checked) {
                action = 'ventas';
            } else if (!document.getElementsByName('check_1')[1].checked) {
                action = 'ventas_rt';
            }
            console.log(action)
            $.ajax({
                url: window.location.pathname, //window.location.pathname
                type: 'POST',
                data: {
                    'action': action,
                },
                dataType: 'json',
            }).done(function (data) {
                console.log(data);
                if (data.hasOwnProperty('completo')) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: data['completo'],
                        showConfirmButton: false,
                        timer: 1200
                    })
                } else if (data.hasOwnProperty('advertencia')) {
                    Swal.fire(data['advertencia']);
                    document.getElementsByName('check_1')[1].checked = false;
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        }

        function descartar() {
            if (document.getElementsByName('check_2')[1].checked) {
                Swal.fire({
                    title: '¿Desea descartar la solicitud?',
                    text: "La solicitud pasará a la sección de descartadas.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, descartar!'
                }).then((result) => {
                    document.getElementsByName('check_2')[1].checked = true;
                    if (result.isConfirmed) {
                        $.ajax({
                            url: window.location.pathname, //window.location.pathname
                            type: 'POST',
                            data: {
                                'action': 'descartar',
                            },
                            dataType: 'json',
                        }).done(function (data) {
                            Swal.fire(
                                '¡Descartado!',
                                'La solicitud se pasó a la sección de descartadas.',
                                'success'
                            );
                            return false;
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            alert(textStatus + ': ' + errorThrown);
                        }).always(function (data) {

                        });
                    }
                })
                document.getElementsByName('check_2')[1].checked = false;
            } else if (!document.getElementsByName('check_2')[1].checked) {
                $.ajax({
                    url: window.location.pathname, //window.location.pathname
                    type: 'POST',
                    data: {
                        'action': 'descartar_rt',
                    },
                    dataType: 'json',
                }).done(function (data) {
                    console.log('descartar_rt')
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
            }
        }
    </script>

{% endblock %}