{% extends 'base_datatable.html' %}
{% load static %}

{% block script_head %}
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>

{% endblock %}

{% block table_header %}
    <h6 class="card-title text-lg"><strong>{{ card_title }}</strong>
    </h6>
{% endblock %}

{% block table_body %}

    <table class="table table-hover table-head-fixed" id="{{ table_name }}">
        <thead>
        <tr>
            <th scope="col" style="width: 10%;">Nro</th>
            <th scope="col" style="width: 15%;">Nombre</th>
            <th scope="col" style="width: 15%;">Apellido</th>
            <th scope="col" style="width: 12%;">Tipo ingreso</th>
            {% if table_name == 'proceso' %}
                <th scope="col" style="width: 15%;">Ingreso</th>
                <th scope="col" style="width: 10%;">Procesó</th>
                <th scope="col" style="width: 10%;">Documentos</th>
            {% else %}
                <th scope="col" style="width: 10%;">Monto</th>
                <th scope="col" style="width: 8%;">Mes S.</th>
                <th scope="col" style="width: 10%;">Procesó</th>
                <th scope="col" style="width: 10%;">Celular</th>
            {% endif %}
            <th scope="col" style="width: 10%;">Opciones</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
        {% if table_name == 'tabla_ligeras' %}
            <tfoot>
            <tr>
                <td colspan="3"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2"></td>
            </tr>
            </tfoot>
        {% endif %}

    </table>
    {% if table_name == 'tabla_ligeras' %}
        <form id="token_form">
            {% csrf_token %}
        </form>
        <!-- Modal Agregar solicitud rápida -->
        <div class="modal fade" id="modal_agregar" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <form id="modal_ligera">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header bg-secondary">
                            <h5 class="modal-title" id="exampleModalLongTitle">Agregar solicitud rápida</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container container-fluid">
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="id_nombre_1">Primer nombre<span
                                                class="text-danger">*</span>:</label>
                                        {{ form.nombre_1 }}
                                    </div>
                                    <div class="col-sm-6 selectContainer">
                                        <label for="id_nombre_2">Segundo nombre:</label>
                                        {{ form.nombre_2 }}
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="id_nombre_1">Primer apellido<span
                                                class="text-danger">*</span>:</label>
                                        {{ form.apellido_1 }}
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="id_apellido_1">Segundo apellido:</label>
                                        {{ form.apellido_2 }}
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="id_nombre_1">Tipo de documento <span
                                                class="text-danger">*</span>:</label>
                                        {{ form.tipo_documento }}
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="id_apellido_1">DNI <span class="text-danger">*</span>:</label>
                                        {{ form.dni }}
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="id_nombre_1">Email:</label>
                                        {{ form.email_1 }}
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="id_apellido_1">Celular <span class="text-danger">*</span>:</label>
                                        {{ form.celular }}
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="id_nombre_1">Monto solicitado <span
                                                class="text-danger">*</span>:</label>
                                        {{ form.monto }}
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="id_apellido_1">Plazo <span class="text-danger">*</span>:</label>
                                        {{ form.plazo_meses }}
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="id_nombre_1">Tipo de ingreso <span
                                                class="text-danger">*</span>:</label>
                                        {{ form.tipo_ingreso }}
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="id_salario">Salario <span class="text-danger">*</span>:</label>
                                        {{ form.salario }}
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="id_cancelaciones">Cancelaciones:</label>
                                        {{ form.cancelaciones }}
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="id_promotor">Promotor:</label>
                                        {{ form.promotor }}
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="id_c_promotor">C. de promotor:</label>
                                        {{ form.c_promotor }}
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="id_s_descuento">S. de descuento:</label>
                                        {{ form.s_descuento }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" form="modal_ligera" class="btn btn-primary"><i
                                    class="far fa-save"></i> Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal Editar solicitud rápida -->
        <div class="modal fade" id="modal_ver" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <form id="form_ver">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header bg-secondary">
                            <h5 class="modal-title" id="exampleModalLongTitle">Ver/editar solicitud rápida</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container container-fluid">
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-12">
                                        <i>Fecha de ingreso: </i><b class="text-primary" id="ver_fecha"></b>
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <input type="hidden" id="id_solicitud">
                                    <div class="col-sm-6">
                                        <label for="ver_nombre_1">Primer nombre<span
                                                class="text-danger">*</span>:</label>
                                        <input type="text" name="nombre_1" class="form-control form-control-sm"
                                               placeholder="Ingrese nombre" autocomplete="off" maxlength="20"
                                               required=""
                                               id="ver_nombre_1">
                                    </div>
                                    <div class="col-sm-6 selectContainer">
                                        <label for="ver_nombre_2">Segundo nombre:</label>
                                        <input type="text" name="nombre_2" class="form-control form-control-sm"
                                               placeholder="Ingrese nombre" autocomplete="off" maxlength="20"
                                               required=""
                                               id="ver_nombre_2">
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="ver_apellido_1">Primer apellido<span
                                                class="text-danger">*</span>:</label>
                                        <input type="text" name="apellido_1" class="form-control form-control-sm"
                                               placeholder="Ingrese apellido" autocomplete="off" maxlength="20"
                                               required=""
                                               id="ver_apellido_1">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="ver_apellido_2">Segundo apellido:</label>
                                        <input type="text" name="apellido_2" class="form-control form-control-sm"
                                               placeholder="Ingrese apellido" autocomplete="off" maxlength="20"
                                               required=""
                                               id="ver_apellido_2">
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="ver_tipo_documento">Tipo de documento <span
                                                class="text-danger">*</span>:</label>
                                        <select name="tipo_documento" class="form-control form-control-sm"
                                                autocomplete="off" required="" id="ver_tipo_documento">
                                            <option value="" selected="">---------</option>
                                            <option value="1">Cédula</option>
                                            <option value="2">Pasaporte</option>
                                            <option value="3">Licencia de conducir</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="ver_dni">DNI <span class="text-danger">*</span>:</label>
                                        <input type="text" name="dni" class="form-control form-control-sm"
                                               placeholder="Ingrese apellido" autocomplete="off" maxlength="25"
                                               required=""
                                               id="ver_dni">
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="ver_email_1">Email:</label>
                                        <input type="text" name="email_1" class="form-control form-control-sm"
                                               placeholder="Ingrese email" autocomplete="off" maxlength="254"
                                               required=""
                                               id="ver_email_1">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="ver_celular">Celular <span class="text-danger">*</span>:</label>
                                        <input type="text" name="celular" class="form-control form-control-sm"
                                               placeholder="Ingrese celular" autocomplete="off" required=""
                                               id="ver_celular">
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="ver_monto">Monto solicitado <span
                                                class="text-danger">*</span>:</label>
                                        <input type="number" name="monto" class="form-control form-control-sm"
                                               autocomplete="off" min="300" placeholder="3500.00" maxlength="40"
                                               required=""
                                               id="ver_monto">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="ver_plazo_meses">Plazo <span class="text-danger">*</span>:</label>
                                        <input type="number" name="plazo_meses" class="form-control form-control-sm"
                                               autocomplete="off" min="6" placeholder="30" maxlength="40" required=""
                                               id="ver_plazo_meses">
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="ver_tipo_ingreso">Tipo de ingreso <span
                                                class="text-danger">*</span>:</label>
                                        <select name="tipo_ingreso" class="form-control form-control-sm"
                                                autocomplete="off"
                                                required="" id="ver_tipo_ingreso">
                                            <option value="" selected="">---------</option>
                                            <option value="1">Empresa privada</option>
                                            <option value="2">Empresa pública</option>
                                            <option value="3">Independiente</option>
                                            <option value="4">Jubilado</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="ver_salario">Salario <span class="text-danger">*</span>:</label>
                                        <input type="number" name="salario" class="form-control form-control-sm"
                                               autocomplete="off" min="300" placeholder="500" required=""
                                               id="ver_salario">
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group">
                                    <div class="col-sm-6">
                                        <label for="ver_cancelaciones">Cancelaciones:</label>
                                        <input type="text" name="cancelaciones" class="form-control form-control-sm"
                                               placeholder="Rapicash: 200.50, Rapi..." autocomplete="off"
                                               maxlength="200"
                                               id="ver_cancelaciones">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="ver_promotor">Promotor:</label>
                                        <input type="text" name="promotor" class="form-control form-control-sm"
                                               placeholder="Mar del Sojo..." autocomplete="off" maxlength="110"
                                               id="ver_promotor">
                                    </div>
                                </div>
                                <div class="row row-cols-2 form-group fv-plugins-icon-container">
                                    <div class="col-sm-6">
                                        <label for="ver_c_promotor">C. de promotor:</label>
                                        <select name="c_promotor" class="form-control form-control-sm"
                                                autocomplete="off"
                                                id="ver_c_promotor">
                                            <option value="">---------</option>
                                            <option value="0" selected="">0%</option>
                                            <option value="2">2.0%</option>
                                            <option value="2.5">2.5%</option>
                                            <option value="3">3.0%</option>
                                            <option value="3.25">3.25%</option>
                                            <option value="3.5">3.5%</option>
                                            <option value="3.75">3.75%</option>
                                            <option value="4">4.0%</option>
                                            <option value="4.25">4.25%</option>
                                            <option value="4.5">4.5%</option>
                                            <option value="4.75">4.75%</option>
                                            <option value="5">5.0%</option>
                                            <option value="7">7.0%</option>
                                        </select><i data-field="c_promotor" class="fv-plugins-icon"></i>
                                        <div class="fv-plugins-message-container"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="ver_s_descuento">S. de descuento:</label>
                                        <select name="s_descuento" class="form-control form-control-sm"
                                                autocomplete="off"
                                                id="ver_s_descuento">
                                            <option value="">---------</option>
                                            <option value="0" selected="">0%</option>
                                            <option value="2">2%</option>
                                            <option value="3">3%</option>
                                            <option value="4">4%</option>
                                        </select><i data-field="s_descuento" class="fv-plugins-icon"></i>
                                        <div class="fv-plugins-message-container"></div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 form-group">
                                    <div class="col-sm-12">
                                        <label for="ver_notas" class="col-form-label">Notas:</label>
                                        <textarea class="form-control" id="ver_notas" name="notas"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button onclick="ampliar_solicitud()" type="button" class="btn btn-warning"><i
                                    class="fas fa-share-square"></i> Ampliar solicitud
                            </button>
                            <button type="button" onclick="descartar_ligera()" class="btn btn-danger"><i
                                    class="far fa-times-circle"></i> Descartar
                            </button>
                            <button type="submit" form="modal_ligera" class="btn btn-primary"><i
                                    class="far fa-save"></i> Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script src="{% static 'ventas/js/solicitudes_ligeras.js' %}"></script>

    {% endif %}

{% endblock %}

{% block table_footer %}
    <!-- Button trigger modal -->
    {% if table_name == 'tabla_ligeras' %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_agregar">
            <i class="fas fa-plus-circle"></i> Agregar solicitud
        </button>
    {% endif %}
{% endblock %}

