{% extends 'base_1.html' %}
{% load static %}

{% block script_head %}
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>

    <style>
        {#//  Customize the icon's position#}
        .fv-plugins-bootstrap .form-group.inputGroupContainer .fv-plugins-icon,
        .fv-plugins-bootstrap .form-group.selectContainer .fv-plugins-icon {
            right: 70px;
        }
    </style>

{% endblock %}

{% block content_base %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    {% if pass_todos == '1' or form.check_1.value == '0' or form.check_1.value == False or request.user.username == 'guillermo.lemos' or request.user.username == 'vicente_rc' %}
                        <div class="card" style="background-color: #e6ffde;">
                            <form id="edit_proceso" enctype="multipart/form-data">
                                <div class="card-header bg-gradient-gray-dark border border-dark">
                                    <h6 class="card-title text-lg"><strong>{{ card_title }}</strong>
                                    </h6>
                                    <div class="card-tools">
                                        <small><span class="text-danger">*</span> Obligatorio</small>
                                    </div>
                                </div>

                                <div class="card-body border border-dark">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="{{ action }}">
                                    <input type="hidden" name="id_form" id="id_form" value="{{ id_form }}">
                                    <!-- Primera fila -->
                                    <div class="row form-group">
                                        <div class="col-md-3 mb-3">
                                            <label class="form-label">Primer nombre: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.nombre_1 }}
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label class="form-label">Segundo nombre:</label>
                                            {{ form.nombre_2 }}
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label class="form-label">Primer apellido: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.apellido_1 }}
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label class="form-label">Segundo apellido:</label>
                                            {{ form.apellido_2 }}
                                        </div>
                                    </div>
                                    <!-- Segunda fila -->
                                    <div class="row form-group">

                                        <div class="col-md-3 mb-3">
                                            <label class="form-label">Tipo de documento: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.tipo_doc }}
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label class="form-label">Núm. de ID: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.dni }}
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label class="form-label">Nacionalidad: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.nacionalidad }}
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label class="form-label">F. de Nacimiento: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.f_nacimiento }}
                                        </div>

                                    </div>
                                    <!-- Tercera fila -->
                                    <div class="row form-group">
                                        <div class="col-md-3 mb-3">
                                            <label class="form-label">Celular: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.celular }}
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label class="form-label">Email: <span class="text-danger">*</span></label>
                                            {{ form.email_1 }}
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <label class="form-label">Estado civil: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.e_civil }}
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <label class="form-label">Género: <span class="text-danger">*</span></label>
                                            {{ form.genero }}
                                        </div>

                                    </div>
                                    <!-- Cuarta fila -->
                                    <div class="row form-group">
                                        <div class="col-md-2 mb-3">
                                            <label class="form-label">Dependientes: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.dependientes }}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Tipo de ingreso: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.tipo_ingreso }}
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Salario: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.salario }}
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Ingresos extra: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.in_extras }}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Estudios: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.estudios }}
                                        </div>
                                    </div>
                                    <!-- Quinta fila -->
                                    <div class="row form-group">
                                        <div class="col-md-5">
                                            <label class="form-label">Empresa: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.empresa_1 }}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Registro empresa:</label>
                                            {{ form.empresa_2 }}
                                        </div>

                                        <div class="col-md-2">
                                            <label class="form-label">P.E.P.: <span class="text-danger">*</span></label>
                                            {{ form.p_expuesto }}
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Monto: <span class="text-danger">*</span></label>
                                            {{ form.monto }}
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Plazo (meses): <span
                                                    class="text-danger">*</span></label>
                                            {{ form.plazo_meses }}
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Motivo del préstamo: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.motivo }}
                                        </div>
                                    </div>
                                    <!-- Sexta fila -->
                                    <div class="row form-group">

                                    </div>
                                    <!-- Séptima fila -->
                                    <hr class="mb-4 form-group">
                                    <h4><strong>Dirección:</strong></h4>
                                    <div class="row form-group">
                                        <div class="col-md-2">
                                            <label class="form-label">Provincia: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.provincia }}
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Distrito: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.distrito }}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Corregimiento: <span
                                                    class="text-danger">*</span></label>
                                            {{ form.corregimiento }}
                                        </div>
                                        <div class="col-md-5">
                                            <label class="form-label">Descripción:</label>
                                            {{ form.direccion }}
                                        </div>
                                    </div>

                                    <hr class="mb-4 form-group">
                                    <h4><strong>Documentos:</strong></h4>
                                    <!-- Octava fila -->
                                    <div class="row form-group inputGroupContainer">
                                        <div class="col-md-4">
                                            <label for="id_DNI_img" class="form-label">Cédula:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon1">Cargar <input type="file" name="DNI_img"
                                                                                            id="id_DNI_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>
                                                {% if object.DNI_img.name %}
                                                    <span id="dni_span" type="text" class="form-control text-orange"
                                                          aria-describedby="button-addon1">{{ object.dni_name }}</span>
                                                {% else %}
                                                    <span id="dni_span" type="text" class="form-control"
                                                          aria-describedby="button-addon1">Buscar archivo...</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_carta_trabajo_img">Carta de trabajo:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon2">Cargar <input type="file"
                                                                                            name="carta_trabajo_img"
                                                                                            id="id_carta_trabajo_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>
                                                {% if object.carta_trabajo_img.name %}
                                                    <span id="carta_trabajo_span" type="text"
                                                          class="form-control text-orange"
                                                          aria-describedby="button-addon1">{{ object.carta_trabajo_name }}</span>
                                                {% else %}
                                                    <span id="carta_trabajo_span" type="text" class="form-control"
                                                          aria-describedby="button-addon2">Buscar archivo...</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_talonario_1_img">Copia talonario #1:</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon3">Cargar <input type="file"
                                                                                            name="talonario_1_img"
                                                                                            id="id_talonario_1_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>
                                                {% if object.talonario_1_img.name %}
                                                    <span id="talonario_1_span" type="text"
                                                          class="form-control text-orange"
                                                          aria-describedby="button-addon3">{{ object.talonario_1_name }}</span>
                                                {% else %}
                                                    <span id="talonario_1_span" type="text" class="form-control"
                                                          aria-describedby="button-addon3">Buscar archivo...</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Octava fila -->
                                    <div class="row form-group inputGroupContainer">
                                        <div class="col-md-4">
                                            <label for="id_talonario_2_img">Copia talonario #2:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon4">Cargar <input type="file"
                                                                                            name="talonario_2_img"
                                                                                            id="id_talonario_2_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>
                                                {% if object.talonario_2_img.name %}
                                                    <span id="talonario_2_span" type="text"
                                                          class="form-control text-orange"
                                                          aria-describedby="button-addon4">{{ object.talonario_2_name }}</span>
                                                {% else %}
                                                    <span id="talonario_2_span" type="text" class="form-control"
                                                          aria-describedby="button-addon4">Buscar archivo...</span>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="id_ficha_img">Ficha CSS:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon5">Cargar <input type="file" name="ficha_img"
                                                                                            id="id_ficha_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>
                                                {% if object.ficha_img.name %}
                                                    <span id="ficha_span" type="text" class="form-control text-orange"
                                                          aria-describedby="button-addon5">{{ object.ficha_name }}</span>
                                                {% else %}
                                                    <span id="ficha_span" type="text" class="form-control"
                                                          aria-describedby="button-addon5">Buscar archivo...</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_recibo_img">Recibo de servicio público:</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon6">Cargar <input type="file"
                                                                                            name="recibo_img"
                                                                                            id="id_recibo_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>
                                                {% if object.recibo_img.name %}
                                                    <span id="recibo_span" type="text" class="form-control text-orange"
                                                          aria-describedby="button-addon6">{{ object.recibo_name }}</span>
                                                {% else %}
                                                    <span id="recibo_span" type="text" class="form-control"
                                                          aria-describedby="button-addon6">Buscar archivo...</span>
                                                {% endif %}
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row form-group inputGroupContainer">
                                        <div class="col-md-4">
                                            <label for="id_carta_saldo_img">Carta de saldo <span
                                                    class="text-primary">(si aplica)</span>:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                           type="button"
                                                           id="button-addon7">Cargar <input type="file"
                                                                                            name="carta_saldo_img"
                                                                                            id="id_carta_saldo_img"
                                                                                            accept="image/*,application/pdf"
                                                                                            hidden>
                                                    </label>
                                                </div>
                                                {% if object.carta_saldo_img.name %}
                                                    <span id="c_saldo_span" type="text" class="form-control text-orange"
                                                          aria-describedby="button-addon7">{{ object.carta_saldo_name }}</span>
                                                {% else %}
                                                    <span id="c_saldo_span" type="text" class="form-control"
                                                          aria-describedby="button-addon7">Buscar archivo...</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if user.id in file_apc %}
                                            <div class="col-md-4">
                                                <label for="id_file_apc">APC:</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                               type="button"
                                                               id="button-addon8">Cargar <input type="file"
                                                                                                name="file_apc"
                                                                                                id="id_file_apc"
                                                                                                accept="application/pdf"
                                                                                                hidden>
                                                        </label>
                                                    </div>
                                                    {% if object.file_apc.name %}
                                                        <span id="apc_file_span" type="text"
                                                              class="form-control text-orange"
                                                              aria-describedby="button-addon8">{{ object.file_apc_name }}</span>
                                                    {% else %}
                                                        <span id="apc_file_span" type="text" class="form-control"
                                                              aria-describedby="button-addon8">Buscar archivo...</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <!-- Novena fila -->


                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer bg-gradient-gray-dark border border-dark">
                                    <button class="w-10 btn-success btn border border-light" type="submit"
                                            id="btn-proceso">
                                        <i class="far fa-save"></i> Guardar datos
                                    </button>
                                    {% if botón_cancelar == 'off' %}

                                    {% else %}
                                        <a href="{% url 'ventas:ver_solicitudes_proceso' id_form %}"
                                           class="w-10 btn-danger border border-light btn"><i
                                                class="far fa-times-circle"></i> Cancelar</a>
                                    {% endif %}

                                </div>
                                <!-- /.card-footer-->
                            </form>
                        </div>
                    {% else %}
                        <div class="card text-center">
                            <div class="card-header">
                                --------------
                            </div>
                            <div class="card-body">
                                <p class="card-text h1">No tiene permitido ver esta sección.</p>
                                <a href="{% url 'dashboard' %}" class="btn btn-primary">Ir a inicio</a>
                            </div>
                            <div class="card-footer text-muted">
                                --------------
                            </div>
                        </div>
                    {% endif %}
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'ventas/js/validations_4.js' %}"></script>
    <script src="{% static 'ventas/js/select_ajax.js' %}"></script>
    <script src="{% static 'ventas/js/process_img.js' %}"></script>

    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <script>

        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error',
                })
            {% endfor %}
        {% endif %}

    </script>



{% endblock %}

