{% extends 'base_1.html' %}

{% load static %}

{% block script_head %}
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>

{% endblock %}


{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    <div class="card" style="background-color: #FFFAE4;">

                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title }}</strong>
                            </h6>
                            <div class="card-tools">
                                <a href="{{ regresar }}"
                                   class="btn btn-success border "><i class="fas fa-chevron-circle-left"></i>
                                    Regresar</a>
                            </div>

                        </div>

                        <div class="card-body border border-dark">

                            <div class="container">

                                <div class="row">
                                    <div class="col-md-4 order-md-2 mb-4">

                                        <div class="card">
                                            <div class="card-header">
                                                <h4><strong><i class="fas fa-calculator"></i> Calculadora</strong></h4>
                                            </div>
                                            <div class="card-body">
                                                <p class="text-center">
                                                    <button class="btn btn-info" type="button" data-toggle="collapse"
                                                            data-target="#collapse_1" aria-expanded="false"
                                                            aria-controls="collapse_1"><i
                                                            class="fas fa-calculator"></i> Calcular cuota y obligación
                                                    </button>
                                                </p>
                                                <div class="collapse row" id="collapse_1">
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label for="monto_1" class="text-indigo">Monto:</label>
                                                                <input type="number"
                                                                       class="form-control form-control-sm border-dark"
                                                                       id="monto_1" aria-describedby="text_help_1">
                                                                <small id="text_help_1" class="form-text text-muted">Solicitado
                                                                    por el cliente.</small>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label for="plazo_1" class="text-indigo">Plazo:</label>
                                                                <input type="number"
                                                                       class="form-control form-control-sm border-dark"
                                                                       id="plazo_1" aria-describedby="text_help_2">
                                                                <small id="text_help_2" class="form-text text-muted">En
                                                                    meses.</small>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label for="inicio_1"
                                                                       class="text-indigo">Inicio:</label>
                                                                <input type="text" name="inicio_1"
                                                                       class="form-control form-control-sm border-dark datepicker"
                                                                       id="inicio_1" aria-describedby="text_help_3">
                                                                <small id="text_help_3" class="form-text text-muted">Inicio
                                                                    de los pagos.</small>
                                                            </div>
                                                            <div class="col-sm-6 text-center my-auto">
                                                                <button id="calcular_1" class="btn btn-primary float-">
                                                                    Calcular
                                                                </button>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label for="plazo_1">Cuota</label>
                                                                <span class="form-control form-control-sm"
                                                                      aria-describedby="text_help_4"
                                                                      id="cuota_1"> --- </span>
                                                                <small id="text_help_4" class="form-text text-muted">Quincenal.</small>
                                                                {#                                                        <input type="number" class="form-control form-control-sm"#}
                                                                {#                                                               id="plazo_1">#}
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label for="plazo_1">Obligación</label>
                                                                <span class="form-control form-control-sm"
                                                                      id="obligacion_1"> --- </span>
                                                                {#                                                        <input type="number" class="form-control form-control-sm"#}
                                                                {#                                                               id="plazo_1">#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <p class="text-center">
                                                    <button class="btn btn-info" type="button" data-toggle="collapse"
                                                            data-target="#collapse_2" aria-expanded="false"
                                                            aria-controls="collapse_2"><i
                                                            class="fas fa-calculator"></i>
                                                        Calcular monto y obligación
                                                    </button>
                                                </p>
                                                <div class="collapse row" id="collapse_2">
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label for="cuota_2" class="text-indigo">Cuota:</label>
                                                                <input type="number"
                                                                       class="form-control form-control-sm border-dark"
                                                                       id="cuota_2" aria-describedby="text_help_5">
                                                                <small id="text_help_5" class="form-text text-muted">Quincenal.</small>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label for="plazo_2" class="text-indigo">Plazo:</label>
                                                                <input type="number"
                                                                       class="form-control form-control-sm border-dark"
                                                                       id="plazo_2" aria-describedby="text_help_6">
                                                                <small id="text_help_6" class="form-text text-muted">En
                                                                    meses.</small>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label for="inicio_2"
                                                                       class="text-indigo">Inicio:</label>
                                                                <input type="text" name="inicio_2"
                                                                       class="form-control form-control-sm border-dark datepicker"
                                                                       id="inicio_2" aria-describedby="text_help_7">
                                                                <small id="text_help_7" class="form-text text-muted">Inicio
                                                                    de los pagos.</small>
                                                            </div>
                                                            <div class="col-sm-6 text-center my-auto">
                                                                <button id="calcular_2" class="btn btn-primary float-">
                                                                    Calcular
                                                                </button>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label for="plazo_1">Monto</label>
                                                                <span class="form-control form-control-sm" id="monto_2"> --- </span>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label for="plazo_1">Obligación</label>
                                                                <span class="form-control form-control-sm" id="obligacion_2"> --- </span>
                                                                {#                                                        <input type="number" class="form-control form-control-sm"#}
                                                                {#                                                               id="plazo_1">#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-8 order-md-1">

                                        <form method="post" action="." id="form_cotizador">
                                            {% csrf_token %}
                                            <input type="hidden" name="action" value="{{ action }}">
                                            <input type="hidden" name="id_modelo" id="id_modelo" value="{{ id_form }}">
                                            <div class="row form-group">
                                                <div class="col-md-3 mb-3">
                                                    <label class="form-label">Monto a cotizar: <span
                                                            class="text-danger">*</span></label>
                                                    {{ form.monto }}
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label class="form-label">Plazo a cotizar: <span
                                                            class="text-danger">*</span></label>
                                                    {{ form.plazo_meses }}
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label class="form-label" for="inicio_pagos">Inicio de los
                                                        pagos: </label>
                                                    <input type="text" name="inicio_pagos"
                                                           class="form-control datepicker" id="inicio_pagos">
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label class="form-label" for="compra_saldo">Compras de
                                                        saldo: </label>
                                                    <input type="number" name="compra_saldo"
                                                           class="form-control" id="compra_saldo">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-4 mb-3">
                                                    <button class="btn btn-primary btn-" type="submit" id="cotizar"><i
                                                            class="fas fa-cogs"></i> Generar cotización
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                        <hr>
                                        <h5><strong>Notas:</strong></h5>
                                        <div class="row">
                                            <div class="col-8 col-sm-10 textarea ">
                                                {{ form.notas }}
                                            </div>
                                            <br>
                                            <div class="col-8 col-sm-2">
                                                <button class="w-10 btn btn-success " type="submit"
                                                        id="guardar" name="guardar">
                                                    Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>

                        <div class="card-footer border border-dark bg-gradient-gray-dark">
                            <a href="{{ regresar }}"
                               class="btn btn-success btn_test border border-light"><i
                                    class="fas fa-chevron-circle-left"></i>
                                Regresar
                            </a>
                            <a href="{{ editar }}" class="btn btn-info border border-light"><i
                                    class="fas fa-edit"></i> Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'ventas/js/v_cotizador.js' %}"></script>

    <script>
        $(function () {
            $("#inicio_1").datepicker({
                format: 'yyyy/mm/dd',
                autoclose: true,
            });
        });

        $(function () {
            $("#inicio_2").datepicker({
                format: 'yyyy/mm/dd',
                autoclose: true,
            });
        });
    </script>

    <script type="application/javascript">

        $(function () {
            $('button[name="guardar"]').on('click', function () {
                var notas = $('textarea[name="notas"]').val();
                console.log(notas);
                $.ajax({
                    url: window.location.pathname, //window.location.pathname
                    type: 'POST',
                    data: {
                        'action': 'comentar',
                        'nota': notas
                    },
                    dataType: 'json',
                }).done(function (data) {
                    console.log(data);
                    $.each(data[0], function (key, data) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: data,
                            showConfirmButton: false,
                            timer: 1200
                        })
                    })
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
            })
        });

    </script>

    <script>
        $(document).ready(function () {
            $('#calcular_1').on('click', function () {
                let ajuste, mes_extra;
                let fecha_temp = document.getElementById("inicio_1");
                let monto = parseInt(document.getElementById("monto_1").value, 10);
                let plazo = parseInt(document.getElementById("plazo_1").value, 10);
                let temp = Date.parse(fecha_temp.value);
                let fecha = new Date(temp);
                if (fecha.getMonth() === 11) {
                    temp = Date.parse((fecha.getFullYear() + 1).toString() + "-1" + "-15");
                    fecha = new Date(temp);
                }
                let dia = fecha.getDate();
                if (dia > 15) {
                    ajuste = 0.5;
                } else {
                    ajuste = 0;
                }
                mes_extra = Math.floor(((fecha.getMonth() + plazo + ajuste) / 12 + plazo + fecha.getMonth() + ajuste) / 12);
                let total_meses = plazo + mes_extra;
                let monto_prestamo = monto + monto * 0.5 + monto * 0.02 * total_meses + monto * (0.035 + 0.025) * total_meses / 12 + total_meses * 1.25 + 12;
                console.log(monto_prestamo)
                let cuota_q = monto_prestamo / (plazo*2);
                let cuota_m = cuota_q.toFixed(2)*2;
                /*console.log(mes_extra);
                console.log(ajuste)
                console.log(fecha_temp)*/
                console.log(fecha)
                document.getElementById("cuota_1").innerHTML = "<strong>" + "$ " + cuota_m.toString() + "</strong>";
                document.getElementById("obligacion_1").innerHTML = '<strong>' + "$ " + monto_prestamo.toString() + '</strong>';
                /*document.getElementById("cuota_1").innerHTML = "$" + z.toFixed(2);
                $('#id_DNI_img').val('');
                $('#id_ficha_img').val('');*/
            });
        });

    </script>

    <script>
        $(document).ready(function () {
            $('#calcular_2').on('click', function () {
                let ajuste, mes_extra, monto_prestamo;
                let fecha_temp = document.getElementById("inicio_2").value;
                let cuota = parseFloat(document.getElementById("cuota_2").value, 10);
                let plazo = parseInt(document.getElementById("plazo_2").value, 10);
                let temp = Date.parse(fecha_temp);
                let fecha = new Date(temp);
                if (fecha.getMonth() === 11) {
                    temp = Date.parse((fecha.getFullYear() + 1).toString() + "-1" + "-15");
                    fecha = new Date(temp);
                }
                let dia = fecha.getDate();
                if (dia > 15) {
                    ajuste = 0.5;
                } else {
                    ajuste = 0;
                }
                mes_extra = Math.floor(((fecha.getMonth() + plazo + ajuste) / 12 + plazo + fecha.getMonth() + ajuste) / 12);
                console.log(mes_extra);
                monto_prestamo = cuota*plazo;
                let total_meses = plazo + mes_extra;
                let monto = ((monto_prestamo - total_meses*1.25 - 12)/((0.06*total_meses)/12 + 1 + 0.02*total_meses + 0.5));
                console.log(monto_prestamo)
                /*console.log(mes_extra);
                console.log(ajuste)
                console.log(fecha_temp)*/
                console.log(fecha)
                document.getElementById("monto_2").innerHTML = "<strong>" + "$ " + monto.toFixed(2).toString() + "</strong>";
                document.getElementById("obligacion_2").innerHTML = '<strong>' + "$ " + monto_prestamo.toString() + '</strong>';
                /*document.getElementById("cuota_1").innerHTML = "$" + z.toFixed(2);
                $('#id_DNI_img').val('');
                $('#id_ficha_img').val('');*/
            });
        });

    </script>

{% endblock %}