<!DOCTYPE html>
<html lang="es">
<head>
    <title>Cotización {{ nombre }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .t-text {
            font-size: 14px;
        }

        .mod-row {
            border-bottom: 4px solid white;
            font-size: 14px;
        }

        .mod-tr {
            line-height: 12px;
            min-height: 20px;
            height: 32px;
            font-size: 14px;
        }

    </style>
</head>
<body>

<div class="container">
    <div style="max-width: available;">
        <table class="table table-borderless" style='color: #002060; text-align: left; '>
            <tr class="t-text">
                <th style="width:5%"></th>
                <td style="width:70%"><h3>{{ fecha_enc }}</h3></td>
                <th rowspan="2" style="width:20%" class="text-center mid"><a href='https://rapi-cashpanama.com/'>
                    <img alt=''
                         src='https://rapi-cashpanama.com/wp-content/uploads/2018/06/Logo-Verde-OverW.png'
                         class="img-fluid w-100">
                </a>
                </th>
                <th style="width:5%"></th>
            </tr>

            <tr class="t-text">
                <td></td>
                <th>¡{{ saludo }} {{ nombre }}!</th>
                <td></td>
            </tr>

            <tr class="t-text">
                <td></td>
                <td colspan="2">Te enviamos este documento en seguimiento de tu solicitud de crédito.</td>
                <td></td>
            </tr>

            <tr class="t-text">
                <td></td>
                <td colspan="2">Los detalles de la cotización de tu préstamo los puedes ver a continuación:</td>
                <td></td>
            </tr>

        </table>

        <table class="table table-borderless">
            <tr>
                <td style="width:10%"></td>
                <td class="mod-row" style="background-color: #85ca3a; color: #10245f;width:10%"></td>
                <td class="text-left mod-row" style="background-color: #85ca3a; color: #10245f;width:35%">
                    <strong>Monto a aprobar :</strong></td>
                <td class="text-center mod-row fw-bold" style="background-color: #85ca3a; color: #10245f;width:10%">$
                </td>
                <td class="text-left mod-row" style="background-color: #85ca3a; color: #10245f;width:25%">
                    <strong>{{ monto }}</strong></td>
                <td style="width:10%"></td>
            </tr>
            <tr>
                <td></td>
                <td class="mod-row" style="background-color: #002060; color: #FFFFFF;"></td>
                <td class="text-left mod-row" style="background-color: #002060; color: #FFFFFF;">
                    <strong>Plazo :</strong></td>
                <td class="text-center mod-row" style="background-color: #002060; color: #FFFFFF;"></td>
                <td class="text-left mod-row" style="background-color: #002060; color: #FFFFFF;">
                    <strong>{{ plazo }} meses</strong></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="mod-row" style="background-color: #85ca3a; color: #10245f;"></td>
                <td class="text-left mod-row" style="background-color: #85ca3a; color: #10245f;">
                    <strong>Método de cálculo:</strong></td>
                <td class="text-center mod-row" style="background-color: #85ca3a; color: #10245f;"></td>
                <td class="text-left mod-row" style="background-color: #85ca3a; color: #10245f;">
                    <strong>Agregado</strong></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="mod-row" style="background-color: #002060; color: #FFFFFF;"></td>
                <td class="text-left mod-row" style="background-color: #002060; color: #FFFFFF;">
                    <strong>Tasa de interés mensual:</strong></td>
                <td class="text-center mod-row" style="background-color: #002060; color: #FFFFFF;"></td>
                <td class="text-left mod-row" style="background-color: #002060; color: #FFFFFF;">
                    <strong>2 %</strong></td>
                <td></td>
            </tr>
            <tr class="mod-tr">
                <td></td>
                <td class="mod-row" style="background-color: #d6dce4; color: #10245f;"></td>
                <td class="text-left mod-row " style="background-color: #d6dce4; color: #10245f;">
                    ITBMS:
                </td>
                <td class="text-center mod-row" style="background-color: #d6dce4; color: #10245f;">$</td>
                <td class="text-left mod-row" style="background-color: #d6dce4; color: #10245f;">
                    {{ itbms }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="mod-row" style="background-color: #002060; color: #FFFFFF;"></td>
                <td class="text-left mod-row fw-bold" style="background-color: #002060; color: #FFFFFF;">
                    Cancelaciones:
                </td>
                <td class="text-center mod-row fw-bold" style="background-color: #002060; color: #FFFFFF;">$</td>
                <td class="text-left mod-row fw-bold" style="background-color: #002060; color: #FFFFFF;">
                    {{ compra_saldo }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="mod-row" style="background-color: #85ca3a; color: #10245f;"></td>
                <td class="text-left mod-row" style="background-color: #85ca3a; color: #10245f;">
                    <strong>Letra quincenal:</strong></td>
                <td class="text-center mod-row fw-bold" style="background-color: #85ca3a; color: #10245f;">$</td>
                <td class="text-left mod-row" style="background-color: #85ca3a; color: #10245f;">
                    <strong>{{ letra }}</strong></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="mod-row" style="background-color: #002060; color: #FFFFFF;"></td>
                <td class="text-left mod-row fw-bold" style="background-color: #002060; color: #FFFFFF;">
                    Neto para desembolso:
                </td>
                <td class="text-center mod-row fw-bold" style="background-color: #002060; color: #FFFFFF;">$</td>
                <td class="text-left mod-row fw-bold" style="background-color: #002060; color: #FFFFFF;font-size: 16px;">
                    {{ desembolso }}</td>
                <td></td>
            </tr>
        </table>
        <table class="table table-borderless">
            <tr>
                <td style="color: #002060; text-align: justify;font-size: 13px">
                    <p class="lh-sm ">
                        Esta cotización se creó tomando el día {{ fecha_ini }} como fecha de inicio de los pagos. La
                        misma es válida por 15 días, a partir de la fecha de emisión de este documento.
                        Cualquier cambio en los parámetros del crédito puede hacer variar los montos calculados.
                        Para continuar el proceso es necesario que nos comparta vía WhatsApp al <a
                            href="https://wa.me/50762755096">6275-5096</a> / <a
                            href="https://wa.me/50762919819">6291-9819</a> o al correo <a href="mailto:callcenter@rapi-cashpanama.com?Subject=Solicitud%20RAPICASH">callcenter@rapi-cashpanama.com</a>  /
                        <a href="mailto:ventas@rapi-cashpanama.com?Subject=Solicitud%20RAPICASH">ventas@rapi-cashpanama.com</a> los siguientes documentos:
                    </p>
                </td>
            </tr>
            <tr>
                <td style="color: #002060; text-align: justify; font-size: 13px">
                    <ul>
                        <li>&nbsp;&nbsp;Cédula o Pasaporte</li>
                        <li>&nbsp;&nbsp;Ficha de CSS</li>
                        <li>&nbsp;&nbsp;Carta de Trabajo</li>
                        <li>&nbsp;&nbsp;Talonario de últimas dos quincenas</li>
                        <li>&nbsp;&nbsp;Recibo de luz, agua o teléfono</li>
                        <li>&nbsp;&nbsp;Cartas de saldo actualizadas (si aplica).</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="color: #002060; text-align: justify;font-size: 13px">
                    <p class="fw-bold">
                        Esta información es dada exclusivamente a requerimiento del cliente, por lo
                        tanto, no conlleva responsabilidad alguna para nuestra institución financiera o alguno de
                        nuestro personal.
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
