{% extends 'base_1.html' %}

{% load static %}

{% block script_head %}

    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>

{% endblock %}


{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    <div class="card" style="background-color: #FFFAE4;">

                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title }}</strong>
                            </h6>
                            <div class="card-tools">
                                <a href="{{ regresar }}"
                                   class="btn btn-success border "><i class="fas fa-chevron-circle-left"></i>
                                    Regresar</a>
                            </div>

                        </div>

                        <div class="card-body border border-dark">

                            <div class="container">

                                <div class="row">
                                    <div class="col-md-4 order-md-2 mb-4">
                                    <!-- Calculadora Préstamos -->
                                        <div class="card">
                                            <div class="card-header">
                                                <h4><strong><i class="fas fa-calculator"></i> Calculadora</strong></h4>
                                            </div>

                                            <div class="card-body">

                                                <label for="selector_1" class="h5">Modo de cálculo:</label>
                                                <select class="form-control" id="selector_1" onchange="select()">
                                                    <option value="0">--- Seleccione ---</option>
                                                    <option value="1">Calcular cuota y obligación</option>
                                                    <option value="2">Calcular monto y obligación</option>
                                                    <option value="3">Calcular en base al desembolso</option>
                                                </select> <br>

                                                <div class="col-sm-12 collapse" id="tarjeta">

                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label id="label_1" for="entrada_1" class="text-indigo">-------</label>
                                                            <input type="number"
                                                                   class="form-control form-control-sm border-dark"
                                                                   id="entrada_1" aria-describedby="text_help_1"
                                                                   disabled>
                                                            <small id="text_help_1"
                                                                   class="form-text text-muted">-------</small>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="entrada_2" class="text-indigo">Plazo:</label>
                                                            <input type="number"
                                                                   class="form-control form-control-sm border-dark"
                                                                   id="entrada_2" aria-describedby="text_help_2"
                                                                   disabled>
                                                            <small id="text_help_2" class="form-text text-muted">En
                                                                meses.</small>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label for="inicio"
                                                                   class="text-indigo">Inicio</label>
                                                            <input type="text" name="inicio"
                                                                   class="form-control form-control-sm border-dark datepicker"
                                                                   id="inicio" aria-describedby="text_help_3" disabled>
                                                            <small id="text_help_3" class="form-text text-muted">Inicio
                                                                de los pagos.</small>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="selector_2" class="text-indigo">C. de promotor:
                                                            </label>
                                                            <select class="form-control form-control-sm border-dark"
                                                                    id="selector_2" disabled
                                                                    aria-describedby="text_help_4">
                                                                <option value="0">0%</option>
                                                                <option value="2">2.0%</option>
                                                                <option value="2.5">2.5%</option>
                                                                <option value="3">3.0%</option>
                                                                <option value="3.25">3.25%</option>
                                                                <option value="3.5">3.5%</option>
                                                                <option value="3.75">3.75%</option>
                                                                <option value="4">4.0%</option>
                                                                <option value="4.25">4.25%</option>
                                                                <option value="4.5">4.5%</option>
                                                                <option value="4.75">4.75%</option>
                                                                <option value="5">5.0%</option>
                                                                <option value="7">7.0%</option>
                                                            </select>
                                                            <small id="text_help_4" class="form-text text-muted">% del
                                                                monto.</small>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label for="selector_3"
                                                                   class="text-indigo">S. de descuento:</label>
                                                            <select class="form-control form-control-sm border-dark"
                                                                    id="selector_3" disabled
                                                                    aria-describedby="text_help_5">
                                                                <option value="0">0%</option>
                                                                <option value="2">2%</option>
                                                                <option value="3">3%</option>
                                                                <option value="4">4%</option>
                                                            </select>
                                                            <small id="text_help_5" class="form-text text-muted">% del
                                                                monto.</small>
                                                        </div>
                                                        <div class="col-sm-6 text-center my-auto">
                                                            <button id="calcular" class="btn btn-primary float"
                                                                    disabled>
                                                                Calcular
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label id="label_2" for="salida_1">-------</label>
                                                            <span class="form-control form-control-sm"
                                                                  aria-describedby="text_help_6"
                                                                  id="salida_1"> --- </span>
                                                            <small id="text_help_6"
                                                                   class="form-text text-muted">-------</small>
                                                            {#                                                        <input type="number" class="form-control form-control-sm"#}
                                                            {#                                                               id="plazo_1">#}
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="salida_2">Obligación</label>
                                                            <span class="form-control form-control-sm"
                                                                  id="salida_2"> --- </span>
                                                            {#                                                        <input type="number" class="form-control form-control-sm"#}
                                                            {#                                                               id="plazo_1">#}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-8 order-md-1">

                                        <form method="post" action="." id="form_cotizador">
                                            {% csrf_token %}
                                            <input type="hidden" value="0" name="detalle_val" id="detalle_val">
                                            <input type="hidden" name="action" value="{{ action }}">
                                            <input type="hidden" name="id_modelo" id="id_modelo" value="{{ id_form }}">
                                            <input type="hidden" value="0" name="compra_saldo" id="cancelaciones">

                                            <div class="row form-group">
                                                <div class="col-md-3 mb-3">
                                                    <label class="form-label">Monto a cotizar: <span
                                                            class="text-danger">*</span></label>
                                                    {{ form.monto }}
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label class="form-label">Plazo a cotizar: <span
                                                            class="text-danger">*</span></label>
                                                    {{ form.plazo_meses }}
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label class="form-label" for="inicio_pagos">Inicio de los
                                                        pagos: <span class="text-danger">*</span></label>
                                                    <input type="text" name="inicio_pagos"
                                                           class="form-control datepicker" id="inicio_pagos">
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label class="form-label" for="compra_saldo">Compras de
                                                        saldo: <span class="text-danger">*</span></label>

                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-primary" type="button"
                                                                    id="button-addon" onclick="cancelaciones_cliente('cancelaciones', 'cancelaciones_span')">
                                                                Ingresar
                                                            </button>
                                                        </div>
                                                        <span type="text" class="form-control"
                                                              id="cancelaciones_span"
                                                              aria-describedby="button-addon"></span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-3 mb-3">
                                                    <label class="form-label" for="c_promotor">C. de
                                                        promotor: <span class="text-danger">*</span></label>
                                                    <select name="c_promotor" class="form-control" id="c_promotor"
                                                            aria-describedby="help_2">
                                                        <option value="0">0%</option>
                                                        <option value="2">2.0%</option>
                                                        <option value="2.5">2.5%</option>
                                                        <option value="3">3.0%</option>
                                                        <option value="3.25">3.25%</option>
                                                        <option value="3.5">3.5%</option>
                                                        <option value="3.75">3.75%</option>
                                                        <option value="4">4.0%</option>
                                                        <option value="4.25">4.25%</option>
                                                        <option value="4.5">4.5%</option>
                                                        <option value="4.75">4.75%</option>
                                                        <option value="5">5.0%</option>
                                                        <option value="7">7.0%</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-3 mb-3">
                                                    <label class="form-label" for="s_descuento">S. de
                                                        descuento: <span class="text-danger">*</span></label>
                                                    <select name="s_descuento" class="form-control" id="s_descuento"
                                                            aria-describedby="help_3">
                                                        <option value="0">0%</option>
                                                        <option value="2">2%</option>
                                                        <option value="3">3%</option>
                                                        <option value="4">4%</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 mb-6 my-auto text-center">
                                                    <button class="btn btn-primary " type="submit" id="cotizar"
                                                            onclick="return generar_cotizacion()"><i
                                                            class="fas fa-cogs"></i>
                                                        Generar cotización
                                                    </button>
                                                </div>
                                                {% if request.user.username == 'guillermo.lemos' or request.user.username == 'vicente_rc' or request.user.username == 'jeimy.diaz' %}
                                                    {% if action == 'cotizar_p' %}
                                                        <div class="col-md-4 mb-3 my-auto">
                                                            <label class="form-label" for="detalles">Generar detalles
                                                                del
                                                                crédito</label>
                                                            <button class="btn btn-warning " type="submit" id="detalles"
                                                                    onclick="return generar_detalles()"><i
                                                                    class="fas fa-cogs"
                                                                    aria-describedby="button_help"></i> Generar detalles
                                                            </button>
                                                            <small id="button_help" class="form-text text-danger">**Para
                                                                uso
                                                                interno.**</small>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </form>

                                        <hr>
                                        <h5><strong>Notas:</strong></h5>
                                        <div class="row">
                                            <div class="col-8 col-sm-10 textarea ">
                                                {{ form.notas }}
                                            </div>
                                            <br>
                                            <div class="col-8 col-sm-2">
                                                <button class="w-10 btn btn-success " type="submit"
                                                        id="guardar" name="guardar">
                                                    Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border border-dark bg-gradient-gray-dark">
                            <a href="{{ regresar }}"
                               class="btn btn-success btn_test border border-light"><i
                                    class="fas fa-chevron-circle-left"></i>
                                Regresar
                            </a>
                            <a href="{{ editar }}" class="btn btn-info border border-light"><i
                                    class="fas fa-edit"></i> Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_java %}

    {% if action == 'cotizar' %}
        <script src="{% static 'ventas/js/v_cotizador.js' %}"></script>
    {% elif action == 'cotizar_p' %}
        <script src="{% static 'ventas/js/v_cotizador_p.js' %}"></script>
    {% endif %}


    <script>

        $(function () {
            $("#inicio").datepicker({
                format: 'yyyy/mm/dd',
                autoclose: true,
            });
        });

    </script>

    <script>
        function generar_detalles() {
            document.getElementsByName('detalle_val')[0].value = '1';
        }

        function generar_cotizacion() {
            document.getElementsByName('detalle_val')[0].value = '0';
        }

    </script>

    <script src="{% static 'ventas/js/calculadora.js' %}"></script>


{% endblock %}