<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cotización {{ nombre }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .mod-td2 {
            border-bottom: 2px solid black;
        }

        @page {
            size: letter landscape;
            margin-top: 50px;
            margin-bottom: 30px;
            margin-right: 40px;
            margin-left: 40px;
        }

        .mod-tr {
            line-height: 14px;
            min-height: 20px;
            height: 20px;
            font-size: 12px;
        }

        .mod-bg1 {
            background-color: #101c3f;
            color: #FFFFFF;
        }

        .mod-bg2 {
            background-color: #B6E570;
        }

        .mid {
            vertical-align: middle
        }

        .mod-td1 {
            border-right: 2px solid black;
        }

        .mod-td3 {
            border-right: 1px solid gray;
        }
    </style>
</head>
<body>


<table class="table table-bordered table-responsive table-sm">
    <tr style="font-size: 14px;">
        <th style="width: 5%" class="mod-bg1"></th>
        <th colspan="2" class="text-center mid">
            <a href='https://rapi-cashpanama.com/'><img alt=''
                                                        src='https://rapi-cashpanama.com/wp-content/uploads/2018/06/Logo-Verde-OverW.png'
                                                        class="img-fluid w-75">
            </a>
        </th>
        <th colspan="9" class="mod-bg1">Rapicash <br> Condiciones Generales del Préstamo <br> Actualizado al: {{ fecha_enc }}</th>
    </tr>
</table>

<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-11">
                    <table class="table table-responsive table-sm">
                        <tr>
                            <th colspan="8" class="fw-bold mod-bg2" style="text-align: center">Información básica del
                                cliente
                            </th>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Nombre:</td>
                            <td colspan="2" class="mod-td1"><strong>{{ nombre }}</strong>
                            </td>
                            <td colspan="2">DNI:</td>
                            <td colspan="2">{{ dni }}</td>

                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Salario:</td>
                            <td colspan="2" class="mod-td1">{{ salario }}</td>
                            <td colspan="2">Deducciones:</td>
                            <td colspan="2">{{ deducciones }}</td>

                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Capacidad:</td>
                            <td colspan="2" class="mod-td1">{{ capacidad }}</td>
                            <td colspan="2">Tipo de ingreso:</td>
                            <td colspan="2">{{ t_ingreso }}</td>
                        </tr>
                    </table>

                    <table class="table table-responsive table-sm">
                        <tr>
                            <th colspan="6" style="text-align: center" class="mod-bg2">Parámetros del crédito</th>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Comisión de manejo:</td>
                            <td class="text-center mod-td1"><small>{{ c_manejo }}</small></td>
                            <td colspan="2">Comisión de promotor:</td>
                            <td class="text-center"><small>{{ c_promotor }} %</small></td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Servicio de descuento:</td>
                            <td class="text-center mod-td1"><small>{{ s_descuento }} %</small></td>
                            <td colspan="2">Seguro de vida:</td>
                            <td class="text-center"><small>{{ s_vida }} %</small></td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Seguro de desempleo:</td>
                            <td class="text-center mod-td1"><small>{{ s_desempleo }} %</small></td>
                            <td colspan="2">Seguro dental:</td>
                            <td class="text-center"><small>$ {{ s_dental }} mes</small></td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">ITBMS:</td>
                            <td class="text-center mod-td1"><small>7.00 %</small></td>
                            <td colspan="2">Interés por mora:</td>
                            <td class="text-center"><small>2.00 %</small></td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Interés mensual:</td>
                            <td class="text-center mod-td1"><small>2.00 %</small></td>
                            <td colspan="2">Interés anual:</td>
                            <td class="text-center"><small>24.00 %</small></td>
                        </tr>
                    </table>
                    <table class="table table-responsive table-sm">
                        <tr>
                            <th colspan="3" style="text-align: center" class="mod-bg2">Liquidación de seguros</th>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Seguro de vida:</td>
                            <td class="text-center"><small>{{ ls_vida }}</small></td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Seguro de desempleo:</td>
                            <td class="text-center"><small>{{ ls_desempleo }}</small></td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Seguro odontológico:</td>
                            <td class="text-center"><small>{{ ls_dental }}</small></td>
                        </tr>
                         <tr class="mod-tr">
                            <td colspan="2">Total seguros:</td>
                            <td class="text-center"><small>{{ total_seguros }}</small></td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Costo mensual seguros:</td>
                            <td class="text-center"><small>{{ seguros_mes }}</small></td>
                        </tr>
                    </table>
                    <table class="table table-responsive table-sm">
                        <tr>
                            <th colspan="3" style="text-align: center" class="mod-bg2">Detalle de cuotas</th>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Cuota quincenal:</td>
                            <td class="text-center"><small>{{ letra_q }}</small></td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Cuota mensual:</td>
                            <td class="text-center"><small>{{ letra_m }}</small></td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Última cuota:</td>
                            <td class="text-center"><small>{{ letra_u }}</small></td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">TIR:</td>
                            <td class="text-center"><small>{{ tir }} %</small></td>
                        </tr>
                    </table>

                </div>
                <div class="col-xs-1"></div>
            </div>

        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-11">
                    <table class="table table-responsive table-sm">
                        <tr>
                            <th colspan="8" class="fw-bold mod-bg2" style="text-align: center">Información del crédito
                            </th>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Monto solicitado:</td>
                            <td colspan="2" class="mod-td1">{{ monto }}</td>
                            <td colspan="2">Plazo solicitado:</td>
                            <td colspan="2">{{ plazo }}</td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Aplica promotor:</td>
                            <td colspan="2" class="mod-td1">{{ a_promotor }}</td>
                            <td colspan="2">Meses extra:</td>
                            <td colspan="2" >{{ meses_ad }}</td>
                        </tr>
                        <tr class="mod-tr">
                             <td colspan="2">Aplica s. de descuento:</td>
                            <td colspan="2" class="mod-td1">{{ as_descuento }}</td>
                            <td colspan="2">Meses totales:</td>
                            <td colspan="2" >{{ total_meses }}</td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Fecha de desembolso:</td>
                            <td colspan="2" class="mod-td1">{{ f_desembolso }}</td>
                            <td colspan="2">Quincenas:</td>
                            <td colspan="2" >{{ quincenas }}</td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Fecha de primer pago:</td>
                            <td colspan="2" class="mod-td1">{{ fecha_ini }}</td>
                            <td colspan="2">Fecha de último pago:</td>
                            <td colspan="2">{{ fecha_fin }}</td>
                        </tr>
                    </table>
                    <table class="table table-responsive table-sm">
                        <tr>
                            <th colspan="8" style="text-align: center"class="mod-bg2">Liquidación del crédito</th>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Monto solicitado:</td>
                            <td colspan="2" class="mod-td3">{{ monto }}</td>
                            <td colspan="2">Comisión de manejo:</td>
                            <td colspan="2">{{ comision_manejo }}</td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Intereses:</td>
                            <td colspan="2" class="mod-td3">{{ intereses }}</td>
                            <td colspan="2">Comisión de promotor:</td>
                            <td colspan="2" class="text-danger">{{ promotor }}</td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Comisión de manejo:</td>
                            <td colspan="2" class="mod-td3">{{ comision_manejo }}</td>
                            <td colspan="2">Servicio de descuento:</td>
                            <td colspan="2" class="text-danger">{{ servicio_desc }}</td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2">Notaría:</td>
                            <td colspan="2" class="mod-td3">{{ notaria }}</td>
                            <td colspan="2">Timbres:</td>
                            <td colspan="2" class="text-danger">{{ timbres }}</td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2" class="mod-td2">Seguros:</td>
                            <td colspan="2" class="mod-td2 mod-td3">{{ total_seguros }}</td>
                            <td colspan="2" class="mod-td2">Otros gastos:</td>
                            <td colspan="2" class="mod-td2 text-danger">{{ otros_gastos }}</td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2" rowspan="2" >Obligación total:</td>
                            <td colspan="2" rowspan="2" class="fw-bold">{{ total_prestamo }}</td>
                            <td colspan="2" rowspan="2">Administración:</td>
                            <td colspan="2" rowspan="2">{{ admin }}</td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                        <tr>
                            <td colspan="8" class="mod-bg2 text-center fw-bold">Detalles de desembolso</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="mod-tr align-bottom">&nbsp;&nbsp;&nbsp;&nbsp;Cancelaciones:</td>
                            <td colspan="2">Neto por entregar:</td>
                            <td colspan="2" class="fw-bold">{{ monto }}</td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2" class="fst-italic text-end">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ c_saldo_1 }}</td>
                            <td colspan="2" class="text-center"><strong>{{ c_sub_1 }}</strong></td>
                            <td colspan="2">ITBMS:</td>
                            <td colspan="2">{{ itbms }}</td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2" class="fst-italic text-end">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ c_saldo_2 }}</td>
                            <td colspan="2" class="text-center"><strong>{{ c_sub_2 }}</strong></td>
                            <td colspan="2">Total cancelaciones:</td>
                            <td colspan="2" class="fw-bold">{{ compra_saldo }}</td>
                        </tr>
                        <tr class="mod-tr">
                            <td colspan="2" class="fst-italic text-end">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ c_saldo_3 }}</td>
                            <td colspan="2" class="text-center"><strong>{{ c_sub_3 }}</strong></td>
                            <td colspan="2">Neto del deudor:</td>
                            <td colspan="2" class="fw-bold">{{ desembolso }}</td>
                        </tr>
                    </table>
                    <table class="table table-borderless table-responsive table-sm">
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6" class="mod-td2"></td>
                            <td></td>
                        </tr>
                        <tr class="mod-tr">
                            <td></td>
                            <td colspan="6" class="text-center">Preparado por: {{ user_name }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="6" class="mod-td2"></td>
                            <td></td>
                        </tr>
                        <tr class="mod-tr">
                            <td></td>
                            <td colspan="6" class="text-center">Aprobación</td>
                            <td></td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
