<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cotización {{ nombre }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .mod-row {
            border-bottom: 4px solid white;
        }

        @page {
            size: A4 landscape;
            margin: 30px;
        }

        .mod-tr {
            line-height: 15px;
            min-height: 20px;
            height: 20px;
        }

    </style>
</head>
<body>

<div class="container">
    <div style="max-width: available;">
        <table class="table table-borderless" style='color: #002060; text-align: left; '>
            <tr>
                <td style="width:5%"></td>
                <td style="width:70%"></td>
                <td style="width:20%"></td>
                <td style="width:5%"></td>
            </tr>
            <tr>
                <th></th>
                <td><h3>{{ fecha_enc }}</h3></td>
                <th rowspan="2" style="text-align: center"><a href='https://rapi-cashpanama.com/'>
                    <img alt=''
                         src='https://rapi-cashpanama.com/wp-content/uploads/2018/06/Logo-Verde-OverW.png'
                         class="img-fluid w-100">
                </a>
                </th>
                <th></th>
            </tr>

            <tr>
                <td></td>
                <th>¡Buenas noches {{ nombre }}!</th>

                <td></td>
            </tr>

            <tr>
                <td></td>
                <td>Te enviamos este documento en seguimiento de tu solicitud de crédito.</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td>Los detalles de la cotización de tu préstamo los puedes ver a continuación:</td>
                <td>
                </td>
                <td></td>
            </tr>

        </table>

    </div>
</div>

<table class="table table-bordered table-responsive table-sm" style="border: 3px;">
    <tr>
        {% for obj in tabla.encabezado %}
            <th>{{ obj }}</th>
        {% endfor %}
    </tr>

    {% for value in tabla.datos %}
        <tr class="mod-tr">
            {% for val in value %}
                <td>{{ val }}</td>
            {% endfor %}

        </tr>
    {% endfor %}

</table>


</body>
</html>
