{% extends 'base_1.html' %}

{% block content_base %}

    <form method="post" action="." id="form_1">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-trash"></i>
                    {{ card_title }}
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {% csrf_token %}

                <div class="alert alert-danger alert-dismissible">
                    <h5><i class="icon fas fa-ban"></i> Notificación!</h5>
                    Estas seguro de eliminar el registro nro {{ object.id }}?
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat"><i class="fas fa-life-saver"></i>
                    Sí, aceptar
                </button>
                <button href="{{ solicitudes_url }}" class="btn btn-info btn-flat"><i class="fas fa-times"></i>
                    Cancelar
                </button>
            </div>
            <!-- /.card-body -->
        </div>
    </form>

{% endblock %}