{% extends 'base_1.html' %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    <div class="card" style="background-color: #FFFAE4;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title_1 }}</strong>
                            </h6>

                        </div>
                        <div class="card-body border border-dark">
                            <table id="descartadas_1" class="table table-hover table-head-fixed" style="width: 100%">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 5%;">Nro</th>
                                    <th scope="col" style="width: 15%;">Nombre</th>
                                    <th scope="col" style="width: 15%;">Apellido</th>
                                    <th scope="col" style="width: 15%;">Tipo ingreso</th>
                                    <th scope="col" style="width: 10%;">Ingreso</th>
                                    <th scope="col" style="width: 10%;">Celular</th>
                                    <th scope="col" style="width: 10%;">Documentos</th>
                                    <th scope="col" style="width: 10%;">Opciones</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer border border-dark bg-gradient-gray-dark">

                        </div>

                    </div>
                    <!-- /.card -->
                    <!-- Default box 2 -->
                    <div class="card" style="background-color:#e6ffde;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title_2 }}</strong>
                            </h6>
                        </div>
                        <div class="card-body border border-dark">
                            <table class="table table-hover table-head-fixed" id="descartadas_2">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 10%;">Nro</th>
                                    <th scope="col" style="width: 15%;">Nombre</th>
                                    <th scope="col" style="width: 15%;">Apellido</th>
                                    <th scope="col" style="width: 15%;">Tipo ingreso</th>
                                    <th scope="col" style="width: 15%;">Ingreso</th>
                                    <th scope="col" style="width: 10%;">Celular</th>
                                    <th scope="col" style="width: 10%;">Documentos</th>
                                    <th scope="col" style="width: 10%;">Opciones</th>

                                </tr>
                                </thead>
                                <tbody>

                                </tbody>

                            </table>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer bg-gradient-gray-dark border border-dark">

                        </div>
                        <!-- /.card-footer-->
                    </div>

                    <!-- /.card -->
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-secondary">
                        <h5 class="modal-title" id="exampleModalLongTitle"><b>Comentarios: <span
                                id="span_cliente" class="text-warning"></span></b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <h5 class="text-center"><b>Ventas:</b></h5>
                            <p class="font-italic text-orange" id="n_ventas"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="application/javascript">
        function info_cliente(id_cliente, table) {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action': 'info_descartadas',
                    'id': id_cliente,
                    'tabla': table
                },
                dataType: 'json'
            }).done(function (data) {
                if (!data.hasOwnProperty('error')) {
                    console.log(data);
                    document.getElementById('span_cliente').innerHTML = data['nombre'];
                    document.getElementById('n_ventas').innerHTML = data['n_ventas'];
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        }
    </script>

{% endblock %}