{% extends 'base_1.html' %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    <div class="card" style="background-color: #FFFAE4;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title }}.</strong></h6>&nbsp;&nbsp;
                            {% if form.user_view.value != None %}
                                <small class="text-warning"> Visto por: {{ form.user_view.value }}</small>
                            {% endif %}
                            <div class="card-tools">
                                <a href="{% url 'ventas:solicitudes_descartadas' %}"
                                   class="btn btn-success border "><i class="fas fa-chevron-circle-left"></i>
                                    Regresar</a>
                            </div>

                        </div>

                        <div class="card-body border border-dark">

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Nombre del cliente</span>
                                            <h5><span class="info-box-number text-center mb-0 ">
                                                {% if form.nombre_2.value == None and form.apellido_2.value == None %}
                                                    {{ form.nombre_1.value }} {{ form.apellido_1.value }}
                                                {% elif form.nombre_2.value == None %}
                                                    {{ form.nombre_1.value }} {{ form.apellido_1.value }}
                                                    {{ form.apellido_2.value }}
                                                {% elif form.apellido_2.value == None %}
                                                    {{ form.nombre_1.value }} {{ form.nombre_2.value }}
                                                    {{ form.apellido_1.value }}
                                                {% else %}
                                                    {{ form.nombre_1.value }} {{ form.nombre_2.value }}
                                                    {{ form.apellido_1.value }} {{ form.apellido_2.value }}
                                                {% endif %}
                                            </span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Fecha de solicitud</span>
                                            <h6>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.creado_el.value }}
                                                </span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Monto solicitado</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    ${{ form.monto.value }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Plazo solicitado</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.plazo_meses.value }} meses
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Propósito del crédito</span>
                                            <h5><span class="info-box-number text-center mb-0">
                                                    {% if form.proposito.value == None %}
                                                        <span class="text-sm">Campo vacío</span>
                                                    {% else %}
                                                        {{ form.instance.proposito }}
                                                    {% endif %}
                                            </span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Tipo de documento</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.tipo_doc }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">DNI</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.dni.value }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Fecha de nacimiento</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.f_nacimiento.value }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Email</span>
                                            <h6><span class="info-box-number text-center mb-0">
                                                    {{ form.email_1.value }}
                                            </span></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Celular</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    <a href="https://web.whatsapp.com/send?phone=507{{ form.celular.value }}&text&app_absent=0"
                                                       target="_blank" class="text-success"><i
                                                            class="fab fa-whatsapp"></i> {{ form.celular.value }}</a>
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Estado civil</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.e_civil }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Género</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.genero }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Dependientes</span>
                                            <h5><span class="info-box-number text-center mb-0">
                                                    {{ form.instance.dependientes }}
                                            </span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Tipo de ingreso</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.tipo_ingreso }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Salario</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    ${{ form.salario.value }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Empresa</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.empresa_1.value }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Ingresos Extra</span>
                                            <h5><span class="info-box-number text-center mb-0">
                                                    {{ form.instance.in_extras }}
                                            </span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Estudios</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.estudios }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">P.E.P.</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.p_expuesto }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Documentos</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">

                                                   {% if form.instance.DNI_img == '' %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i> DNI</button>
                                                   {% else %}
                                                       <a href="/media/{{ form.instance.DNI_img }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> DNI</a>
                                                   {% endif %}
                                                    {% if form.instance.ficha_img == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i> Ficha</button>
                                                    {% else %}
                                                        <a href="/media/{{ form.instance.ficha_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ficha</a>
                                                    {% endif %}

                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <h5><strong>Dirección:</strong></h5>

                            <div class="form-row">
                                <div class="col-12 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Provincia</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.provincia }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-2">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Distrito</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.distrito }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Corregimiento</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.instance.corregimiento }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-5">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Descripción</span>
                                            <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {{ form.direccion.value }}
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h5><strong>Notas:</strong></h5>
                            <div class="form-row">
                                <div class="card col-md-12">
                                    <div class="card-body bg-light ">
                                        {% if form.notas.value %}
                                            <p>{{ form.notas.value }}</p>
                                        {% else %}
                                            <p class="font-italic">--Sin anotaciones--</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if user.get_username == 'vicente_rc' or user.get_username == 'guillermo.lemos' or user.get_username == 'jeimy.diaz' or user.get_username == 'ariel.reina' %}
                                <hr>
                                <div class="row form-group">
                                    <div class="form-check col-md-7">
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type='hidden' value='False' name='check_3'>
                                            {{ form.check_3 }}
                                            <label class="custom-control-label" for="id_check_3"><span
                                                    style="color:red;font-weight:bold">Descartar.</span></label>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>

                        <div class="card-footer border border-dark bg-gradient-gray-dark">
                            <a href="{% url 'ventas:solicitudes_descartadas' %}"
                               class="btn btn-success btn_test border border-light"><i
                                    class="fas fa-chevron-circle-left"></i>
                                Regresar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_java %}

    <script type="application/javascript">

        function recuperar() {
            if (!document.getElementsByName('check_3')[1].checked) {
                Swal.fire({
                    title: '¿Desea recuperar la solicitud?',
                    text: "La solicitud pasará a la sección de nuevas solicitudes.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, recuperar!'
                }).then((result) => {
                    document.getElementsByName('check_3')[1].checked = false;
                    if (result.isConfirmed) {
                        $.ajax({
                            url: window.location.pathname, //window.location.pathname
                            type: 'POST',
                            data: {
                                'action': 'recuperar',
                            },
                            dataType: 'json',
                        }).done(function (data) {
                            Swal.fire(
                                'Recuperada!',
                                'La solicitud pasó a la sección de nuevas solicitudes.',
                                'success'
                            );
                            return false;
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            alert(textStatus + ': ' + errorThrown);
                        }).always(function (data) {

                        });
                    }
                })
                document.getElementsByName('check_3')[1].checked = false;
            } else if (document.getElementsByName('check_3')[1].checked) {
                $.ajax({
                    url: window.location.pathname, //window.location.pathname
                    type: 'POST',
                    data: {
                        'action': 'recuperar_rt',
                    },
                    dataType: 'json',
                }).done(function (data) {
                    console.log('descartar_rt')
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
            }
        }

    </script>

{% endblock %}