{% extends 'base_1.html' %}
{% load static %}

{% block script_head %}
    <style>
        .mod-td2 {
            border-bottom: 2px solid black;
        }
    </style>

    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>
{% endblock %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box 1 -->
                    <div class="card" style="background-color:#e6ffde;">
                        <div class="card-header bg-gradient-gray-dark border border-dark">
                            <h6 class="card-title text-lg"><strong>{{ card_title }} <span
                                    style="color: #FF8C33;">{{ num_solicitud }}</span></strong>
                            </h6>
                        </div>
                        <div class="card-body border border-dark">
                            <div class="card">
                                <div class="card-header bg-secondary text-center">
                                    <span class="h4"><strong>Información del cliente:</strong></span>
                                </div>
                                <div class="card-body" style="background-color: #F5F5F5;">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered table-sm bg-light">
                                            <tr>
                                                <td style="width: 50%" class="h5">
                                                    Nombre completo:&nbsp;
                                                    <strong>
                                                        {% if form.nombre_2.value and form.apellido_2 %}
                                                            {{ form.nombre_1.value }} {{ form.nombre_2.value }}
                                                            {{ form.apellido_1.value }} {{ form.apellido_2.value }}
                                                        {% elif form.nombre_2.value %}
                                                            {{ form.nombre_1.value }} {{ form.nombre_2.value }}
                                                            {{ form.apellido_1.value }}
                                                        {% elif form.apellido_2.value %}
                                                            {{ form.nombre_1.value }} {{ form.apellido_1.value }}
                                                            {{ form.apellido_2.value }}
                                                        {% else %}
                                                            {{ form.nombre_1.value }} {{ form.apellido_1.value }}
                                                        {% endif %}
                                                    </strong>
                                                </td>

                                                <td class="h5">
                                                    Salario: &nbsp;
                                                    <strong>
                                                        {{ salario }}
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="h5">
                                                    Tipo de documento:&nbsp;
                                                    <strong>
                                                        {{ form.instance.tipo_doc }}
                                                    </strong>
                                                </td>
                                                <td class="h5">
                                                    DNI: &nbsp;
                                                    <strong>
                                                        {{ form.instance.dni }}
                                                    </strong>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="h5">
                                                    Nacionalidad: &nbsp;
                                                    <strong>
                                                        {{ form.nacionalidad.value }}
                                                    </strong>
                                                </td>
                                                <td class="h5">
                                                    Tipo de ingreso: &nbsp;
                                                    <strong>
                                                        {{ form.instance.tipo_ingreso }}
                                                    </strong>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="h5">
                                                    Empresa donde labora:&nbsp;
                                                    <strong>
                                                        {% if form.instance.empresa_2 %}
                                                            {{ form.instance.empresa_2 }}
                                                        {% else %}
                                                            <span class="text-warning">No registrado</span>
                                                        {% endif %}
                                                    </strong>
                                                </td>
                                                <td class="h5">
                                                    P.E.P.:&nbsp;
                                                    <strong>
                                                        {{ form.instance.p_expuesto }}
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="h5" colspan="2">
                                                    Dirección:&nbsp;
                                                    <strong>
                                                        {{ form.instance.provincia }}, {{ form.instance.distrito }}, {{ form.instance.corregimiento }},
                                                        {{ form.instance.direccion }}
                                                    </strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% if object.empresa_2 %}
                                <div class="card">
                                    <div class="card-header bg-secondary text-center">
                                        <span class="h4"><strong>Información de la empresa: <span
                                                class="text-warning">{{ object.empresa_2 }}</span></strong></span>
                                    </div>
                                    <div class="card-body" style="background-color: #F5F5F5;">
                                        <table class="table table-sm table-responsive-sm table-hover table-striped bg-light"
                                               style="table-layout: auto; width: 100%">
                                            <tr>
                                                <td class="h5" style="width: 50%">
                                                    Razón social:&nbsp;
                                                    <strong>
                                                        {{ object.empresa_2.r_social }}
                                                    </strong>
                                                </td>
                                                <td class="h5">
                                                    Razón Comercial: &nbsp;
                                                    <strong>
                                                        {{ object.empresa_2.nombre }}
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="h5">
                                                    RUC:&nbsp;
                                                    <strong>
                                                        {{ object.empresa_2.ruc }}
                                                    </strong>
                                                </td>
                                                <td class="h5">
                                                    Sector económico: &nbsp;
                                                    <strong>
                                                        {{ object.empresa_2.sector }}
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="h5">
                                                    Sub-sector: &nbsp;
                                                    <strong>
                                                        {{ object.empresa_2.sub_sector }}
                                                    </strong>
                                                </td>
                                                <td class="h5">
                                                    Tipo de empresa: &nbsp;
                                                    <strong>
                                                        {{ object.empresa_2.tipo }}
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="h5">
                                                    Alcance de empresa:&nbsp;
                                                    <strong>
                                                        {{ object.empresa_2.alcance }}
                                                    </strong>
                                                </td>
                                                <td class="h5">
                                                    Fecha de constitución:&nbsp;
                                                    <strong>
                                                        {{ object.empresa_2.fecha_const }}
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="h5">
                                                    Certificado Panamá Emprende:&nbsp;
                                                    <strong>
                                                        <a href="{{ object.empresa_2.certificado_pe }}"
                                                           target="_blank">Ver Certificado</a>
                                                    </strong>
                                                </td>
                                                <td class="h5">
                                                    Sitio web:&nbsp;
                                                    <strong>
                                                        {% if object.empresa_2.pagina_web %}
                                                            <a href="{{ object.empresa_2.pagina_web }}"
                                                               target="_blank">{{ object.empresa_2.pagina_web }}</a>
                                                        {% else %}
                                                            <b class="text-warning">No registrado</b>
                                                        {% endif %}
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="h5">
                                                    Dirección:&nbsp;
                                                    <strong>
                                                        {{ object.empresa_2.provincia }}, {{ object.empresa_2.distrito }}, {{ object.empresa_2.corregimiento }},
                                                        {{ object.empresa_2.direccion }}
                                                    </strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="row">
                                {% if request.user.username == 'guillermo.lemos' or request.user.username == 'gerencia.rc' or request.user.username == 'vicente_rc' %}
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-header text-center bg-secondary">
                                            <span class="h5 font-weight-bold">
                                                Observaciones de ventas:
                                            </span>
                                            </div>
                                            <div class="card-body">
                                            <div class="row mb-2">
                                                <i>Procesó cliente: &nbsp;</i><b>{{ object.user_view }}</b>
                                            </div>
                                            <div class="row">
                                                {% if form.notas.value %}
                                                    <p class="card-text text-monospace text-success">
                                                        {{ form.notas.value }}
                                                    </p>
                                                {% else %}
                                                    <p class="card-text text-danger">
                                                        No emitió observaciones.
                                                    </p>
                                                {% endif %}
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if  request.user.username == 'gerencia.rc' or request.user.username == 'vicente_rc' %}
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-header text-center bg-secondary">
                                            <span class="h5 font-weight-bold">
                                                Observaciones de cumplimiento:
                                            </span>
                                            </div>
                                            <div class="card-body">
                                                {% if form.notas_cumplimiento.value %}
                                                    <p class="card-text text-monospace text-success">
                                                        {{ form.notas_cumplimiento.value|linebreaksbr }}
                                                    </p>
                                                {% else %}
                                                    <p class="card-text text-danger">
                                                        No emitió observaciones.
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if request.user.username == 'guillermo.lemos' or request.user.username == 'vicente_rc' %}
                                    {% if form.check_cumplimiento.value == 'Devuelto' %}
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-header text-center bg-secondary">
                                            <span class="h5 font-weight-bold">
                                                Observaciones de Gerencia:
                                            </span>
                                                </div>
                                                <div class="card-body">
                                                    {% if form.notas_gerencia.value %}
                                                        <p class="card-text text-monospace text-danger">
                                                            {{ form.notas_gerencia.value|linebreaksbr }}
                                                        </p>
                                                    {% else %}
                                                        <p class="card-text text-danger">
                                                            No emitió observaciones.
                                                        </p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="card">
                                <div class="card-header bg-secondary text-center">
                                    <span class="h4"><strong>Documentación del cliente:</strong></span>
                                </div>
                                <div class="card-body" style="background-color: #F5F5F5;">
                                    <div class="form-row">
                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">DNI:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                   {% if form.instance.DNI_img == '' %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% else %}
                                                       <a href="/media/{{ form.instance.DNI_img }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Ficha</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                    {% if form.instance.ficha_img == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ form.instance.ficha_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Carta de trabajo:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                   {% if form.instance.carta_trabajo_img == '' %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% else %}
                                                       <a href="/media/{{ form.instance.carta_trabajo_img }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Talonario 1:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                    {% if form.instance.talonario_1_img == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ form.instance.talonario_1_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Talonario 2:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                   {% if form.instance.talonario_2_img == '' %}
                                                       <button class="btn btn-info border border-light btn-sm"
                                                       ><i class="fas fa-images"></i></button>
                                                       <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                   {% else %}
                                                       <a href="/media/{{ form.instance.talonario_2_img }}"
                                                          class="btn btn-info border border-light btn-sm"
                                                          target="_blank"><i class="fas fa-images"></i> Ver</a>
                                                       <span class="text-success h3"><i class="fas fa-check"></i></span>
                                                   {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Recibo público:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                    {% if form.instance.recibo_img == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-danger h3"><i class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ form.instance.recibo_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-success h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">Carta de saldo:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">

                                                    {% if form.instance.carta_saldo_img == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ form.instance.carta_saldo_img }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}

                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 col-sm-2">
                                            <div class="info-box bg-light">
                                                <div class="info-box-content">
                                                    <span class="info-box-text text-center text-muted">APC:</span>
                                                    <h5>
                                                <span class="info-box-number text-center mb-0">
                                                    {% if form.instance.file_apc == None or form.instance.file_apc == '' %}
                                                        <button class="btn btn-warning border border-light btn-sm"><i
                                                                class="fas fa-images"></i></button>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-times"></i></span>
                                                    {% else %}
                                                        <a href="/media/{{ form.instance.file_apc }}"
                                                           class="btn btn-warning border border-light btn-sm"
                                                           target="_blank"><i
                                                                class="fas fa-images"></i> Ver</a>
                                                        <span class="text-secondary h3"><i
                                                                class="fas fa-check"></i></span>
                                                    {% endif %}
                                                </span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg-secondary text-center">
                                    <span class="h4"><strong>Detalles de la solicitud:</strong></span>
                                </div>
                                <div class="card-body" style="background-color: #F5F5F5;">
                                    <table class="table table-responsive-sm table-sm table-bordered bg-light">
                                        <tr>
                                            <td style="width: 33%" class="h5">
                                                Monto solicitado: &nbsp;
                                                <strong>
                                                    {{ monto }}
                                                </strong>
                                            </td>
                                            <td style="width: 25%" class="h5">
                                                Plazo solicitado: &nbsp;
                                                <strong>
                                                    {{ c_plazo }} meses
                                                </strong>
                                            </td>
                                            <td class="h5">
                                                Fecha de inicio tentativa: &nbsp;<strong>{{ c_inicio }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="h5">
                                                Compra saldo: &nbsp;<strong>$ {{ c_saldo }}</strong>
                                            </td>
                                            <td class="h5">
                                                C. de promotor: &nbsp;<strong><span
                                                    id="val_promotor">{{ c_promotor }}</span> %</strong>
                                            </td>
                                            <td class="h5">
                                                S. de descuento: &nbsp;<strong><span
                                                    id="val_descuento">{{ c_s_descuento }}</span> %</strong>
                                            </td>
                                        </tr>
                                    </table>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="card">

                                                <div class="card-body">
                                                    <form action="" id="aprobacion">
                                                        <input type="hidden" value="0" id="input_v" name="input_v">
                                                        <input type="hidden" value="{{ p_manejo }}" id="p_manejo">
                                                        <input type="hidden" value="{{ c_saldo }}" id="c_saldo">
                                                        <input type="hidden" name="id_modelo" id="id_modelo"
                                                               value="{{ num_solicitud }}">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <label for="id_monto">Monto del crédito:</label>
                                                                <input type="number" name="monto"
                                                                       value="{{ c_monto }}"
                                                                       class="form-control"
                                                                       maxlength="40" required="" id="id_monto">
                                                            </div>
                                                            {{ t_ingreso }}
                                                            <div class="col-sm-4">
                                                                <label for="id_plazo_meses">Plazo del crédito:</label>
                                                                <input type="number" name="plazo_meses"
                                                                       value="{{ c_plazo }}"
                                                                       class="form-control" maxlength="40"
                                                                       id="id_plazo_meses">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <label for="id_inicio">Inicio pagos:</label>
                                                                <input type="text" name="inicio"
                                                                       class="form-control" maxlength="40"
                                                                       id="id_inicio"
                                                                       value="{{ c_inicio }}">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="card-footer">
                                                    <button class="btn btn-warning" form="aprobacion" type="submit"
                                                            onclick="return visualizar()"><i class="far fa-eye"></i>
                                                        Visualizar
                                                    </button>
                                                    <button class="btn btn-secondary" type="button"
                                                            onclick="return reset_detalles()"><i
                                                            class="fas fa-sync-alt"></i> Recargar
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <!-- /.Detalles del préstamo -->
                                                    <table class="table table-striped table-hover table-sm table-responsive-md">
                                                        <tr>
                                                            <td>
                                                                Solicitado:
                                                            </td>
                                                            <td>
                                                                <b id="d_solicitado">1000</b>
                                                            </td>
                                                            <td>
                                                                C. manejo:
                                                            </td>
                                                            <td>
                                                                <b id="d_manejo_1">1000</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Intereses:
                                                            </td>
                                                            <td>
                                                                <span class="text-success" id="d_interes">1000</span>
                                                            </td>
                                                            <td>
                                                                C. promotor:
                                                            </td>
                                                            <td>
                                                                <span class="text-danger" id="d_promotor">1000</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                C. manejo:
                                                            </td>
                                                            <td>
                                                                <span class="text-success" id="d_manejo_2">1000</span>
                                                            </td>
                                                            <td>
                                                                S. descuento:
                                                            </td>
                                                            <td>
                                                                <span class="text-danger" id="d_descuento">1000</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Notaría:
                                                            </td>
                                                            <td>
                                                                <span class="text-success" id="d_notaria">1000</span>
                                                            </td>
                                                            <td>
                                                                Timbres:
                                                            </td>
                                                            <td>
                                                                <span class="text-danger" id="d_timbres">1000</span>
                                                            </td>
                                                        </tr>
                                                        <tr class="mod-td2">
                                                            <td>
                                                                Seguros:
                                                            </td>
                                                            <td>
                                                                <span class="text-success" id="d_seguros">1000</span>
                                                            </td>
                                                            <td>
                                                                Otros gastos:
                                                            </td>
                                                            <td>
                                                                <span class="text-danger" id="d_otros">1000</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Obligación:
                                                            </td>
                                                            <td>
                                                                <span id="d_obligacion"
                                                                      class="font-weight-bold h5">1000</span>
                                                            </td>
                                                            <td>
                                                                Administración:
                                                            </td>
                                                            <td>
                                                                <span id="d_administracion" class="font-weight-bold h5">1000</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <hr>
                                                    <table class="table table-striped table-hover table-sm table-responsive-md">
                                                        <tr>
                                                            <td>
                                                                Solicitado:
                                                            </td>
                                                            <td>
                                                                <span id="m_solicitado">1000</span>
                                                            </td>
                                                            <td>
                                                                Cuota q.:
                                                            </td>
                                                            <td>
                                                                <span id="cuota_q">1000</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Compras de s.:
                                                            </td>
                                                            <td>
                                                                <span id="compra_saldo_1">1000</span>
                                                            </td>
                                                            <td>
                                                                Ultima cuota q.:
                                                            </td>
                                                            <td>
                                                                <span id="cuota_q_u">1000</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="mod-td2">
                                                                ITBMS.:
                                                            </td>
                                                            <td class="mod-td2">
                                                                <span class="text-danger" id="itbms">1000</span>
                                                            </td>
                                                            <td>
                                                                Cuotas mensuales:
                                                            </td>
                                                            <td>
                                                                <span id="cuota_m">1000</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Desembolso:
                                                            </td>
                                                            <td>
                                                                <span id="desembolso"
                                                                      class="font-weight-bold h5">1000</span>
                                                            </td>
                                                            <td colspan="2">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if request.user.username == 'gerencia.rc' or request.user.username == 'vicente_rc' %}
                                    <div class="card-footer">
                                        <button form="aprobacion" type="button" onclick="return devolver()"
                                                class="btn btn-info border border-dark"><i
                                                class="fas fa-exclamation-triangle"></i> Devolver a Cumplimiento
                                        </button>
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer border border-dark bg-gradient-gray-dark">
                            <a type="button" href="{% url 'prestamos:aprobacion_clientes' %}" id="regresar"
                               class="btn btn-warning border border-light"><i
                                    class="fas fa-undo-alt"></i> Regresar
                            </a>
                            <button form="aprobacion" type="submit" onclick="return aprobar()"
                                    class="btn btn-success border border-light"><i
                                    class="fas fa-thumbs-up"></i> Aprobar
                            </button>
                            <button form="aprobacion" type="submit" onclick="return rechazar()"
                                    class="btn btn-danger border border-light"><i
                                    class="fas fa-thumbs-down"></i> Rechazar
                            </button>
                            {{ error }}
                        </div>
                        <!-- /.card-footer-->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'prestamos/js/aprobacion.js' %}"></script>

    <script>
        function visualizar() {
            document.getElementById('input_v').value = '1';
        }

        function aprobar() {
            document.getElementById('input_v').value = '2';
        }

        function rechazar() {
            document.getElementById('input_v').value = '3';
        }

        (function () {
            desglose();
        })();

        function reset_detalles() {
            document.getElementById('id_monto').value = {{ c_monto }};
            document.getElementById('id_plazo_meses').value = {{ c_plazo }};
            document.getElementById('id_inicio').value = '{{ c_inicio }}';
            console.log('reset');
        }
    </script>

{% endblock %}