<table id="t_contenido" style="width: 100%;" class="table table-sm table-borderless">
    <thead>
    <tr class="table-dark">
        <td colspan="16" style="font-size: 10px;"><b>CARTERA DE PREPAGOS</b></td>
    </tr>
    <tr class="text-center table-secondary">
        <th class="th_mod_2"># Contrato</th>
        <th class="th_mod_2">Nombre Cliente</th>
        <th class="th_mod_2">F. contrato</th>
        <th class="th_mod_2">Capital</th>
        <th class="th_mod_2">Interés</th>
        <th class="th_mod_2">Promotor</th>
        <th class="th_mod_2">S. descuento</th>
        <th class="th_mod_2">Notaría</th>
        <th class="th_mod_2">Timbres</th>
        <th class="th_mod_2">Administración</th>
        <th class="th_mod_2">Feci</th>
        <th class="th_mod_2">Seguro Vida</th>
        <th class="th_mod_2">Seguro desempleo</th>
        <th class="th_mod_2">Seguro Odonto.</th>
        <th class="th_mod_2">Otros ingresos</th>
        <th class="th_mod_2">Total</th>
    </tr>
    </thead>
    <tbody style="font-size: 10px" class="text-center text-capitalize">
    {{ tabla|safe }}
    </tbody>
</table>
<table id="t_foot" style="width: 100%;" class="table table-sm table-borderless">
    <tbody style="font-size: 10px;">
    <tr class="table-dark">
        <td colspan="2"><b>Total clientes: {{ total_clientes }}</b></td>
        <td colspan="4"><b>Capital total: {{ total_capital }}</b></td>
        <td colspan="7"><b>&nbsp;</b></td>
        <td colspan="2"><b>Total agregado: {{ total_agregado }}</b></td>
    </tr>
    </tbody>
</table>