{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ tab_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.0.0-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'lib/adminlte-3.1.0/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/js_pdf/jspdf.umd.min.js' %}"></script>
    <script src="{% static 'lib/js_pdf/jspdf.plugin.autotable.js' %}"></script>

    <style>
        @page {
            size: legal landscape;
            margin-top: 40px;
            margin-bottom: 50px;
            margin-right: 40px;
            margin-left: 40px;

        }

        .td_mod {
            border: 1px solid black;
            line-height: 16px;
            min-height: 0;
            height: 14px;
            font-size: 11px;
        }

        .th_mod_2 {
            {#border: 1px solid black;#}
            font-size: 10px;
        }

        body {
            font-family: 'Helvetica', sans-serif;
        }

        .ruc-text {
            font-size: 20px;
            font-style: normal;
            padding: 0;
            margin: 0;
            font-weight: bold;
        }

        .title-text {
            font-size: 22px;
            font-style: normal;
            padding: 0;
            margin: 0;
            font-weight: bold;
        }

        .t-text {
            font-size: 16px;
            font-style: italic;
            padding: 0;
            margin: 0;
            font-weight: bold;
        }

        .mod-row {
            border-bottom: 4px solid white;
            font-size: 14px;
        }

        .mod-tr {
            line-height: 12px;
            min-height: 20px;
            height: 32px;
            font-size: 14px;
        }
    </style>
</head>
<body style="visibility: hidden">

<div class="container">
    <div style="max-width: available;">
        <table id="cabecera" class="table table-sm table-borderless" style="color: #002060;">
            <tr>
                <td rowspan="3" style="vertical-align: top" class="mid"><a
                        href='https://rapi-cashpanama.com/'>
                    <img alt='' src='{{ img }}'>
                </a>
                </td>
                <td colspan="2" style="width:80%;" class="ruc-text text-end">RC FINANCIAL GROUP, CORP.</td>
            </tr>
            <tr>
                <td colspan="2" class="ruc-text text-end">RUC: 155674055-2-2018 DV 4</td>
            </tr>
            <tr>
                <td class="title-text">{{ nombre_reporte }}</td>
                <td style="width: 20%"></td>
            </tr>
            <tr style="font-size: 14px">
                <td><b>Fecha inicio: </b>{{ fecha_ini }}</td>
                <td class="text-center"><b>Fecha fin: </b>{{ fecha_fin }}</td>
                <td></td>
            </tr>
        </table>

        <!-- Base de reportes de prepagos y cancelaciones -->
        {% if tipo in tipo_1 %}
            {% include 'reportes_js/base_tipo_1.html' %}
        {% endif %}

        <!-- Base de reportes de cartera y clientes al día, mora < 90 y mora > 90 -->
        {% if tipo in tipo_2 %}
            {% include 'reportes_js/base_tipo_2.html' %}
        {% endif %}

    </div>
</div>

</body>

<script src="{% static 'reportes_rc/js/reportes_pdf.js' %}"></script>
<script>
    (function () {
        generar_pdf();
    })();
</script>

</html>

