{% extends 'base_1.html' %}
{% load static %}
{% load humanize %}

{% block script_head %}
    <!-- FormValidation -->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.8.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/plugins/Recaptcha.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.8.0/dist/js/locales/es_ES.min.js' %}"></script>
{% endblock %}

{% block content_base %}

    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-gradient-dark h3">
                    {{ card_title }}
                    <b class="text-warning">
                        {{ info_credito.num_contrato }}
                    </b>
                </div>
                <div class="card-body">

                    <div class="card">
                        <div class="card-header bg-secondary text-center">
                            <span class="h4"><strong>Información del cliente:</strong></span>
                        </div>
                        <div class="card-body" style="background-color: #F5F5F5;">
                            <div class="col-sm-12">
                                <table class="table table-sm table-responsive-sm table-hover table-striped bg-light"
                                       style="table-layout: auto; width: 100%">
                                    <tr>
                                        <td style="width: 50%" class="h5">
                                            Nombre completo:&nbsp;
                                            <strong>
                                                {% if info_cliente.nombre_2 and info_cliente.apellido_2 %}
                                                    {{ info_cliente.nombre_1 }} {{ info_cliente.nombre_2 }}
                                                    {{ info_cliente.apellido_1 }} {{ info_cliente.apellido_2 }}
                                                {% elif info_cliente.nombre_2 %}
                                                    {{ info_cliente.nombre_1 }} {{ info_cliente.nombre_2 }}
                                                    {{ info_cliente.apellido_1 }}
                                                {% elif info_cliente.apellido_2 %}
                                                    {{ info_cliente.nombre_1 }} {{ info_cliente.apellido_1 }}
                                                    {{ info_cliente.apellido_2 }}
                                                {% else %}
                                                    {{ info_cliente.nombre_1 }} {{ info_cliente.apellido_1 }}
                                                {% endif %}
                                            </strong>
                                        </td>

                                        <td class="h5">
                                            Salario: &nbsp;
                                            <strong>
                                                {{ info_cliente.salario }}
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h5">
                                            Tipo de documento:&nbsp;
                                            <strong>
                                                {{ info_cliente.tipo_doc }}
                                            </strong>
                                        </td>
                                        <td class="h5">
                                            DNI: &nbsp;
                                            <strong>
                                                {{ info_cliente.dni }}
                                            </strong>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="h5">
                                            Nacionalidad: &nbsp;
                                            <strong>
                                                {{ info_cliente.nacionalidad }}
                                            </strong>
                                        </td>
                                        <td class="h5">
                                            Tipo de ingreso: &nbsp;
                                            <strong>
                                                {{ info_cliente.tipo_ingreso }}
                                            </strong>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="h5">
                                            Empresa donde labora:&nbsp;
                                            <strong>
                                                {% if info_cliente.empresa_2 %}
                                                    {{ info_cliente.empresa_2 }}
                                                {% else %}
                                                    <span class="text-warning">No registrado</span>
                                                {% endif %}
                                            </strong>
                                        </td>
                                        <td class="h5">
                                            P.E.P.:&nbsp;
                                            <strong>
                                                {{ info_cliente.p_expuesto }}
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h5" colspan="2">
                                            Dirección:&nbsp;
                                            <strong>
                                                {{ info_cliente.provincia }}, {{ info_cliente.distrito }}, {{ info_cliente.corregimiento }},
                                                {{ info_cliente.direccion }}
                                            </strong>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-info" data-toggle="modal" data-target="#cambiar_empresa"><i
                                    class="fas fa-city"></i> Cambiar empresa
                            </button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header bg-secondary text-center">
                            <span class="h4"><strong>Información del crédito:</strong></span>
                        </div>
                        <div class="card-body" style="background-color: #F5F5F5;">
                            <table class="table table-sm table-responsive-sm table-hover table-striped bg-light"
                                   style="table-layout: auto; width: 100%">
                                <tr>
                                    <td class="h5" style="width: 33%">
                                        Monto Solicitado:&nbsp;
                                        <strong>
                                            {{ info_credito.monto }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Plazo: &nbsp;
                                        <strong>
                                            {{ info_credito.plazo }} meses
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Meses extra: &nbsp;
                                        <strong>
                                            {{ meses_extra }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5">
                                        Fecha de inicio <span class="text-danger">*</span>: &nbsp;
                                        <strong>
                                            {{ info_credito.fecha_ini_OD }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Firma de contrato: &nbsp;
                                        <strong>
                                            {{ info_credito.f_contrato }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Total intereses:&nbsp;
                                        <strong>
                                            {{ total_intereses }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5">
                                        Obligación total:&nbsp;
                                        <strong>
                                            {{ info_credito.ob_contrato }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Cuota regular: &nbsp;
                                        <strong>
                                            {{ cuota_regular }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Cuota final: &nbsp;
                                        <strong>
                                            {{ cuota_final }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h5">
                                        Pagado cliente <span class="text-danger">**</span>: &nbsp;
                                        <strong>
                                            {{ pagado_cliente }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Saldo agregado <span class="text-danger">**</span>: &nbsp;
                                        <strong>
                                            {{ saldo_agregado }}
                                        </strong>
                                    </td>
                                    <td class="h5">
                                        Fecha últ. pago <span class="text-danger">**</span>:&nbsp;
                                        <strong>
                                            {{ fecha_ult_pago }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="h5">
                                        Tiempo de mora <span class="text-danger">**</span>: &nbsp;
                                        <strong>
                                            {{ tiempo_mora }}
                                        </strong>
                                    </td>
                                </tr>
                            </table>
                            <small class="text-secondary"><small class="text-danger">*</small> Definida por Orden de
                                descuento.</small>
                            <br>
                            <small class="text-secondary"><small class="text-danger">**</small> Cuotas
                                quincenales.</small>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header bg-secondary text-center">
                            <span class="h4"><strong>Detalles de nueva OD:</strong></span>
                        </div>
                        <div class="card-body" style="background-color: #F5F5F5;">
                            <form id="form_nueva_od">
                                {% csrf_token %}
                                <input type="hidden" name="action" id="action_form_od">
                                <div class="row form-group">
                                    <div class="col-12 col-md-3">
                                        <label for="saldo_ini">Saldo Inicial:</label>
                                        <input class="form-control" type="number" id="saldo_ini" name="saldo_ini"
                                               placeholder="Ingrese el valor...">
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <label for="recargos">Recargos:</label>
                                        <input class="form-control" type="number" id="recargos" name="recargos"
                                               placeholder="Ingrese el valor...">
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <label for="ajuste_cuota">Letra Regular:</label>
                                        <input class="form-control" type="number" id="ajuste_cuota" name="ajuste_cuota"
                                               placeholder="Ingrese el valor...">
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <label for="ajuste_plazo">Plazo acordado:</label>
                                        <input class="form-control" type="number" id="ajuste_plazo" name="ajuste_plazo"
                                               placeholder="Ingrese el valor...">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-12 col-md-3">
                                        <label for="fecha_ini">Fecha de inicio:</label>
                                        <input class="form-control" type="text" id="fecha_ini" name="fecha_ini"
                                               placeholder="Ingrese fecha...">
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <label for="motivo_r">Motivo de recargo:</label>
                                        <textarea name="motivo_r" class="form-control" disabled id="motivo_r" cols="100"
                                                  rows="2" placeholder="Ingrese el motivo si lo hay..."></textarea>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-12 col-md-12">
                                        <label for="notas">Notas:</label>
                                        <textarea name="notas" class="form-control" id="notas" cols="100" rows="2"
                                                  placeholder="Ingrese sus anotaciones..."></textarea>
                                    </div>
                                </div>
                                <div class="row form-group inputGroupContainer">
                                    <div class="col-md-4">
                                        <label for="orden_descuento" class="form-label">O.D. recibida y firmada:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="btn btn-outline-secondary bg-warning font-weight-normal"
                                                       type="button"
                                                       id="button-od">Cargar
                                                    <input type="file" name="orden_descuento"
                                                           id="orden_descuento"
                                                           accept="image/*,application/pdf"
                                                           hidden>
                                                </label>
                                            </div>
                                            {% if od_file %}
                                                <span id="od_span" type="text"
                                                      class="form-control text-orange"
                                                      aria-describedby="button-od">{{ od_file }}</span>
                                            {% else %}
                                                <span id="od_span" type="text"
                                                      class="form-control"
                                                      aria-describedby="button-od">Buscar archivo...</span>
                                            {% endif %}
                                        </div>
                                        {% if od_file %}
                                            <div>
                                                <a href="/media/{{ od_file_dir }}"
                                                   class="btn btn-info border border-light btn-sm"
                                                   target="_blank"><i class="fas fa-images"></i>
                                                    Ver</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer bg-secondary">
                            <div class="row">
                                <div class="col-auto">
                                    <button class="btn btn-success border-light" type="submit"
                                            form="form_nueva_od" onclick="action_edit('guardar')"><i class="fas fa-cogs"></i> Guardar Info.
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-warning border-light" type="submit"
                                            form="form_nueva_od" onclick="action_edit('aplicar2')"><i class="fas fa-cogs"></i> Aplicar nueva O.D.
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form id="token_form">
            {% csrf_token %}
        </form>
        <!-- Modal -->
        <div class="modal fade" id="cambiar_empresa" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <span class="modal-title h5 font-weight-bold" id="exampleModalLongTitle"><i
                                class="fas fa-city"></i>&nbsp; Cambiar Empresa</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="form_cambiar_empresa">
                            {% csrf_token %}
                            <div class="row mb-2">
                                <div class="col-12">
                                    <label for="empresa_1">Nombre Empresa:</label>
                                    <input type="text" value="{{ info_cliente.empresa_1 }}" class="form-control"
                                           id="empresa_1" name="empresa_1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label for="empresa_2">Registro Empresa:</label>
                                    {{ form.empresa_2 }}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_java %}

    <script src="{% static 'cobros/js_nod/ver_nueva_OD.js' %}"></script>

    <script>
        (function () {
            set_empresa_2({{ info_cliente.empresa_2_id|safe }});
        })();
    </script>

{% endblock %}

